[2015-01-14 12:09] Niklan opened #1 "Раздел: Видео"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Видео.
**Статус:** Запланирован.
**Описание:**
Раздел в котором будут выкладываться видеоролики на Drupal тематику. В нашем случае, это будут видео уроки, рекламные Drupal-ролики (по типу ассоциации), видео докладов, любительские (с кафе и кемпов)

**У видео будет:**
-  Заголовок;
-  Описание;
-  Вставка ссылки на ролик (YouTube

[2015-01-14 12:12] Niklan opened #2 "Раздел: Мероприятия"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Мероприятия.
**Статус:** Запланирован.
**Описание:**
Раздел в котором будут публиковаться информации о проходящих Drupal мероприятиях. Кемпы, конференции, кафе, обучающие лекции.

Возможно имеет смысл сделать что-то вроде мнимной\не мнимой регистрации на мероприятие. Или кнопки по принципу соц. сетей: Пойду, Возможно пойду.

[2015-01-14 12:13] Niklan opened #3 "Раздел: Выставка сайтов"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Выставка сайтов.
**Статус:** Запланирован.
**Описание:**
Раздел где каждый желающий может добавить сайт созданный на друпале на оценку окружающим.

[2015-01-14 12:15] Niklan opened #4 "Раздел: Каталог Друпал-студий"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Друпал-студии.
**Статус:** Запланирован.
**Описание:**
В данном разделе можно будет добавлять компании, которые предоставляют услуги по разработке на Друпал. Скорее всего потребуется жесткая проверка добавляемых сайтов, читаем как ручная.

Пока не совсем понятно, нужен такой раздел или нет. Планируем, если есть _против_, высказы

[2015-01-14 12:18] Niklan opened #5 "Раздел: Каталог фрилансеров"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Фрилансеры.
**Статус:** Запланирован.
**Описание:**
Любой желающий пользователь сможет добавлять себя в каталог фрилансеров, с указанием прейскуранта, описанием и т.д. Самый подходящий ориентир профиля-фрилансера — Freelansim.

[2015-01-14 12:19] Niklan opened #6 "Раздел: Заказы"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Заказы.
**Статус:** Запланирован.
**Описание:**
Каждый желающий может разместить заказ на платную помощь.

[2015-01-14 12:22] Niklan opened #7 "Раздел: Кейсы"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Кейсы.
**Статус:** Запланирован.
**Описание:**
Аналог выставки сайтов, но с детальным описанием, какие модули использовались, какие были поставлены цели и задачи, как решали проблемы, которые были встречены в ходе разработки. Пропускать с жесткой модерацией.

Скорее как-то надо провести линию между кейсом и просто сайтом на пока

[2015-01-14 12:23] Niklan opened #8 "Раздел: Конфигуратор"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Конфигуратор.
**Статус:** Запланирован.
**Описание:**
Принцип работы в некотором роде схож с вопрос-ответ. Суть такая, человек пишет задачу: "Нужно реализовать календарь на сайте", каждый желающий может предложить модули, которыми это можно решить, также по желанию добавить описание или пошаговую инструкцию как делать. Также доб

[2015-01-14 12:26] Niklan opened #9 "Раздел: Гайды"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Гайды.
**Статус:** Запланирован.
**Описание:**
Раздел где можно писать обучающие материалы. Пока что я вижу что материал привязывается к какой-то категории и\или проекту, а также версии Drupal\проекта, пишется какой-то определенной направленности гайд, который каждый может поправить, по принципу википедии и Drupal.org.

Скорее т

[2015-01-14 12:28] Niklan opened #10 "Раздел: Статья-ссылка"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Статья-ссылка.
**Статус:** Запланирован.
**Описание:**
Принцип как у публикаций. Заголовок, краткой описание и поле для ссылки. Выводится как тизер, при нажатии на заголовок переходит на страницу с полным содержимым. Можно также оставить открытым комментирование в сообществе, мало ли ссылка будет вести на закрытый сайт, типа хаб

[2015-01-14 12:31] Niklan opened #11 "Раздел: Промо-страница Drupal"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Промо-страница.
**Статус:** Запланирован.
**Описание:**
Красивая посадочная и показушная страница что такое Друпал, что может, чем знаменит, в общем  то что любят заказчики но не могут найти в русском интернете нигде.

[2015-01-14 12:31] Niklan opened #12 "Раздел: Подборки Drupal"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Подборки.
**Статус:** Запланирован.
**Описание:**
Многие наверное видели подобные статьи на хабре, где куча ссылок на разные и интересные ресурсы, гайды, скрипты и т.д. Идея та же, сделать отдельный раздел, и публиковать их от имени сообщества. Каждый может предложить ссылку с кратким описанием. При накоплении достаточной информ

[2015-01-14 12:32] Niklan opened #13 "Раздел: Хостинги и VPS"
_Раздел планируется, тут обсуждается как реализовывать._

**Раздел:** Хостинги и VPS.
**Статус:** Заморожен из-за ненужности
**Описание:**
Каждый может написать отзыв и поставить рейтинг, всё просто. Разумеется, опираясь на производительность друпала

[2015-01-14 12:35] Niklan opened #14 "Навигация по сообществу."
Я тут на каждую возможную будущую возможность или раздел сообщества создал ишью. Список не маленький намечается 13 разделов, с текущими тремя и вовсе 16.

Очень остро встает вопрос, как это всё грамотно складывать в меню, чтобы не заблудиться никому, было удобно и не пугало никого сразу. Скорее всего придется разделить всё это на несколько категорий что-то типа: Материалы, Документация и обучение,

[2015-01-14 13:48] xandeadx commented on #1
Не нужно. Есть drupal-tv.ru. Да и видео выходят крайне редко, а на русском - практически нет.

[2015-01-14 14:02] Samodelkin777 commented on #1
Согласен, не в первую очередь как минимум.

[2015-01-14 14:06] Samodelkin777 commented on #3
Тут можно подумать сразу над привязанным голосованием: Дизайн, Юзабилити, Скорость отдачи и т.д.

[2015-01-14 14:10] Samodelkin777 commented on #8
Думаю стоит объединить с разделом гайды. В смысле если на запрос решили оставить инструкцию что-бы она была доступна и в разделе конфигуратор к определенному запросу и в разделе гайды

[2015-01-14 14:17] Niklan commented on #8
Задач возникает слишком много, гайдов на всё ненапастись. Скорее имеет смысл как-то связывать гайды с конфигуратором.

[2015-01-14 14:29] Samodelkin777 commented on #8
Может не точно выразился. Если нет гайда пишем краткую инструкцию в конфигураторе. Если есть гайд прикрепляем его в качестве ответа в конфигуратор. И сделать это наглядно что-бы человек который решил ответить полной инструкцией добавил ее в гайды а в конфигуратор прикрепил. Да-бы избежать дубликатов. Тут надо прикинуть на сколько часто могут поступать типичные вопросы ответы на которые имеет смысл

[2015-01-14 14:30] Samodelkin777 commented on #8
Еще можно объединить с заказами. Поступила задача на определенный функционал, человек готов заплатить. Было-бы хорошо что-бы этот запрос был и в заказах и в конфигураторе.

[2015-01-14 14:37] Niklan commented on #8
Если человек готов заплатить ему сразу в заказы.
Конфигуратор это, назовем так, отделение от Вопрос-ответ. Чтобы там не было тупых вопросов: "Как сделать как на том сайте?". Надо чтобы вопросы стали местом где разъясняют непонятное, уточняют и помогают понять. А в конфигураторе решались конкретные задачи, а ответы были конкретными решениями.

[2015-01-14 15:09] Samodelkin777 commented on #5
Я бы не спешил с этим разделом, много других ресурсов. Будет иметь смысл когда наберется народ, когда будет рейтинг. Что-бы можно было понять человек опытен или нет, как он помогает народу, пишет статьи и т.д. На мой взгляд в этом будет плюс перед другими площадками. Главное не допускать студии т.к. в них не факт кто именно выполняет работу.

[2015-01-14 15:22] Niklan commented on #5
Поэтому для студий отдельный проект, чтобы ни те, ни другие друг другу не мешали. А раздел да, на ранних этапах попросту не нужен. Но все что запланировано и не будет сделано завтра. Постепенно, по мере необходимости. Даже текущий опрос показывает, что каталог фрилансеров и студий сейчас менее необходимый функционал.

[2015-01-14 15:26] xandeadx opened #15 "Текст комментария к ответу не проходит через фильтры"
сабж. пример - http://community.drupalife.com/comment/reply/128/162

[2015-01-14 15:38] Niklan commented on #15
Да, они отключены в комментах на ответы. Имеет смысл включить?

[2015-01-14 15:40] xandeadx commented on #15
ну да, каша ведь получается

[2015-01-14 15:47] Niklan commented on #15
Исправлено. Теперь форматы ввода действуют и в комментариях для Ответов, и Вопросов.

[2015-01-14 15:47] #15 closed, assigned to nobody

[2015-01-14 16:37] Niklan opened #16 "Добавить краткую справку на страницу добавления вопроса."
На страницу вопроса необходимо добавить справочную информацию. А если быть точным, поясняющую, зачем данный раздел, что сюда можно писать, а что нельзя.

[2015-01-14 16:38] Niklan opened #17 "Добавить поиск по заголовку при добавлении вопроса."
Добавить AJAX поиск при вводе краткого вопроса, который будет выдавать 3-5 результатов с похожими вопросами, дабы сократить дальнейшие дубли вопросов.

[2015-01-14 17:16] alexsco74 commented on #17
Ok ob!

[2015-01-14 17:23] alexsco74 opened #18 "Было бы удобно и быстро видеть tracker с сортировкой по обновлениям"
Материалов и обсуждений в которых ты "лапу приложил" ?!

[2015-01-14 18:06] Niklan commented on #18
RxB вызывался это сделать, закрепляю за ним.

[2015-01-14 18:16] SemanticsPRO commented on #18
Да, я сделаю, правда придётся, видимо, дополнительный флаг вносить, но чего-нить придумаю

[2015-01-14 18:39] xandeadx commented on #18
чем стандартный друпаловский не устраивает?

[2015-01-14 18:40] SemanticsPRO commented on #18
Тем что он корректно вопросы и ответы не выведет.
Ответы на вопросы есть отдельная нода, надо либо через связь вывернутся, либо вносить дополнительную сущность.
Буду проверять

[2015-01-14 18:41] xandeadx commented on #8
странный раздел. нигде не видел такого. все будут дублировать с вопросов

[2015-01-14 18:47] Niklan commented on #8
Идею восприняли, видимо нечто подобное нужно, можно обдумать как реализовать более отделено от вопросов, чтобы четко прослеживалось что и где спрашивать.

[2015-01-14 19:38] alexsco74 commented on #18
Оперативно, молодцы! Где вы время только "колдуете", завидую "белой" завистью.

[2015-01-15 02:22] drupby commented on #14
вот пример навигации по сообществу http://modx.ru/

[2015-01-15 08:14] Niklan commented on #14
В принципе да, неплохо. А куда отнести, допустим "Мерпориятия"? А в целом понятная структура, ясно что куда отнести. Можно сделать по принципу жмем на "Новости и статьи" открывается, так сказать, направляющая страница. Где будут последние 10 новостей, статей, и ссылки на страницы со всем содержимым, ну а также в выпадающее запихнуть их. Никто не должен будет заблудиться.

[2015-01-15 08:20] Niklan opened #19 "Добавить трекер с оповещением."
Необходимо добавить поддержку о новых комментариях и ответах на те материалы, которые подписался пользователь.

Оповещения сделать на почту, а также телефон, браузер, пк. Последние три по желанию.

[2015-01-15 12:28] adubovskoy commented on #6
Мысли о разделе:

Заказ - отдельная сущность, со следующими отображаемыми полями:
1. Автор
2. Заголовок
3. Описание
4. Вложенные файлы / ссылки на тз (если хранить накладно - то в виде ссылок, с инструкцией как пользоваться yandex.disk или др. хранилищами).
4. Бюджет (необязательно)
5. Контактные данные (показываются при клике, клик для счетчика).
6. (авто) Статус. По умолчанию - активный в течени

[2015-01-15 12:31] adubovskoy commented on #5
Искусственные ограничения приведут к тому что студии будут представлены и как фрилансеры, и как студии) Везде так, "рецепта от" еще не придумали.

Лучше действительно, просто сделать листинг "лучшие специалисты", где показывать пользователей набравших за счет ответов высокий рейтинг -- фактически это и будет хорошим и полезным каталогом для заказчика.

[2015-01-15 12:40] adubovskoy commented on #3
А чем http://drupalogy.ru/ не угодил? Может просто линк на него?

[2015-01-15 12:50] adubovskoy commented on #2
Давно была хотелка сделать удобный централизованный сервис по мероприятиям, для авторов этих самых мероприятий.
А именно:
- Чтобы был кросспостинг в твиттер с тегом, определяемым автором.
- Чтобы можно было подписаться обновление информации о мероприятии
- Чтобы участникам приходили напоминания о мероприятии почтой / смс (я спонсирую смс-гейт в первые года пол, потом может donate предусмотреть :)

[2015-01-15 13:01] adubovskoy commented on #4
Как представитель студии скажу -- уже надоело писать о себе во всяких каталогах студий)
Лучше сделать donate, не важно от кого, в стиле "community member", и показывать список тех кто помог ресурсу деньгами. И сделать список тех кто помог не деньгами, как тут https://github.com/Niklan/DrupalCommunity/issues/5#issuecomment-70079084 описано.

[2015-01-15 13:10] Niklan commented on #4
Т.е. я правильно понимаю. Делаем рейтинг пользователей в сообществе. Но их будет два:
1.  Он же основной, рейтинг по рейтингу основанному на сообществе, как помог и т.д. и т.п.
2.  Те кто пожертвовал, кто больше, тот выше.

Следовательно Каталог друпал студий и каталог фрилансеров мерджится в один этот рейтинг.

[2015-01-15 13:14] Niklan commented on #2
Отличные предложения.

Немного интересует уточнение следующего:

Это предполагается делать прямо в мероприятии, спец полями? Которые после мероприятия автором заполняются, или же каждый может свой ответ showcase с рейтингом создать, которые привяжутся?

Например в разделе видео было желание чтобы видео можно было связывать с конкретным мероприятием, т.е. он находится в своём разделе, а также легко

[2015-01-15 13:15] Niklan commented on #3
Устраивая такое у себя, мы можем позволить пользователям делать свой профиль с портфолио. А также рейтинг его работ учитывать в общем рейтинге пользователя.

И новичкам получается неудобно. Чтобы добавлять свои проекты надо регаться уже на другом сайте.

Также можно к проекту добавить поле связи с проектами друпала. А в проекте выводить случайные сайты из портфолио, где использовались данные проек

[2015-01-15 13:27] Niklan commented on #6
Пожалуй со всем соглашусь. Единственный момент. Делать переписку на стороне сайта, или же пусть сами связываются. Просто не вижу смысла делать у себя на сайте, но для начальных переписок наоборот, более предпочтительный вариант. Дальше, ясно-понятно, они скорее всего скоординируются в других мессенджерах.

Также добавлю, что лично я, хотел бы внедрить функционал по принципу oDesk:
1.  Заказчик мож

[2015-01-15 13:39] adubovskoy commented on #6
Да, наверное можно дать на усмотрение заказчика и по дефолту открывать возможность прямого общения(показывать контакты). Я к тому что строго говорить "только на сайте" не стоит - может отпугнуть.

[2015-01-15 13:41] adubovskoy commented on #2
Да, наверное гибче будет это сделать отдельной сущностью а в мероприятии референс указывать.

[2015-01-15 13:42] adubovskoy commented on #4
угу. Можно без "кто больше тот выше", а несколько градаций и внутри них без сортировки. Это наверное надо уточнять голосованием, у меня нет понимания какой вариант лучше.

[2015-01-15 13:45] Niklan commented on #2
Так проще сделать сущность "Отзыв о мероприятии":
-  Описание
-  Фотографии
-  Рейтинг(и) (организация, доклады и т.д.)
-  Связь с мероприятием. (можно автоматизировать как с ответами. Сделав форму на странице мероприятия, при этом показывать только после даты заверешения, или через сутки после даты начала, если не указана дата окончания.)

[2015-01-15 13:46] Niklan commented on #6
Тут не вопрос строго или не строго. Вопрос в целом, нужно ли нам в сообществе приватное общение или нет? Оно же открытое, а для переписок можно и в скайпе и по почте связаться. Если делать переписки, тут и node.js чатики надо подтаскивать, при этом найти того кто это делал уже.

[2015-01-15 16:06] adubovskoy commented on #6
Имхо не нужно. Ответ на заявку на работу -> по сути комм.предложение. А его сподручнее почтой/ссылкой в скайпе. Я например, будь у меня выбор, всегда бы почтой на такое отвечал и скайпом проверял получено ли. Не внутри сайта.

[2015-01-15 16:33] Niklan commented on #6
Тоже считаю что ненужно, но если тут кто решит что  нужно, наверно на это надо отдельный ишью заводить и думать зачем оно надо.

[2015-01-15 16:49] SemanticsPRO commented on #6
Не страдайте перфекционизмом.
Создал заказчик проект, к нему комменты, не на попиздеть, а для выкладки своего портфеля или прикрепления КП.
Всё.
Кому надо связаться - пусть связывается вне сайта

[2015-01-15 16:51] Niklan commented on #6
Но тут Александр прав, комменты тут точно ненужны. Если заказ уг, его все пропустят, если нормальный отзовутся. А если сделать комменты, то начнется срач и троллинг как друпал.ру, следовательно негатив и дозволенность тролить, а так хотя бы соблазна не будет.

[2015-01-15 16:56] SemanticsPRO commented on #6
Ну так сделать коменты без боди.
Или жоско установить правила, что без базара, базарящим - закрыть комменты, у меня есть модуль, на флаге сделано

[2015-01-15 17:20] xandeadx commented on #4
у нас студий то - раз два и обчёлся

[2015-01-15 17:25] xandeadx commented on #6
придумалось тут - чтобы при создании заказа клиент выбирал кого он ищет:
1. Профи (дорого)
2. Уверенного разраба (средний прайс)
3. Любого

[2015-01-15 17:31] xandeadx opened #20 "Возможность привязать аккаунт из социалок для уже зарегистрированного пользователя"
сейчас почему то такой возможности нет

[2015-01-15 17:32] SemanticsPRO commented on #20
Ога, взял задачку

[2015-01-15 17:34] xandeadx commented on #12
если за ссылки будут начисляться какая-нибудь карма, то нормально :)

[2015-01-15 17:37] Niklan commented on #12
Можно даже кажду такую ссылку в сущность отделить, и у каждой ссылки будет свой рейтинг. Также её добавить категорию. Следовательно, автор спокойно сможет получать заветные плюсики)

Т.е. это всё можно на автоматизм поставить полный.

[2015-01-15 17:38] SemanticsPRO commented on #13
Может добавить туда же "Производительность и масштабирование", отчасти пересекается

[2015-01-15 17:39] Niklan commented on #13
А что будет в "Производительность и масштабирование"?

Имеется ввиду там будет список хостинговых компаний, юзеры будут рейтинги пилить.

[2015-01-15 17:39] xandeadx commented on #12
с рейтингом не очень. представь сотню ссылок и у каждой рейтинг

[2015-01-15 17:40] SemanticsPRO commented on #13
А, ок, я чота прогнал.
Тогда предлагаю сделать типа мана по бенчмарку хостингов и добыче инфы оттуда.
Чтобы отзывы были полны

[2015-01-15 17:41] xandeadx commented on #12
думаю так:
1. есть форма для добавления ссылки и краткого описания
2. кто-то модерит ссылки
3. каждую неделю ссылки собираются в дайжест и авторам начисляется циферка

[2015-01-15 17:41] Niklan commented on #12
Тогда еще вариант. У подборки свой рейтинг. Указать всех кто участвовал в составлении подборки не сложно, а также какой влкад (кол-во ссылок) сделал юзер. Затем по формуле, от рейтинга статьи % отдавать юзеру, соответсвующий % от всех ссылок.

Или просто определенное кол-во начислять как-то.

[2015-01-15 17:42] SemanticsPRO commented on #6
@xandeadx все тогда профи искать будут, но по прайсу Петра Иванова из соседнего подъезда, который запилил сайт клана на юкозе

[2015-01-15 17:42] Niklan commented on #13
Ну это вполне можно в раздел гайды будет запилить статью. Как мерить производительость, и дать ссылку на неё при добавлении отзыва, чтобы по гайду прогнали лишний раз.

[2015-01-15 17:43] xandeadx commented on #13
хостинг это ж дико субъективно и зависит от опыта, пока непонятна перспектива

[2015-01-15 17:43] SemanticsPRO commented on #7
Не читал, но осуждаю(с)
Не стоит ли гайды и кейсы объединить?

[2015-01-15 17:45] Niklan commented on #6
@SemanticsPRO нет. Пойти по принципу oDesk, там такая штука есть кстати говоря и никто не злоупотребляет.

Т.е. у каждой из градации есть мин. цена часа и бюджета которую может указать заказчик.
Допустим любому, любую цену.

А профи жестко 20$/час или выше, и всё. Тогда будут понимать какой ценовой категории им нужен.

Надо порыться на oDesk и его дочке, там заказы очень хорошо организованы. Счита

[2015-01-15 17:46] Niklan commented on #7
Гайды это же обучающие материалы а не рекламного характера.

Кейс подразумевает минимум технической части. Скорее с портфолио объединять надо, расширенные поля какие-то добавить и всё. А для мотивации таким добавлять золотую рамочку.

[2015-01-15 17:48] SemanticsPRO commented on #6
@Niklan, ну вот я например знаю некоторых разрабов, вполне себе профи.
Но ставка у них ниже, есть и за 10 баксов работают.

[2015-01-15 17:48] Niklan commented on #13
Как минимум удобный лист где поддерживается друпал и отзывы местных. На друпал.ру регулярно же пролетают вопросы, а где мне сайт то держать?

[2015-01-15 17:49] Niklan commented on #6
@SemanticsPRO тут ещё очень много зависит от скорости работы. Может они делают функционал профи 20$/час за 2 часа и сумма та же.

Надо обдумать, идея кстати неплохая. Все же надо дать как-то заказчику ограничить слегонца тех кто будет писать. Смысл ему будет читать 100500 новичков если ему нужен профи, а новичкам писать в поисках удачи.

[2015-01-15 17:50] Niklan commented on #4
Тоже верно. Но как я вижу, рейтинг пользователей смело объединит в себе каталог фрилансеров и компаний. Добавить эти разделы можно будет всегда, а рейтинг пользователей хоть как бы пригодился.

[2015-01-15 17:53] SemanticsPRO commented on #6
Я за свободный рынок, особенно в начале.
Кто будет квалификацию разрабов устанавливать?
Я тебе - ты мне?

На д.ру лет 6-7 назад поднимался вопрос сертификации, воз и ныне там

[2015-01-15 17:56] Niklan commented on #6
Пофиг, пусть по началу будет свободно. Потом добавить можно, не долго ведь.

[2015-01-15 18:16] adubovskoy commented on #6
Можно сделать ход конем и увеличить мотивацию))
Публикуется заказ/вакансия. Первые 12 часов (если что - потом можно цифру подправить) на нее откликнуться могут(увидеть контакты, или маякнут что могут взяться) только 20% пользователей с высоким рейтингом (берем выборку всех, отбираем лучших на данный момент). Через 12 часов откликаться могут все.

[2015-01-15 18:18] adubovskoy commented on #13
Если стоит вопрос хостинга под это дело - могу площадку предоставить на наших машинках)

[2015-01-15 18:25] xandeadx commented on #6
и клиент 12 часов теряет деньги, потому что все профи заняты :)

[2015-01-15 18:34] adubovskoy commented on #6
нене, смотри, этим мы:
1. убираем "школьный демпинг" - ко времени низкоценовых предложений заказчик уже скорее всего поболтал с кем-либо из активных участников.
2. мотивируем всех отвечать и помогать людям (выливается в конкурентное преимущество/деньги)
3. формируем позитивное первое впечатление у заказчика (высокий рейтинг == высокая адекватность. если нет -- надо настроить рейтинг чтобы было так

[2015-01-15 18:38] SemanticsPRO commented on #13
Ты скорее SOLR предоставишь

[2015-01-15 18:43] adubovskoy commented on #6
И по поводу комментов - считаю что любое оповещение, где всем видно кто откликнулся, вредно. Почему:
1. Многие знают "конкурентов" (если можно так назвать) по нишам. Т.е. если я откликнусь в теме про создание визитки -- это может сильно отбить желание у других присылать свои предложения)) А результат -- меньше предложений у заказчика, меньше значимость ресурса.
2. Легко поддается "роботизации" (от

[2015-01-15 18:43] adubovskoy commented on #13
solr можно.
p.s. а тут разве не elasticsearch?)

[2015-01-15 18:44] SemanticsPRO commented on #13
Да время покажет.
Я за SOLR, Никита за эластик.

[2015-01-15 19:33] Niklan commented on #13
Никита уже за solr, но пока руки не дошли погонять его, как только разберусь на виртуалке, подключу к сайту. Но подключу если получиться настроить русскую морфологию.

Эластик хорош, но модули дубовые, а свой писать долго будет. Они фильтры не поддерживаются которые нужны для морфологии в нём.

[2015-01-15 19:36] Niklan commented on #6
Я тоже за то чтобы никто не видел кто откликнулся. Максимум кол-во показывать, но не имена.

[2015-01-15 20:13] SemanticsPRO commented on #13
Ну так давай у Саши возьмём, всего-то за кнопку в подвале 110х50 пикселей.

[2015-01-15 20:18] SemanticsPRO commented on #6
Кстати, стоит взять пример с фрилансим

[2015-01-15 20:19] adubovskoy commented on #13
зачем кнопкой дизайн портить?)

[2015-01-15 20:19] SemanticsPRO commented on #13
Ну нахаляву давай значит

[2015-01-16 11:35] semyondragunov commented on #4
Может компании сделать как ноду с референсем на юзера? Аля Гитхаб и т.д.
И тут уже думать:
1) Пока юзер не достигнет определенного уровня фиг ему а не добавить компанию в сообщество...
2) ХЗ

[2015-01-16 11:41] semyondragunov commented on #11
Не считаю целесообразным. Т.к. каждая контора/человек по своему будет представлять друпал в нужном ему свете.

[2015-01-16 11:46] Niklan commented on #11
Лол, именно поэтому и нужна данная страница, чтобы все представляли в едином стиле. А каждая конторка\человек выделит наиболее важные или вообще другие плюсы системы, если потребуется.

Люди мало знаот о друпале, нам нужно рассказывать о нем, и доступно, в видео промо-странички. Не будут же потенциальные заказчики обращаться  в студии чтобы про друпал узнать.

[2015-01-16 11:47] adubovskoy commented on #11
Можно просто перевести drupal.com

[2015-01-16 11:51] Niklan commented on #11
Да, для начала отличный вариант. Но в дальнейшем, думаю надо будет хорошо поработать над страничкой, сделать разделы для заказчиков и программистов где будет целевая информация.

Сейчас же, на drupal.com достаточно скудно всё, а всё потому, что он в рекламе за рубежом не нуждается.

[2015-01-16 11:55] semyondragunov commented on #11
Ну если нефиг делать будет запилите!) Пока не принципиально, так как ЦУ (целевая аудитория) у сообщества это прогеры.

[2015-01-16 12:03] Niklan commented on #11
У нас наоборот же ЦУ начинающие разрабы и заказчики. Прогеры отностятся к начинающим, если не знают друпал и он тоже им должен быть представлен. А если прогер уже друпалер, ему и сообщество то как таковое не нужно, т.е. по сути ни оден раздел кроме мероприятий и заказов.

[2015-01-16 12:11] semyondragunov commented on #11
А как ты заказчиков будешь зазывать на сайт? Сами они фиг его найдут, ну во всяком случае не в первые полгода-год. Тут могут помочь конечно коммерческие конторы, но из-за ващего фриланс раздела это палка о двух концах. Других вариантов я не вижу. Да и вообще это отдельный разговор для отдельной темы.

С прогерами та же кухня кстати. Все на друру попадают.

[2015-01-16 12:23] Niklan commented on #11
А зачем нам чтобы уже завтра они были. Пока особо огромного наплыва и не нужно, легче будет менять всё и улучшать.

Если контент появится, начнут попадать, куда денутся. Если так пессемистично смотреть, то ни одно бы альтернативное сообщество не взлетело, а их уймы.

Уже вроде давно стало понято, что drupal.ru как домен нам нафиг не вперся. Да он клевый, но если концетрация будет на другом ресурсе

[2015-01-16 12:29] semyondragunov commented on #11
Я про домен, то что он весь поиск забил. Ну не весь но ОЧЕНЬ большую часть. Ладно, разговор не об этом.

[2015-01-16 13:35] Niklan commented on #11
Ну будет он первым, сообщество, допустим вторым, какая разница то. Человек в 99.9% не найдет ответа по первой ссылке, пойдет по второй, а мы его уже тут ловить будем)

[2015-01-16 16:16] Niklan commented on #13
Мимокоммент, переведено на Solr от ra-don.ru

[2015-01-16 17:54] adubovskoy opened #22 "Специфика словаря"
Требуется переписать словарь с учетом след."синонимов":
друпал/drupal
обновление/обновить/обновился
...
наращивайте список, поправим скопом.

[2015-01-16 17:59] Niklan commented on #22
Раз солр не понимает транслитерацию, по самым популярным и ходовым транслитерациям в сообществе, думаю стоит сделать синонимы. Указываю в единственном числе, надеясь что склонения уже подхватит у синонимов.
-  views - вьюс
-  panels - панель
-  drush - драш

[2015-01-16 18:33] SemanticsPRO commented on #22
pane - панель
Лучше так наверно

[2015-01-16 19:27] Niklan commented on #22
api - апи
form - форма
alter- альтер
hook - хук

[2015-01-17 04:29] SemanticsPRO opened #23 ""Бухгалтерские" вопросы"
Подумалось тут.
Может стоит завести нечто для обсуждения легальной работы, финансовых вопросов и etc?

[2015-01-17 05:47] Niklan commented on #23
Юр. раздел что ли? Думаешь будут обсуждать?

[2015-01-17 06:04] semyondragunov commented on #23
Поясните плз, что из себя будет представлять раздел?

[2015-01-17 06:58] xandeadx opened #24 "Модераторы"
Нужны наверно люди, которые будут:
- переносить ответы в комментарии ( http://community.drupalife.com/question/160 )
- править информацию о вопрос (заголовки, таксономию)
- создавать категории
- удалять спам и прочее

[2015-01-17 06:59] xandeadx commented on #23
а подшивки раздела каждый месяц отправлять в налоговую :)

[2015-01-17 07:00] Niklan commented on #24
Нужны, однозначно.

[2015-01-17 08:52] semyondragunov commented on #23
to, xandeadx: )))))))) шпиёны, шпиёны)

А Вообще отставьте не программерскую/друпальную часть, специализированным форумам и сайтам)

[2015-01-17 10:59] xandeadx opened #25 "Запретить писать ответы создателю ноды и ограничить число ответов"
1. Нужно запретить создателю вопроса писать ответы. Для этого есть комментарии.
2. Запретить оставлять больше одного ответа. Для этого есть функция редактирования первого ответа и комментарии к ответу.

[2015-01-17 11:03] Niklan commented on #25
Забрал, действительно полезно.

[2015-01-17 12:00] Niklan commented on #25
Сделано.

[2015-01-17 12:00] #25 closed, assigned to Niklan

[2015-01-17 12:21] semyondragunov commented on #19
На сайте бы тоже как-нибудь обозначить.

[2015-01-17 12:26] Niklan commented on #19
Ждем трекера от RxB

[2015-01-17 12:57] #23 closed, assigned to nobody

[2015-01-17 12:58] adubovskoy commented on #23
солидарен

[2015-01-17 14:32] semyondragunov commented on #3
Да, регаться на другом сайте, не очень хочеться.

Ещё советую сделать, автоскрин сайта, как на anseo и в вебмастерках гугла и яши. И причем иногда их обновлять, так как сайты тоже время от времени обновляются.

З.Ы.: На  http://drupalogy.ru/ неадекватные оценки.

[2015-01-17 15:17] adubovskoy commented on #3
Я вообще не вижу реальной практической пользы от выставки сайтов в виде "просто каталог". Имеет смысл? Для оценки? Это будет выливаться в "нравится, не нравится", для того чтобы был фактический анализ - нужна вводная информация, это уже кейс.

Имхо лучше чтобы был только формат кейсов - вот сайт, вот рецепты и решения, вот модули и т.п.
Т.е. хочешь повесить сайт показать и начать обсуждение -- дай

[2015-01-17 15:21] semyondragunov commented on #3
Да, всё верно.
И правильный вопрос будет: "Или кейс или каталог сайтов?".

Я за кейсы.

[2015-01-17 15:30] Niklan commented on #3
Тогда стоит это скорее не "Каталог сайтов" а "Сайты сделанные на Drupal", или около того обозвать.

Просто была идея, парсить в порфтолио сайтов с ТИЦ и свистопердлеки сделать, типа общиц ТИЦ сайтов в нашем каталоге, страниц в индексе сайтов на друпале и т.д. и т.п. Никому не нужны, но потенциальным заказчиком это понравится лол. Хотя это лишь больные фантазии моего мозга.

[2015-01-17 15:33] adubovskoy commented on #3
Тогда тут подмена задачи.
Задачу "показать заказчикам друпал и крупные сайты" решает промо-страничка про друпал и несколько (всего несколько, зато оч крутых) примеров сделанных сайтов (drupal.com не устану приводить в пример - нужен просто блок "Работают на Drupal" :)

[2015-01-17 15:36] Niklan commented on #3
Да с drupal.com всё ясно, сделаем промо-страничку как drupal.com. Хоть 1 в 1 но на русском, не проблема. Я сверстаю, кто-то переведёт, всё будет в общем.

Что делать с каталогом\выставкой сайтов. Кейсы не будет писать никто, у нас не такое крупное сообщество как drupal.org, даже для их сообщества новые кейсы появляются на так часто.

Либо мы будем жестко модерировать, и пускать реальные кейсы, с н

[2015-01-17 15:38] semyondragunov commented on #3
to, Niklan: А если он разраб а не SEOшник, то откуда тиц? Ну и так далее, по накатаной. Не считаю нужным.

Если будут кейсы, то самые крутые можно привязать ссылками на промо-страницу с фразами мол "Оно пашет на друпал"))).

[2015-01-17 15:39] adubovskoy commented on #3
Тогда может пока просто закрыть ишью выставки и кейсов, непонятная и неприоритетная задача, непонятно как делать. Если в постах появится несколько обзоров сайтов (это ж в принципе блоговый формат) - будем думать про кейсы.

[2015-01-17 15:40] semyondragunov commented on #3
Наврятли они сами там появяться. Надо б на самом сайте и спросить!

[2015-01-17 15:42] Niklan commented on #3
Хорошо, давайте пока данный ишью закроем, если появится идея для реализации, открывайте из закрытых, дабы не терять нить почему отказались ранее.

[2015-01-17 15:42] #3 closed, assigned to nobody

[2015-01-17 15:44] adubovskoy opened #26 "Подсветка ссылок в комментариях"
В текущей настройке markdown ссылки автоматом не подсвечиваются. Постоянно когда даю ссылку куда-либо, ручками писать <> неудобно. Может markdowneditor включить для комментов?

[2015-01-17 15:49] semyondragunov opened #27 "Ответы в комментариях"
В ответах на вопросы можно оставлять коменты, и отвечать на них.

Идея: Выстроить дерево ответов, так как нифига непонятно, кто, что и кому сказал.
Так же уменьшить отступы и чуть изменить диз, чтобы они занимали меньше места.

[2015-01-17 15:52] Niklan commented on #27
Дерево в комментариях ненужно. Моё мнение. Будет полнейшая каша и неразбериха.

[2015-01-17 15:53] Niklan commented on #26
В смысле BUEditor включить в комментариях? Если да, то я за.

[2015-01-17 16:04] adubovskoy commented on #27
я думаю это можно просто отложить, потом как будут у нас многокилометровые ленты, склонить на dev-сервак, попробовать отступы и посмотреть нужно оно или нет.
Сейчас не нужно имхо.

[2015-01-17 16:04] adubovskoy commented on #26
да

[2015-01-17 16:16] Niklan commented on #26
Готово.

[2015-01-17 16:16] #26 closed, assigned to Niklan

[2015-01-18 09:20] semyondragunov commented on #27
Отложить можно, так как сейчас не критично. Но думаю станет критично скоро.

Если надо закройте тикет)

[2015-01-18 10:17] Niklan commented on #27
Пока закрываю.

[2015-01-18 10:17] #27 closed, assigned to nobody

[2015-01-18 18:18] xandeadx opened #28 "Сортировка вопросов по дате добавления ответа/комментария"
сабж

[2015-01-18 18:19] xandeadx opened #29 "Выводить число новых ответов/комментариев"
В списке вопросов у каждого вопроса выводить число новых ответов/комментариев с даты последнего просмотра вопроса

[2015-01-18 19:53] Megawing commented on #29
Поясните пжта смысл комментариев к вопросу и к ответу? Не мешают ли они и нужны ли вообще? Есть же вопрос и список ответов к нему и все - насколько я понял такая задумка.

[2015-01-18 19:58] xandeadx commented on #29
Это по поводу моего предложения или просто офтоп?

[2015-01-18 20:30] adubovskoy commented on #29
оффтоп.
2megawing: они хорошо структурируют вопрос. http://community.drupalife.com/question/165 - пример. Есть разные ответы в разную сторону тянущие дискуссии. Комментарии к ним - уточняют конкретное направление. Будь все в общей ленте - путались бы. А так - будет понятно что обсуждаем. И лучшие ответы и их ветки комментариев будут вверху.

[2015-01-18 20:34] adubovskoy commented on #28
только если вид сортировки можно будет переключать (мне например по новым вопросам интересней). и хранить предпочтения пользователя - как ему по дефолту сортировать

[2015-01-18 21:33] adubovskoy opened #30 "Вход на сайт"
После логина бы возвращать не в профиль, а на страницу откуда был совершен вход.
Самый простой способ - добавить ?destination к кнопке

[2015-01-19 05:46] Niklan commented on #29
@Megawing порой часть ответа может прозвучать в комментариях. Не редкий случай на сайтах с подобным структурированием (stackoverflow), когда ты находишь ответ, но прямо чего-то не хватает, или еррор мелкий, непонимание, то такие моменты уточняют в комментариях ответа.

P.s. для упоминания автора в комменте на гитхабе можно использовать @ - тогда ему придёт оповещение об ответе.

[2015-01-19 06:08] Niklan commented on #30
Готово :+1:  85bbf79f46d1232dd41f11584ee186c0a1319014

[2015-01-19 06:08] #30 closed, assigned to Niklan

[2015-01-19 17:44] adubovskoy opened #31 "Изменение комментария переписывает дату"
Итого - http://community.drupalife.com/question/246#comment-245 .
Т.е. написал коммент, получил ответный коммент, решил в своем комменте ссылку сделать кликабельной -> получил свой коммент ниже чем ответ.

[2015-01-19 18:16] Niklan commented on #31
Не смог его воспроизвести.  Отредактировал - дата осталась прежней.

[2015-01-19 18:46] fortis opened #32 "Информация в профиле (Соц.профиль)"
Что если дать возможность подключать к аккаунту ссылки на
- Facebook
- Vkontakte
- Twitter
- Github
- другие

Кроме того выводить такую информацию (поштучно подключается по желанию):
- активность на гитхабе (колличество коммитов, дата последнего коммита)
- активность на друпал орг (коммиты, мейнтейнерство)

как менее значимые можно рассмотреть:
- возможность подключать отзывы FL.ru (количество хор

[2015-01-19 18:56] fortis commented on #31
тоже не удалось воспроизвести
но отвечал сам себе

[2015-01-19 20:39] fortis opened #33 "Внешний вид комметариев"
Имхо, но кажется плохо читаются комменты, ответы совсем мелкие, а цитаты в них крупные, если почитать тему с большим количеством комментов, например http://community.drupalife.com/question/165 то бросается в глаза коммент хулигана (крупный), при этом на гитхабе визуально все просто и понятно https://github.com/Niklan/DrupalCommunity/issues/29 так давайте и возьмем форму редактирования коммента и в

[2015-01-19 21:00] Niklan commented on #33
Считаю вид комментариев надо приводить к stackoverflow. В вопросах однозначно. В остальных можно как на гитхабе. Могу переоформить.
Также надо комментам в ответах и вопросах слева отступа добавить.

[2015-01-19 21:02] fortis commented on #33
а чем вид как в стеке лучше для вопросов чем вид гитхаба? он мне кажется более лаконичен.
лучше один стиль обсуждений иметь.

я разницу вижу только в том что в вопросах акцент сделан на голосовании за ответ, две стрелки и число поместятся под аватарку в самый небольшой коммент (как твой выше трехстрочный), как еще лучше это оформить можно придумать потом, а пока готовое взять например

[2015-01-19 21:19] adubovskoy commented on #33
Гитхаб для обсуждений (удобно обсуждать, нет доминирующего поста), стек - для коллекционирования базы готовых ответов (удобно читать, есть доминирующая реплика -- ответ и сопуствующие -- комментарии(уточнения по сути) к ответу).
Соглашусь с Никитой, в вопросах надо как в стеке.

Цель раздела в итоге - чтоб пользователь пришел с поисковика и за максимально короткое время увидел решение своего ответ

[2015-01-19 21:44] fortis commented on #33
теперь понятно, не рейтинговые ответы свернуты до минимума, но и с таким подходом есть что переверстать, на этом поддомене кстати красивее стек http://aviation.stackexchange.com/questions/11766/can-a-large-passenger-aircraft-recover-from-a-stall

[2015-01-19 22:02] fortis opened #34 "Подсветка кода"
**Поправьте если пропустил и уже есть какое-то решение**, предлагаю использовать Codemirror, нравится тем что есть хоткеи и удобные аддоны.
Подключу его к bueditor кнопкой и повешу на подсветку кода в тексте. Взял себе

[2015-01-19 22:35] fortis commented on #22
а почему solr не понимает транслитерацию? там же есть analyzer index/query http://wiki.apache.org/solr/AnalyzersTokenizersTokenFilters#solr.ASCIIFoldingFilterFactory
правда токенизеры только для fulltext работают, но это вроде только в помощь нам.

синонимы кажется через запятую лучше сразу писать чтоб проще было копипастить.

##

хтмл, html
яваскрипт, javascript, js
drupal, друпал, дрюпал, друпл,

[2015-01-20 10:50] adubovskoy opened #35 "Метаразметку для вопросов-ответов сделать"
Помочь поисковикам.

Источники:
https://www.w3.org/wiki/WebSchemas/QASchemaResearch
http://schema.org/Question
http://schema.org/Answer

[2015-01-20 11:50] Niklan commented on #34
Прикольная штука Codemirror, но как её вставлять посередине текста? Придется добавлять поле для ввода кода, а затем токены типа [code:1] чтобы из первого поля код подставлял.

[2015-01-20 11:53] semyondragunov commented on #33
https://github.com/Niklan/DrupalCommunity/issues/27

[2015-01-20 11:57] fortis commented on #34
мне кажется лучше по кнопке буедитора открывать попап и писать код отдельно от текста и по кнопке вставлять в позицию курсора
![](http://3xff.net/6kyok20011455.png)

[2015-01-20 11:58] semyondragunov opened #36 "Улучшение комментариев для ответов"
На друру, можно выделить часть текста, жмякнуть кнопку и получишь цитату в окне редактора текста внизу. Это мне нравилось, это очень удобно. Предлагаю сделать тоже самое.
Вы скажете, а редактора нет при комментах: ну дак пусть выделит жмякает и едитор появится, в модалке можно, а можно и развернуть под ответом/вопросом. И вообще путсь едитор при комментах появляеться всегда, без перезагрузки.

Зач

[2015-01-20 11:59] SemanticsPRO commented on #36
ajax comments подтянуть только если.
Цитирование "как на д.ру" у меня есть в двух вариантах, непосредственно как на д.ру и для модуля quote

[2015-01-20 12:03] fortis commented on #36
пока ж еще не решили будут ответы на комменты деревом или нет, если будут то с цитатами выйдет фигня

[2015-01-20 12:09] fortis opened #37 ""Ответить" - убрать в обсуждениях"
ссылка не нужна (нет дерева) и ведет на отдельную страницу. нужна только в вопросах-ответах

[2015-01-20 12:10] semyondragunov commented on #36
Деревом в любом случае будет ИМХО, только позже.
Ну тогда редактор для комментов в модалку пихать чо...

[2015-01-20 12:13] semyondragunov commented on #37
Да, тупо переименовать в "добавить коммент".
А по поводу отдельной страницы: https://github.com/Niklan/DrupalCommunity/issues/36

[2015-01-20 12:15] Niklan commented on #33
Ты предлагаешь дерево комментариев, а тут непосредственно оформление. Массивное или минималистичное строчкой.

[2015-01-20 12:17] Niklan commented on #34
Хорошая идея. И еще надо дать выбора языка, так как текущий скрипт от мазиллы нифига не детекстит, ему надо классы добавлять типа language-XXX, где XXX-язык

[2015-01-20 12:18] semyondragunov commented on #33
Вообще-то я там тоже предлагал убрать уменьшить отступы в комментах, а то всё большое. Тупо теряешься.

[2015-01-20 12:19] Niklan commented on #36
Не нужно дерево комментов в ответах, ну вообще ненужно. Вы представьте нить, куда она потянется? Проще приучить обращаться по имени\нику, чем такие огороды раздувать вправо, а если в ответе код? Он же утпо нечитаем будет. 100% ненужно в ответах делать комментарии древовидными.

[2015-01-20 12:23] semyondragunov commented on #36
@Niklan Ну идея здравая. Тогда отставить кнопку "Ответить", но придать ей функцию: открываем модалку с редактором и вприсываем в начало ник для коммента. К примеру как я сделал в этом сообщении. Но привязка @Niklan будет не к пользорвателю, а к комментарию по пермалинку.

[2015-01-20 12:31] xandeadx commented on #24
Могу править заголовки и проставлять таксономию

[2015-01-20 12:35] Niklan commented on #24
Надо бы роль модератора сделать.

[2015-01-20 12:35] Niklan commented on #24
Пф, нельзя несколько человек привязать :baby_chick: Сделаю сам тогда.

[2015-01-20 12:36] UksusoFF opened #38 "RSS"
То что RSS есть это хорошо!
http://community.drupalife.com/post/16
Но почему его нет в head?
link rel="alternate" type="application/rss+xml" title="DrupalCommunity: Вопросы" href="http://community.drupalife.com/rss/questions"

[2015-01-20 13:13] Niklan commented on #38
Да потому что он выведен через одно место, вот и нету) Надо добавить.

[2015-01-20 13:32] xandeadx commented on #36
+1. категорически не нужно

[2015-01-20 13:40] fortis commented on #34
http://codemirror.net/mode/index.html
думаю для минимума достаточно будет
- CSS
- PHP
- SQL
- XML/HTML
- YAML
- diff

LESS Sass SCSS на потом если появится необходимость, чтобы не раздувать список

[2015-01-20 13:42] fortis commented on #36
В вопросах-ответах ссылка скорее всего нужна только для комментариев первого уровня, там ведь не дискуссии, обсуждение одного из вариантов решения проблемы

[2015-01-20 13:45] Niklan commented on #34
А теперь решить надо кто это сделает. Я BUEditor из просьб влепил, не юзал, поэтому незнаю. Могу попробовать добавить кнопку, но не уверен) Просто если есть кто точно знает как шустро сделать, лучше скинуть, а так сами пороемся)

[2015-01-20 13:45] semyondragunov commented on #36
@fortis И что, что обсуждения, то есть я буду писатьв пустоту и непонятно кому. Видишь щас же понятно что тебе написал. Это применимо только к комментариям.

[2015-01-20 13:46] fortis commented on #37
как тут по символу @ можно выводить список имен для вставки в редактор и этого должно быть достаточно

[2015-01-20 13:46] Niklan commented on #36
Так значит надо приучить обращаться по имени\нику.

[2015-01-20 13:46] fortis commented on #34
я делаю, назначил же себе)

[2015-01-20 13:47] fortis commented on #36
символ @ есть у всех на клавиатуре))

[2015-01-20 13:47] semyondragunov commented on #36
@Niklan Да!!!! Я к этому и веду, и чтобы упростить это, сделать данный функционал.

[2015-01-20 13:47] Niklan commented on #34
Ну ты назначил даже когда не решено было что делать, а так ок. Ждём эпика)

[2015-01-20 13:47] fortis commented on #36
@Niklan @Niklan
@EmperorSAM
у меня вот получается ^^

[2015-01-20 13:48] semyondragunov commented on #36
Давайте уже вердикт и позакрывает кило ишьюзов сразу.

[2015-01-20 13:48] fortis commented on #36
я бы вообще не делал цитирования оно засоряет комменты только

[2015-01-20 13:52] semyondragunov commented on #36
@fortis Я думаю сначала надо попробовать просто добавить мною предлагаемый функционал. И посмотреть чем будут чаще пользоваться к комментах, цитатой или обращением по нику. ИМХО чаще будут 2м.

[2015-01-20 13:54] semyondragunov commented on #37
Зыкрывай ишью, всё равно все спроты тут: https://github.com/Niklan/DrupalCommunity/issues/36

[2015-01-20 15:51] Niklan commented on #36
Во вариант придумал.
![вариант](http://i.imgur.com/jFvgtsR.png)
Значит так. Отображаем небольшую кнопочку "N ответ(-а, -ов)". При нажатии показываются все комментарии к ответу, при повторном закрываются. Ну и стрелочка будет менять вид, типа внизу вверх.

Плюсы:
-  Изначально страница пустая, сплошные ответы;
-  Экономия места;
-  Можно отображать в более крупном формате, а не мелком, включая ават

[2015-01-20 16:00] semyondragunov commented on #36
Надо добавить в эту кнопку (Новых N Коментов или тупо цифру). Идея норм ИМХО.
А что по поводу редактора и коментов то?

[2015-01-20 17:37] fortis commented on #36
аватарка не в тему как-то рядом со стрелками.

зачем придумываешь, возьми как есть, все уже придумано и эффективно используется. сейчас на стеке видя ответ я пробегаюсь по мелким комментам чтобы заранее увидеть возможные проблемы, особенно если вариантов решения мало и они проблемные - прятать их не надо совсем.

[2015-01-20 22:16] Niklan opened #39 "Ссылка на данный репозитарий в сообществе."
Считаю что нам необходимо сделать на видном месте ссылку/баннер на данный репозитарий или ишьюсы напрямую, чтобы каждый мог увидеть и при желании поучаствовать с нами в дискуссиях.

[2015-01-20 23:46] AkPeter opened #40 "Добавить метку "Готов оплатить время" к типу Вопросы"
Думаю полезная фича, зачастую вопрос так или иначе не решаем без реальной помощи спеца, а труд должен оплачиваться. У самого подобных вопросов уже копится порядочно, но без ТЗ пока не пишу их...

[2015-01-21 07:37] Niklan commented on #40
Будет раздел заказов, думаю это будет как раз его цель. Вопрос-ответ это раздел для решение каких-то мелких недопониманий или просто чтобы направили на правильны путь, а не решения всего за того кто задал вопрос. Считаю что если мы сделаем такую галочку + появится раздел заказов, народ не будет понимать разницы.

Если только что-то хитрое сделать. По типу как на staoverflow. Допустим за решение во

[2015-01-21 09:29] adubovskoy opened #41 "Публичные правила"
Вопрос архитектурный и идеологический. Следует ли делать публичную систему правил. Задумался после того как опубликовал рекламу - http://community.drupalife.com/question/269 .

Два подхода -
1. Правила нужны, должны следить модераторы. в формате drupal.ru это не работало.
2. Правила не нужны. Нужен просто умный рейтинг. Тот кто набрал много минусов не публикуется, пост с многими минусами сворачива

[2015-01-21 09:35] Niklan commented on #41
Да, нужно саморегулирование. Пусть само сообщество решает, что есть хорошо, а что плохо. Порой реклама может оказаться очень полезной, так что чтобы всех под одну гребенку не закидывать, надо дать возможность решать каждому лично.

Но я считаю нам нужны правила для материалов на сайте, и тут более-менее четкие. Например, по вопросам, написать для чего он, что тут можно спрашивать а что нельзя, что

[2015-01-21 09:42] Niklan opened #42 "Роль: Модератор"
#24 - Есть предложение сделать модераторов. Создаю отдельный ишью чтобы решить, какие права будем давать роли модератор.

Для начала:
-  Правка\редактирование любого материала на сайте (Вопросы\Публикации). Проекты пока думаю не надо давать редактировать, они живут своей жизню и полностью автоматизированы.

Нужно ли дать возможность удаления? И что еще можно выдать?

Будем ли помечать модераторов

[2015-01-21 09:46] drupby commented on #41
Правила нужны в любом случае для публикации(снятия с публикации) вопросов и ответов, как пример для изучения можно взять http://drupal.stackexchange.com/help, только у них сделан каждый пункт на отдельной странице и на странице help выведены ссылки на все пункты, можно все правила оформить на одной странице в виде вопрос/ответ.

[2015-01-21 10:08] drupby commented on #42
Право на удаление не нужно, вместо него же можно просто снимать с публикации

[2015-01-21 10:58] fortis commented on #41
тоже считаю что одно другому не мешает)

[2015-01-21 13:27] Niklan opened #43 "На мобильных и планшетах комментарии нечитаемы"
Немного недопилены респонсив настройки для комментов публикаций, превращаются в нечитабельную кашу на телефонах и планшетах.

Я знаю как почbнить, позже сделаю, как напоминалку повешу.

[2015-01-21 15:34] Niklan commented on #43
Исправлено в 4dec753

[2015-01-21 15:34] #43 closed, assigned to Niklan

[2015-01-21 17:39] Niklan opened #44 "Вариант нового дизайна (оформления)"
Текущий дизайн в сообществе делался на коленке абы как для галочки. Разумеется, рано или поздно нам придётся его менять. Я люблю, отдыхая от кодинга рисовать в Inkscape, по крайней мере учиться и пробовать. И набросал свой новый вариант. Если задумка понравится, можно будет развить и довести до ума, нет, так нет, что-нибудь другое сделаю с таким оформлением)

Для наглядности отрисовал страницу воп

[2015-01-21 17:51] semyondragunov commented on #44
Фишку со звездой-избранным непонял. ИМХО лучше всю страницу в избранное. Или если ты имел ввиду, как пометка ответа для себя в контексте данного вопроса то я хз прям. Надо ли...

Не отобразил отображение новых комментарием (не трекер), прямо в кнопке "3 комментария". Можно допустим ей цвет поменять если там есть новые.

По дизу, норм, мне нравиться. Попробуй ещё тоже самое, но в светлых друпально-

[2015-01-21 17:54] semyondragunov commented on #39
В шапку, гит иконкой.

[2015-01-21 18:45] Tristamoff commented on #24
Готов бороться со спамом.Я Chyvakoff.

[2015-01-21 18:46] Tristamoff commented on #14
В данный момент навигация в сообществе никакая.Понятна она только автору. Или может ещё контента мало?

[2015-01-21 19:14] xandeadx commented on #44
Давит тёмный бэкраунд вокруг. Частопосещаемые сайты имхо должны быть беленькие.

[2015-01-21 19:25] adubovskoy commented on #44
![687474703a2f2f692e696d6775722e636f6d2f6a6a31485177492e706e67-1](https://cloud.githubusercontent.com/assets/297623/5843264/62ac2b36-a1bc-11e4-9583-b6d224b3d46c.png)

светлый читается попроще. это просто осветление, над общими акцентами не думал, просто демка фона.

[2015-01-21 19:33] EmperorSAM commented on #44
Во, уже намного лучше, но всё таки я за текущий диз...

[2015-01-21 19:37] semyondragunov commented on #44
Этот вариант лучше. Плюс, то что компактнее шапка. Но, я за текущий диз. Просто доработать.

[2015-01-21 19:59] fortis commented on #44
+1 за вариант @adubovskoy

[2015-01-21 20:04] fortis commented on #44
думаю может быть норм если сделать по высоте первую строку меньше, и синюю строчку сделать меньше в высоту чем сейчас, но больше по высоте чем первая и фон ей задать как у строки поиска то есть светлее/темнее чем первая строка.

**типа такого** http://themeforest.net/category/ecommerce

![](http://3xff.net/tec8s21012304.png)

[2015-01-21 20:06] fortis commented on #44
и может быть также вытянув на весь экран, а у контента убрав границы. пока что макет смахивает на блог

[2015-01-21 20:17] fortis commented on #42
Может и не нужно модераторов светить? Чтобы не обсуждали лишний раз действия администрации, лишние это холивары. Модератор какого-нибудь Заїку забанит а потом скажут что он исходники скачал)))

[2015-01-21 20:22] Niklan commented on #44
Я чтобы прояснить ещё раз напишу. Я не настаиваю на предложенном мною варианте. Я так, просто кинул, на обсуждение.

Завтра залью сюда SVG, чтобы было проще каждому показать вживую вариант.

P.s. я считаю что надо оставить рамки, растянутые сайты на больших мониторах очень скудно воспринимаются. Фон всё же делает их поуютнее, а как сейчас, допустим, создает ощущение пустоты.

[2015-01-21 20:24] fortis commented on #44
я как раз не предлагаю растягивать контент, только шапку. посмотри ссылку http://themeforest.net/category/ecommerce

[2015-01-21 22:13] adubovskoy commented on #41
http://community.drupalife.com/question/282

Отписался Никите в скайпе, немного подумал и формализовал мысли для топика.

История вопроса - был опубликован очень плохо оформленный вопрос. Набрал минусов. Потом начался срач. А у нас же одна из задач -- избежать любого негатива и любых возможных оскорблений. Саму возможность убрать - новые люди на ресурсе не должны найти такие вот топики или коммент

[2015-01-22 04:54] drupby commented on #41
@adubovskoy я так понимаю речь идет о вопросе http://community.drupalife.com/question/282, который нахватал минусов. Ты предлагаешь такие вопросы депубликовать. А суть вопроса в том, что человек просто взял не тот модуль, ему просто нужно было дать ссылку на модуль для Drupal 7. Ему же начали объяснять неведомо что, да и еще и хулиган постарался подогреть ситуацию. Это я к тому, что случается все

[2015-01-22 05:55] Niklan commented on #41
@drupby но если смотреть независимо со стороны. Вопрос был сам щелчком для всплеска негатива. Вопрос был поставлен совершенно некорректно и не являлся вопросом. А именно, человек написал название модуля и то что он не смог с ним разобраться. При этом он совершенно не описал суть проблем, ибо "у меня не получилось" это не оправдание. В данном конкретном случае, если же ты даже не знаешь как подойти

[2015-01-22 06:24] Niklan commented on #44
Вот SVG

Дизайн:
http://community.drupalife.com/sites/default/files/DrupalCommunity.svg
Фон:
http://community.drupalife.com/sites/default/files/DLcommunitybg.svg

У фона надо менять левый верхний квадрат, это будет менять отображение у всех. Ориентироваться на центральный. Экспортируется только "страница" (т.е. центр) так получится литая картинка для css repeat.

[2015-01-22 06:32] drupby commented on #28
А почему бы не вынести разную сортировку по вкладкам, как это сделано на тостере http://toster.ru/questions (новые, интересные, без ответа) или же на том же http://drupal.stackexchange.com/, на dropbucket http://dropbucket.org/ аналогично сделано,  хотя там и не вопросы публикуются, но суть та же.

[2015-01-22 06:54] xandeadx commented on #33
Когда под ответами много комментариев, то сами ответы теряются, пример - http://community.drupalife.com/question/282
Можно сделать как на тостере - по умолчанию скрывать коментарии.
Или например скрывать за js ссылкой всё после 3-го комментария.
В первую очередь юзеров попавших из поисковика будет интересовать ответы.

[2015-01-22 08:16] Niklan commented on #33
Ага, мы тут подобное обсуждали #36

Пожалуй ишьюс текущий закрываю, в том более активно обсуждение пошло.

[2015-01-22 08:16] #33 closed, assigned to nobody

[2015-01-22 14:27] adubovskoy commented on #42
кстати да. обезличенная реакция "прилетело нло и ...", хабр в этом деле молодцы - прямого негатива там не к кому проявить) и приучили всех в комментариях быть вежливыми и понятными.

[2015-01-22 14:37] Niklan commented on #42
@adubovskoy у этого есть и обратная сторона медали. Там почти всегда невозможно читать комментарии. Редко там здравый встречается, в основном жоползитво и подхалимство, читать просто тошно такое. Все подлизываются друг к другу, боятся даже пошутить, ибо заминусуют. Они там как в концлагере.

[2015-01-22 15:03] adubovskoy commented on #42
Я забанен на хабре, мне можно не пояснять)
Но в целом, например холиварная статья http://habrahabr.ru/post/246905/ , вполне адекватные и интересные комменты. Читать даже интересней статьи. Там одно дело -- просто неудачный коммент или неверный, набирает -1/-3, а если кто-то начал цапаться - там стороны резко схатят -20 и исчезнут.

невозможно читать в платных хабах. Там сидят сотрудники и накликив

[2015-01-22 15:11] Niklan commented on #42
Там таких здравых обсуждений наверное 1 на 100 материалов. Печально что такое крупное сообщество ведет себя как непойми кто, зато "ИЛИТА" :smile:

[2015-01-22 15:14] adubovskoy commented on #42
Не, если взять любой технический пост -- там все в порядке внутри. Просто специфика - они ж ориентированы на получение денежки и по сути являются СМИ, генерирующими переводы рейтинговых материалов. Когда материал оказывается написанным технарем и когда там есть что обсудить - подключаются присутствующие на ресурсе технари и все ок.

[2015-01-22 16:01] Niklan commented on #34
Нашел еще вот такой: http://ace.c9.io/ Он тут на гитхабе используется.

[2015-01-22 16:21] fortis commented on #34
нравится да, изучу

[2015-01-23 04:50] als-studio commented on #38
Поддерживаю. Тоже не нашел в заголовках, удивился.

[2015-01-23 04:56] SemanticsPRO commented on #40
А я за.
Заказы заказами, а решения решениями.
Неоднократно сталкивался с заказчиками, которые готовы были оплатить какие-то мелочи, но ставили условием публикацию решения

[2015-01-23 12:05] semyondragunov commented on #42
Не советую светить модераторов. Пусть как фсб, тихо и бесшумно...))) А то их драконить начнут, и подлизываться.
Неугодные комменты/ответы/материалы в анпаблик и минусуем провидившегося через эти же комменты(-3)/ответы(-7)/материалы(-15)
Оценки привел в пример.

[2015-01-24 16:57] semyondragunov opened #45 "Title в вопросах"
Вообще не по SEO...

[2015-01-24 18:40] Niklan commented on #45
Баг только у юзеров, боты не видят так что по SEO) А так да, надо бы фиксануть

[2015-01-24 22:17] hulygun opened #46 "Навигация в разделе "Вопрос-Ответ""
Когда комментов к ответам становится больше 1 страницы смотрится ужасно, юзабилити ваще нулевое

[2015-01-24 23:24] hulygun commented on #45
Кстати, да.  Когда нет своих ответов, то стандартный тайтл создания ноды типа "Ответ"

[2015-01-24 23:28] hulygun commented on #44
+1 @fortis за шапку... обрезанная по контенту не смотрится...

[2015-01-25 04:30] drupby commented on #46
подтверждаю, даже когда комментов просто много, то смотрится просто  ужасно   http://community.drupalife.com/question/296

[2015-01-25 09:27] SemanticsPRO commented on #42
С другой стороны, всем понятно кто модераторы

[2015-01-25 09:28] SemanticsPRO commented on #42
@adubovskoy касательно хабра, думаю, что это один из самых неудачных примеров общественной модерации.
Особенно вспомни, что было раньше. Сплошной кармадроч

[2015-01-25 09:29] semyondragunov commented on #42
@SemanticsPRO Это нам понятно, но по мере развития проекта, будут приходить новые люди!

[2015-01-25 09:30] Niklan commented on #42
Тут вообще палка о двух концах. Показывать лучше не надо, но все итак будут знать кто модератор а кто нет.

[2015-01-25 13:27] fortis commented on #42
Но не будут знать кто потер комент или забанил очередного неадеквата, это же и цель?

[2015-01-25 16:26] fortis commented on #34
с чайком накидал базу
![](http://3xff.net/q0sin25011925.png)

нужно подобрать иконку для кнопочки, где ты их брал?

[2015-01-25 16:34] Niklan commented on #34
А я тут значит тебе в скайп это пишу) Иконки шли в комплекте. Если надо, могу отрисовать, какие-нибудь, или из fontello в img векторный перегнать.

[2015-01-26 04:50] Niklan commented on #19
Модуль для оповещений на телефоны\компы и прочую технику уже готов: https://github.com/Niklan/Pushbullet

[2015-01-26 12:08] drupby commented on #42
вот и первая работа для модераторов http://community.drupalife.com/post/349

[2015-01-26 12:22] Niklan commented on #42
@drupby =)

[2015-01-26 14:41] Niklan commented on #42
Создал роль moderator. В отличии от обычных юзеров имеет:
-  Возможность править (только править) любые вопросы и ответы. (Надо ли дать на публикации?).
-  Удалять\добавлять\редактировать таксономию категорий.
-  Пользоваться панелью инструментов.

Попутно создал раздел для категорий. Позже подцепим к вопросам и выведем.

[2015-01-26 14:42] Niklan commented on #24
#42 Переходим сюда.

[2015-01-26 14:42] #24 closed, assigned to Niklan

[2015-01-26 14:43] Niklan commented on #42
Выдал для начала права xandeadx. Кому ещё будем выдавать? По желанию или отберем сами?

[2015-01-26 14:47] Tristamoff commented on #42
Можно мне тоже права модератора? http://community.drupalife.com/user/115

[2015-01-26 14:48] Niklan commented on #42
@Tristamoff выдал.

[2015-01-26 14:50] Tristamoff commented on #42
Вижу. Только я например не могу снять с публикации материал.

[2015-01-26 15:28] Niklan commented on #42
@Tristamoff теперь можно

[2015-01-26 17:47] drupby commented on #42
Если нигде не будет выводится упоминание роли модератора, то добавь мне эту роль.

[2015-01-26 21:39] Niklan commented on #42
@drupby готово

[2015-01-27 05:26] Tristamoff commented on #42
@Niklan ,да, щас всё норм,спс.

[2015-01-27 06:06] drupby commented on #42
публикации нет возможности править/снимать с публикации? опять спам http://community.drupalife.com/post/353

[2015-01-27 07:19] Niklan commented on #42
Есть же права на снятие с публикаций

[2015-01-27 07:22] Tristamoff commented on #42
Не на все контент тайпы

[2015-01-27 07:29] Niklan commented on #42
Пф, там это одно единственное правило на все разом "Управление содержимым"

[2015-01-27 07:33] drupby commented on #42
@Niklan для типа материала "Публикация" не доступно редактирование

[2015-01-27 07:34] Niklan commented on #42
@drupby да, для неё выключал, видать понадобится, поэтому включил.

[2015-01-27 07:38] drupby commented on #42
@Niklan теперь ямогу давать ответы от имени любого пользователя (в том числе и админа), смотри пример http://community.drupalife.com/question/350

[2015-01-27 07:42] Niklan commented on #42
@drupby надо бы настроить модерацию. Я честно говоря не в теме, раньше модерирование просили с такими возможностями, так что первое что приходит в голову костыли, делать в форме кнопку для модеров а это скрывать. Если кто знает как гибко настроить  отпишитесь)

[2015-01-27 07:44] drupby commented on #42
Сильной проблемы в том я не вижу, не думаю, что модераторы будут этим как то злоупотреблять

[2015-01-27 07:46] Niklan commented on #42
Так вот и я также думаю, выдаем то уже тем кто не первый год с друпалом. Запреты всегда можно поставить)

[2015-01-27 07:50] drupby commented on #42
Можно сделать альтер формы и поставить access false этой вкладке как вариант

[2015-01-27 07:51] drupby commented on #42
С помощью permissions вроде как нельзя сделать ограничение

[2015-01-27 10:23] xandeadx opened #47 "Загрузка файлов"
Мой One Click Upload теперь работает на HTML5 File API (пока только версия для BUEditor), можно поставить на сайт. Забирать через git:

[code]

[2015-01-27 10:24] SemanticsPRO commented on #47
Спасибки

[2015-01-27 10:47] Niklan commented on #47
Сделать бы по принцупу гитхаба. Вниз перетаскивать.

[2015-01-27 10:49] Niklan commented on #47
Кстати, считаю что при использовании модулей в сообществе необходимо предпочтение отдавать модулям тех кто в сообществе тусует. Дабы при переходе на 8-ку помочь портануть, сообща с автором будет намного легче, в добавок просто банально поможем кодом или еще чем.

[2015-01-27 10:51] SemanticsPRO commented on #47
Пусть выйдет ещё

[2015-01-27 11:13] xandeadx commented on #47
можно на кнопку для BUEditor прямо перетаскивать, будет работать

[2015-01-27 12:14] fortis commented on #47
да пока хоть как есть прикрутить, а потом ветку отдельную сделаем и добавим дргандроп

[2015-01-27 12:16] fortis commented on #34
с фонтелло возьму подгоню под те что есть, на выходных закончу с этим

[2015-01-27 12:20] fortis commented on #17
#autocomplete с колбеком к солру примерно таким:

<pre><code>
  $title = "Заголовок ноды";
  $server = search_api_server_load('apache_solr');
  $index = search_api_index_load('index');
  $options = array('parse mode' => 'direct');
  $query = new SearchApiQuery($index, $options);
  $query->keys($title);
  $query->fields(array('title'));
  $service = new SearchApiSolrService($server);
  $response =

[2015-01-27 12:25] #37 closed, assigned to nobody

[2015-01-27 12:32] fortis commented on #41
Мне кажется не все в состоянии с первого раза задать вопрос правильно =) Возможно тут стоило вмешаться модератору и объяснить что нужно развернуто объяснить, лучше со скриншотами и объяснить что именно не работает и какие ошибки существуют (и где их посмотреть), это может быть шаблонным ответом, который часто будет пригождаться. Может быть даже закрывать комментарии пока автор не внесет изменения,

[2015-01-27 13:56] Niklan commented on #34
Я могу иконки в PNG экспортировать в нужном цвете или SVG

[2015-01-27 13:58] Niklan commented on #17
Не, я хочу сделать иное.
Вводят заголовок, допустим "Обновление "
А он внизу допустим "Возможно на ваш вопрос уже отвечали" и до 5 ссылок на другие подходящие по заголовку вопросы.

[2015-01-27 14:32] xandeadx opened #48 "Категории для вопросов"
Что решили с категориями? Вопросы создаются, пока их не много, можно быстро протегать ноды

[2015-01-27 14:59] Niklan commented on #48
Таксономию создал. Сейчас базовыми заполню.
Я не знаю как бы права модерам дать на редактирование таксономии. Там сразу же дается доступ к редактированию полей и т.д и т.п. Вообще фигня какая-то.

[2015-01-27 15:00] fortis commented on #17
suggestions =) ну это тот же самый автокамплит только больше кастомизированный.
либо вот такой автокамплит с анонсом и большей инфой чтобы понять тот это вопрос или нет http://www.iog3.com/322/so_tag-tagging-plugin-based-on-stackoverflows-tag-search/

[2015-01-27 15:04] Niklan commented on #48
Создал пока такие. Сейчас добавлю поле и выведу их.
![_014](https://cloud.githubusercontent.com/assets/2356744/5920598/9b84432e-a65f-11e4-87a8-aa76d0bd7303.png)

[2015-01-27 15:08] xandeadx commented on #48
спасибо

[2015-01-27 15:10] Niklan commented on #48
Добавил поле, добавил в индекс, добавил фасетный блок

[2015-01-27 15:11] Niklan commented on #48
Пока не понимаю куда их вывести в тизере. Четвертым столбцом - поплывут проекты если их более двух. Ибо названия длинные. Да и категорий может быть несколько.

Если только сразу второй строкой уже пустить.

[2015-01-27 15:12] Niklan commented on #17
Типа вопрос и summary его?

[2015-01-27 15:40] xandeadx commented on #48
![screen_20150127_184008](https://cloud.githubusercontent.com/assets/845389/5921288/f29008e4-a653-11e4-9824-abe8cc39f8dc.png)
как пример

[2015-01-27 15:43] xandeadx commented on #48
Можно сделать ссылки как текст - серые, маленькие и без подчёркивания. А то они слишком много внимания забирают.

[2015-01-27 15:50] fortis commented on #48
теги лучше под заголовком разместить, без иконок чтобы не отвлекали. зайдя в вопрос и прочитав заголовок (а иногда сам вопрос может быть и в виде заголовка) мы смотрим тут же на теги чтобы понять какая версия, так же и с вакансиями, сейчас нужно пррлистать до конца текста чтобы узнать

[2015-01-27 15:55] fortis commented on #48
как то так
![](http://3xff.net/mjhuh27011854.png)

[2015-01-27 15:57] fortis opened #49 "Вопрос решен или вакансия не актуальна"
Метку для вакансий и вопросов которая будет показывать что вопрос решен или вакансия не актуальна

[2015-01-27 15:57] fortis commented on #49
Метку для вакансий и вопросов которая будет показывать что вопрос решен или вакансия не актуальна

[2015-01-27 15:58] Niklan commented on #48
Это кто-то из модеров добавил категорию "вирус"?)) Если юзеры могут добавлять, то видимо придётся альтерить автокомплит поле

[2015-01-27 16:00] Niklan commented on #49
Обратил внимание. На stackoverflow для таких моментов автор может сам оставить ответ и пометить его решением.

[2015-01-27 16:03] semyondragunov commented on #18
Может не в тот ишьюз, Но...
Будет возмоджно как тут на гите отписываться от обновлений? Ну и автоматом при ответе или создании вопроса подписывался на этот материал?
А что с комментами?

[2015-01-27 16:11] drupby commented on #48
@Niklan скорее всего любой пользователь может при добавлении материала добавить тег

[2015-01-27 16:33] drupby opened #50 "Баг или фича? Разное количество ответов в тизере и в самом вопросе."
Вот вопрос http://community.drupalife.com/question/363 - на самой странице один ответ, на странице http://community.drupalife.com/question у этого вопроса два ответа.

[2015-01-27 17:01] xandeadx opened #51 "Убрать toolbar и shortcuts у модеров"
сабж

[2015-01-27 17:04] xandeadx commented on #48
А можно их сделать select-ом? На память их трудно вводить

[2015-01-27 17:07] xandeadx commented on #48
кстати в списке вопросов категории выводить не обязательно, это не такая важная информация

[2015-01-27 18:08] Niklan commented on #50
"Это не баг - это фича". А на самом деле глянуть надо да. Хотя думал кэш.

[2015-01-27 18:08] Niklan commented on #51
Done

[2015-01-27 18:08] #51 closed, assigned to nobody

[2015-01-27 18:30] drupby commented on #50
@Niklan какой кеш для авторизованных пользователей? У тебя вьюхи кешируются?

[2015-01-27 18:34] Niklan commented on #50
А я под гостем залипаю часто)

[2015-01-27 18:37] drupby commented on #50
@Niklan боишься, что мини-хостинг ляжет под нагрузкой залогиненного админа?

[2015-01-27 18:38] Niklan commented on #50
да) а вообще тулбар всегда бесил и админ меню.

[2015-01-28 11:52] xandeadx commented on #50
там мой неопубликованный ответ. его не видно просто

[2015-01-28 12:11] drupby commented on #50
я так понимаю количество ответов определяется в функции dlcommunity_question_answers_count() https://github.com/Niklan/DrupalCommunity/blob/master/sites/all/modules/dlcommunity/dlcommunity.module#L150 ?

[2015-01-28 12:34] Niklan commented on #50
@drupby да

[2015-01-28 14:47] semyondragunov commented on #25
А как ответить самому если нашел решение? Писать в саму тему? Или как?

[2015-01-28 15:57] drupby commented on #50
я бы заменил такой функцией к примеру, чтобы в подсчете не участвовали неопубликованные ответы

[code]

надеюсь твой мини-хостинг от лишнего джоина не ляжет :arrow_down:

[2015-01-28 16:23] Niklan commented on #50
А зачем тут addExpression?

[2015-01-28 16:27] drupby commented on #50
@Niklan можно вместо него добавить какое-нибудь поле (поля) методами fields(), addField()

[2015-01-28 16:33] SemanticsPRO commented on #50
Господа, в код не вникал, но не лучше было бы туда втулить непосредственно count(*), чем считать возвращённое мускулем количество строк? Это же приведёт к скану таблицы

[2015-01-28 16:51] drupby commented on #50
@SemanticsPRO я предлагал как вариант, вот тоже самое с count

[code]

[2015-01-28 17:08] Niklan commented on #50
@drupby Взял код, всё отлично, спасибо. Вопрос только. Скажи свой email чтобы авторство коммита было за тобой. Если не хочешь светить скинь её на hello@niklan.net

[2015-01-28 17:11] xandeadx commented on #50
пусть пушреквестит, взрослый уже

[2015-01-28 17:13] drupby commented on #50
@xandeadx изначально так и хотел, но потом просто предложил вариант, совсем даже не протестированный

[2015-01-28 17:14] Niklan commented on #50
Ну я его потестил, он уже на продакшене стоит. Так что можешь и пул реквест сделать. Мне все равно, минут через 20 закоммичу)

[2015-01-28 17:25] drupby commented on #50
@Niklan сделал pull request

[2015-01-28 17:25] Niklan commented on #50
@drupby готово, ещё раз спасибо.

[2015-01-28 17:25] #50 closed, assigned to nobody

[2015-01-29 05:24] drupby opened #53 "Ошибки на страницах /question, /post и /project"
Код ошибки либо

[code]

либо

[code]

При этом контент страницы и сайдбар отсутствуют

[2015-01-29 05:28] Niklan commented on #53
/summon @adubovskoy

[2015-01-29 05:30] Niklan commented on #53
Вопросы выводятся через search api, видимо отвалился solr, solr на ra-don. Я тут вообще ничем не смогу помочь. Не доступен урл по которому солр для сообщества поднят.

[2015-01-29 05:32] drupby commented on #53
@Niklan может пока использовать Search API Database?

[2015-01-29 05:33] Niklan commented on #53
Сейчас создам вьюхи чтоб ноды выводили.

[2015-01-29 05:42] Niklan commented on #53
Перегнал на вывод непосредственно нод. Ждём ответа.

[2015-01-29 07:59] adubovskoy commented on #53
упал, чиним.

[2015-01-29 09:53] Niklan commented on #53
Вроде оживили.

[2015-01-29 19:22] fortis opened #54 "Раздел: Code Review"
что-то вроде http://codereview.stackexchange.com/
нужно продумать

[2015-01-29 19:32] fortis commented on #54
идея: пользователь публикует код с подсветкой и форматированием,
участники сообщества могут комментировать код, допустим, нажав кнопку **Review** будет появляться возможность комментировать каждую строку в топике, по кнопке **Отправить** к ноде добавляется обычный комментарий в котором выводятся строчки исходного кода и комментарии к ним.

или так: по кнопке **Review** форма добавления комментария

[2015-01-29 19:51] Niklan commented on #54
Круто но как реализовывать такое будем? Даже на примере такого нет. Зато есть тут, на гитхабе)
Мне кажется и просто копипаст кода хватит

[2015-01-29 20:06] hulygun commented on #54
С точки зрения идеалогии друпала... через филд коллекшн + дабл филд, но предвкушаю монструозность решения. Либо реализовать отдельной сущностью хотя бы через 2 внешних ключа... Ну и соответственно оптимизированный db_query

[2015-01-29 20:08] fortis commented on #54
сам могу, мне интересно, но я с ангуляром js интерфейсик фигачить буду =)
бекенд примочки тут кажется и не понадобятся

[2015-01-29 20:11] hulygun commented on #54
Да там даже ангуляра не нужно...

[2015-01-29 20:17] hulygun commented on #54
На js обыкновенный построчный парсер, динамические инпуты и бек-энд для обработки. Как по мне тут главный вопрос именно этих "интерфейсиков")))))

[2015-01-29 20:18] fortis commented on #54
да, но с ангуляром интерфейсики легче делать))
в общем я б взялся но мне интересен ангуляр

[2015-01-29 20:23] hulygun commented on #54
Мне тоже импанирует ангуляр, но в таком случае желательно весь возможный функционал перенести на него... а тут уже REST делать нужно... писать сервисы для ресурсов...
Кстати, как раз сейчас провожу эксперементы с ngMaterial ))))

[2015-01-29 20:26] fortis commented on #54
ну, зачем же весь, подключать его можно исключительно в этом разделе, на странице ноды из cdn по кнопке Review подгружать и инициализировать ангуляр. ну и может где еще пригодится, я сейчас доделываю виджет для тегов разделенных по категориям с suggestions + solr, потом покажу может и в сообществе пригодится, там тоже с ангуляркой.
а рест думаю тут не обязателен, было б мобильное приложение, но ко

[2015-01-29 20:41] hulygun commented on #54
Ты сейчас предлагаешь на танке за хлебом съездить. Использовать готовый асинхронный js фреймворк только для 1 плюшки? Я не отговариваю, но для меня твои слова звучат немного дико))))

[2015-01-29 20:44] hulygun commented on #54
И когда я говорил про внедрение Rest, то предполагал не только код ревью на ангуляре.... ладно поглядим твой виджет для тегов...)))))

[2015-01-29 20:52] fortis commented on #54
да, http://www.weather.com/ тоже для плюшек его взяли к друпалу =)
подгружаться он будет все равно только по запросу, 125кб если еще не в кеше, да и я думаю применим еще где-нибудь на проекте. То что это фреймворк не значит же что на нем делают целиком фронт, может ошибаюсь, но кажется D8 админ меню с Backbone.js сделали, не обламываются)

[2015-01-29 21:12] hulygun commented on #54
Я же не отговариваю)))) Ангуляр, так ангуляр. Просто одна либа уже подключена(jQuery), Ща ещё и ангулярка... а к ней в нагрузку как минимум какой нить ngAnimate и ngSanitize для unsafe_mode... Ещё раз повторюсь - я не отговариваю. Я просто высказал свои мысли, касаемые рациональности использования

[2015-01-29 21:24] webremake commented on #42
https://www.drupal.org/project/vppr - права только на редактирование и добавление терминов в определенных словарях
https://www.drupal.org/project/override_node_options  - права только на снятие с публикации

[2015-01-29 21:32] fortis commented on #54
ОЙ ВСЕ ))))

[2015-01-29 21:40] drupby opened #55 "Переезд на домен второго уровня"
Пора бы уже наверное зарегистрировать домен под этот проект и перебираться на него. Я так понимаю с именем домена еще не определились? Может кто-нибудь в комментах предложит свои варианты.

[2015-01-30 00:54] semyondragunov commented on #55
http://www.drucom. [org io]

[2015-01-30 01:12] semyondragunov commented on #36
@Niklan Хорошая идея, надо так сделать. + Предыдущий мой коммент (или вариант подсветить кнопку классом-цветом если есть новые комменты на ответ).

А чо по поводу ответа на комент то (см. шапку ишьюза (ЗЫ))?

Решение принято? Или обсуждаем дальше?

[2015-01-30 06:53] Niklan commented on #55
Хорошо, предлагайте домены.
Также имейте ввиду что имеется rudrupal.org (у RxB и он нам его спокойной может предоставить).

[2015-01-30 09:13] drupby commented on #55
rudrupal звучит как перевернутый  drupalru, что уже не есть хорошо

[2015-01-30 09:26] Niklan commented on #55
Без проблем. Предлагайте иной домен, куплю, перенесу.

[2015-01-30 09:29] drupby commented on #55
Я предлагаю дождаться в комментах хотя бы несколько вариантов, а потом вынести их в голосование или же в общее обсуждение прямо здесь.

[2015-01-30 09:31] Niklan commented on #55
Думаю достаточно будет тут обсудить. Кому надо, авторизуются отпишутся, всё же мы тут не закрылись и в одиноких обсуждаем.

[2015-01-30 09:40] drupby commented on #55
чтобы далеко не уходить от текущего имени предлагаю `drupalcommunity.ru` или `drupal-community.ru`

[2015-01-30 09:56] Niklan commented on #55
Я вообще придерживаюсь что надо брать .org / .com / .net

[2015-01-30 09:58] drupby commented on #55
@Niklan почему?

[2015-01-30 10:02] Niklan commented on #55
@drupby ну я не знаю, у меня какая-то неприязнь к .ru домену.
Затем, те можно продлевать сразу на года.
.org часто используется для сообществ, в особенности OpenSource, что было бы логично там разместиться.
.ru - типа Россия, но мы делаем же "Русскоязычное", а на русском говорят Украинцы, Белорусы, казахи и т.д. и т.п.
Мои доводы слабые, по сути чисто неприязнь к доменной зоне. Темболее что в этой

[2015-01-30 10:04] drupby commented on #55
Ну так разницы нет, тогда к примеру `drupalcommunity.org`(занят  уже) или `drupal-community.org`

[2015-01-30 10:06] Niklan commented on #55
Аж душе приятно видеть на окончании org :D :dancers: Кстати второй свободен, на удивление. Ща какой-нибудь ушлый зарегает его)

[2015-01-30 10:07] drupby commented on #55
@Niklan а первый занят сообществом Аргентины (заброшенным сообществом правда)

[2015-01-30 10:10] Niklan commented on #55
Лол, видимо аксель оформляет уже)
![](http://storage2.static.itmages.com/i/15/0130/h_1422612616_1782613_f3e0388da2.png)

[2015-01-30 10:25] drupby opened #56 "Поехала верстка"
На странице http://community.drupalife.com/question/379 поехала верстка: сайдбар ушел вниз, да и в целом контент неправильно отрисовывается.

[2015-01-30 10:31] fortis commented on #55
drupalway.ru
drupalway.org

[2015-01-30 10:32] Niklan commented on #56
Fixed

[2015-01-30 10:32] #56 closed, assigned to nobody

[2015-01-30 10:32] Niklan commented on #55
Занят :(

[2015-01-30 10:33] fortis commented on #55
мой ж)

[2015-01-30 10:47] drupby commented on #55
@fortis есть такие сайты http://drupal-way.org/ru, http://drupalway.net/

[2015-01-30 11:23] Niklan commented on #55
В общем некоторые домены тут реально ссыкотно выкладывать. Ушлые перекупы типа акселя скупят и не заметят. Может нам стоит на этот момент создать скайп чатик, решить, регнуть и всё? Ибо слишком много хороших доменов реально еще не занято. Домены кидают мне в чатик а не сюда.

[2015-01-30 11:26] drupby commented on #55
ну так ты создашь скайп чат и ссылку здесь разместишь, по любому кто захочет и там увидит

[2015-01-30 11:27] SemanticsPRO commented on #55
Предлагаю удалить сайт из интернета и не выкладывать ни на какой домен

[2015-01-30 11:29] Niklan commented on #55
Так RxB, Дубовской, FORTIS у меня есть в скайпе. Скинь свой, добавлю, xandeadx если хочет пусть подключается. Т.е. я прямо из контакта народ накидаю, фигли, за пару дней может соберем пул доменов и решим. Нам много народа не нужно. Все мы с разными точками зрениями, вполне разнообразные мнения будут, так что вполне хорошая группа для решения задачи)

[2015-01-30 11:30] drupby commented on #55
@Niklan мой skype drup.by

[2015-01-30 12:30] Niklan commented on #55
Обсудили, решили, купили, делегировали http://dru.io

[2015-01-30 12:30] #55 closed, assigned to nobody

[2015-01-30 12:47] Niklan opened #57 "Логотип"
Мы прикупили новый домен: http://dru.io
Нужен логотип. Давайте думать, подкидывайте идеи.

[2015-01-30 13:14] fortis commented on #57
<dru.io/>
![](http://3xff.net/v76xg30011814.png)

// Lucida Sans Demibold

[2015-01-30 13:16] Niklan commented on #57
Может шрифт более строгий? Ты там приложи svg чтоль для модификации ил где ты там рисуешь.

[2015-01-30 13:19] Niklan commented on #57
![text2991](https://cloud.githubusercontent.com/assets/2356744/5976138/80b65a06-a8ac-11e4-8931-a288ee861bb3.png)

[2015-01-30 13:22] drupby commented on #57
А какая будет цветовая гамма нового дизайна? Черный конечно красивый лого, но не в любой диз впишется.

[2015-01-30 13:23] Niklan commented on #57
#44 я так понимаю такой? Раз там никто не выступает против. Только шапку растянем и фон светлы как посоветовал @adubovskoy

[2015-01-30 13:34] Niklan commented on #57
![g5886](https://cloud.githubusercontent.com/assets/2356744/5976351/910727ee-a8ae-11e4-9546-475af98a2cad.png)

[2015-01-30 13:46] drupby commented on #53
Опять то же самое

[2015-01-30 13:48] Niklan commented on #53
Убрал ip из hosts, как просили. Опять произываю @adubovskoy )

[2015-01-30 13:49] Niklan commented on #53
Вести с фронта. Упали solr сервера, в датацентре чинят. Пошел врубать замену)

[2015-01-30 13:50] Niklan commented on #53
Пока чинят поставил чистый вьюсовый вывод.

[2015-01-30 13:53] fortis commented on #57
ну осталось синий круг до формы друпликона вытянуть и норм))) шрифт твой лучше да

[2015-01-30 13:55] Niklan commented on #57
@fortis не понял, объясни что ты имел ввиду?

[2015-01-30 13:56] fortis commented on #57
в зеленый квадрат внутрь друпликона (его позаметнее бы) впишется, в новом дизайне.
только надпись "Друпал сообщество" наверное куда-то вытащить нужно из квадрата

[2015-01-30 14:31] adubovskoy commented on #53
поднялось, это два черных дня солра. Будем пинать еще датацентр, конечно.

[2015-01-30 15:55] drupby opened #58 "На странице проекта отсутствует ссылка на проект"
На странице проекта нет ссылки на проект на орге, а по идее она там нужна. И на странице http://community.drupalife.com/project сортировка по дате добавления, как бы логичнее было бы по алфавиту.

[2015-01-30 16:23] adubovskoy commented on #58
Вообще много вопросов в полезности этого раздела в текущем виде.

[2015-01-30 16:28] drupby commented on #58
@adubovskoy проекты вообще в принципе нужны только в виде терминов таксономии для фильтрации остального контента

[2015-01-30 16:35] Niklan commented on #58
Можно добавить описание и скриншоты. Но как. Либо это делают модераторы, либо как-то отдаём сообществу в руки.
У раздела хороший потанциал, можно развить.

[2015-01-30 16:38] drupby commented on #58
@Niklan я имел ввиду, что на странице нету даже ссылки на сам проект http://drupal.org/project/xxx

[2015-01-30 16:49] Niklan commented on #58
Это да, думал ссылками на загрузку обойтись. Добавлю.

[2015-01-30 17:31] Niklan commented on #53
Перевел обратно на Search API

[2015-01-30 17:31] #53 closed, assigned to nobody

[2015-01-30 18:45] fortis commented on #44
Еще
аватарку + ссылкупрофиль сделать кликабельными и по нажатии выводить всплывашку аля гмейл, туда потом стата пойдет

![](http://3xff.net/u61wp30012343.png)

[2015-01-30 18:55] hulygun commented on #44
А потом ваще запилить DruioOS )))))
Стоп... стата?

Только не карма((( хнык-хнык )))))))

[2015-01-30 18:55] fortis commented on #57
тест)

dru.io
www.dru.io
http://dru.io

[2015-01-30 19:07] fortis commented on #44
ну вопрос-ответ же плюсуют зачем-то)) должна быть стата, возможно отдельная по вопросам-ответам, не общий рейтинг. общий рейтинг ничего не скажет

[2015-01-30 19:13] semyondragunov commented on #44
@fortis Вот микро-трекер так же бы запихать. Как тут на гите.

[2015-01-30 20:23] hulygun commented on #44
В общем... ОЙ ВСЁ!

[2015-01-30 23:19] drupby commented on #44
@hulygun
``Стоп... стата?

туда потом стата пойдет
Только не карма((( хнык-хнык )))))))``
отвергая обосновывай

[2015-01-31 05:25] drupby commented on #58
Что значит анкор "Запросить обновление данных." и с ссылкой http://dru.io/project/views# ?
И на странице http://dru.io/project сортировка должна быть по алфавиту
P.S. Один я не вижу в развитии сообщества товарищей из Украины, Москвы и Питера?

[2015-01-31 06:48] Niklan commented on #58
1. "Запросить обновление данных" шлет запрос на сервак, он парсит новые данные. Статус, категорию и версии. Есть проблема, да, из под гостя там ничего сразу не меняется из-за кэширования. А так, по сути обновляет версии и апдейты для модуля. База в дальнейшем разрастется и по крону это дергать нету смысла, плюс апдейты у многих выходят часто и произвольно. Так, зная что был апдейт, или просто ради

[2015-01-31 08:59] adubovskoy opened #59 "Не работает авторизация через facebook"
![d5](https://cloud.githubusercontent.com/assets/297623/5987526/7a62b9da-a940-11e4-9a7f-418dd6efa320.png)

[2015-01-31 09:11] SemanticsPRO commented on #59
окай, киньте на меня, я с мобилы
31.01.2015 11:59 пользователь "Alexander Dubovskoy" <
notifications@github.com> написал:

[2015-01-31 19:22] Niklan opened #60 "Добавить ссылку проекта на Drupal.org"
Сабж, чтобы не забыть

[2015-01-31 23:06] xandeadx opened #61 "Помечать новые ответы и комментарии"
Сабж. Как на хабре - новые комменты выделяются синей плашкой

[2015-02-01 15:33] Niklan commented on #60
Я видимо в глаза долблюсь :) #58

[2015-02-01 15:33] #60 closed, assigned to Niklan

[2015-02-01 15:35] Niklan commented on #42
Вроде как основная суть "Роль - Модератор" решена, ишью закрываю. По улучшениям, думаю, следует создавать ишьюсы с улучшением.

[2015-02-01 15:35] #42 closed, assigned to nobody

[2015-02-01 15:36] Niklan commented on #48
Категерии добавлены. Ишью больше не актуально.

[2015-02-01 15:36] #48 closed, assigned to nobody

[2015-02-01 15:38] Niklan commented on #61
#19 имеет непосредственное отношение к сабжу. Это ишью закрываю дабы на ещё не созданный функционал собирать улучшения :), делаю связь чтобы там в нити было упоминание о пометке. Т.е. сейчас без реализованного трекера это все бессмысленно.

[2015-02-01 15:38] #61 closed, assigned to nobody

[2015-02-01 15:41] Niklan commented on #40
[Тут](http://www.drupal.ru/node/115018?page=1#comment-634238) @adubovskoy доступно объяснил почему не нужно это. Темболее на данном этапе.

[2015-02-01 15:41] #40 closed, assigned to nobody

[2015-02-01 15:43] Niklan commented on #45
#44 оставим данное на редизайн.

[2015-02-01 15:43] #45 closed, assigned to nobody

[2015-02-01 15:44] Niklan commented on #14
#44 Оставим на редизайн. В принципе вопрос по-сути решён. У ModX хорошая навигация будем операция на неё.

[2015-02-01 15:44] #14 closed, assigned to nobody

[2015-02-01 15:46] Niklan commented on #18
#19 переезжаем.

[2015-02-01 15:46] #18 closed, assigned to SemanticsPRO

[2015-02-01 15:47] Niklan commented on #36
#44 перекат. Оставим на новый дизайн.

[2015-02-01 15:47] #36 closed, assigned to nobody

[2015-02-01 15:49] Niklan commented on #29
#19 перекатываемся туда. Всё в одно.

[2015-02-01 15:49] #29 closed, assigned to SemanticsPRO

[2015-02-02 05:14] UksusoFF opened #62 "Уведомления о новых комментариях к вопросу"
Крайне необходимы уведомления на почту о новых ответах и новых комментариях к вопросам :)

[2015-02-02 05:17] UksusoFF commented on #39
Или в основную менюшку

[2015-02-02 06:34] UksusoFF commented on #49
Как отметить решенным вопрос если ответ в комментах к вопросу?
Тут вот например http://dru.io/question/399

[2015-02-02 08:50] Niklan commented on #62
#19

[2015-02-02 08:50] #62 closed, assigned to nobody

[2015-02-02 08:51] Niklan commented on #19
Для оповещений на устройства подготовлен [Pushbullet API](https://www.drupal.org/project/pushbullet).

[2015-02-02 08:53] Niklan commented on #49
На данный момент никак. Скорее дадим возможность авторам также давать ответ как на stackoverflow, для них видимо придётся к форме добавить дополнительную надпись, чтобы понимали зачем форма.

[2015-02-02 08:53] UksusoFF commented on #19
Сдается мне что почта все-таки в приоритете должна, при ее наличии можно все остальное доделать самостоятельно :)

[2015-02-02 08:55] xandeadx commented on #19
А почта планируется?

[2015-02-02 08:57] Niklan commented on #19
Первостепенно. На устройства будет по желанию, как альтернатива или добавочно. Сначала нужен трекер. Нам бы ответ @SemanticsPRO хоть какой)

[2015-02-02 14:33] Niklan commented on #59
Не знаю починил ли RxB, но у меня работает как регистрация, так и авторизация. Видимо на тот момент не вступили в силу обновления нового url.

[2015-02-02 14:33] #59 closed, assigned to SemanticsPRO

[2015-02-02 14:36] Niklan commented on #20
Вроде как делается автоматически при совпадании email адресов. Встроенного функционала для подобного в Hybridauth не обнаружил. Видимо как-то самим придётся делать.

[2015-02-02 14:39] SemanticsPRO commented on #20
Да есть такое, не сцыте, у мну время всё ж появилось

[2015-02-02 14:49] Niklan commented on #58
Решено. Ссылка добавлена.

[2015-02-02 14:49] #58 closed, assigned to Niklan

[2015-02-02 14:52] Niklan commented on #44
Так как особых возражений нету, альтернативных вариантов тоже, а текущий вариант вообще ужасен. Потихоньку приступаю пилить тему. Она будет в репозитарии рядом с текущей валяться.

[2015-02-02 19:27] ArtuGit opened #63 "Активные ссылки в вопросах"
Точнее в ответах.

[2015-02-02 19:28] ArtuGit commented on #57
Да, форма друпликона.

[2015-02-02 19:32] drupby commented on #63
Я так понимаю это фильтр "Convert URLs into links" ("Преобразовывать адреса в ссылки")

[2015-02-02 19:32] ArtuGit opened #64 "Мои материалы, закладки, трекер"
Нужны разделы.

[2015-02-02 19:34] ArtuGit commented on #63
Да.Включите его.)

[2015-02-02 22:30] drupby opened #65 "На страницу пользователя добавить "вопросы пользователя""
В виде вкладки (к примеру сделать вьюсом вкладку /user/%/questions) или в блоке в сайдбаре.

[2015-02-03 06:36] Niklan commented on #63
Сделано.

[2015-02-03 06:36] #63 closed, assigned to nobody

[2015-02-03 14:59] adubovskoy opened #66 "Image Upload"
Есть мысль сделать загрузку фото для скриншотов (сейчас неудобно).

Чтоб не хранить у себя - можно пользоваться чем-нибудь типа https://www.drupal.org/project/flickrup .

[2015-02-03 15:18] drupby commented on #66
удваиваю, уже кстати есть похожее есть issue #47, и кроме изображений не стоит забывать про подсветку кода issue #34

[2015-02-03 15:24] Niklan commented on #66
Лучше imgur с него быстрее грузится и фотки хранятся крайне долго (вечно?). Ещё не разу не наткнулся на битую фотку с imgur, плюсом они недавно инвестиции получили, так что он развиваться будет дальше.

[2015-02-03 15:47] adubovskoy commented on #66
Да, сам не пользовался, не знаю какой лучше, на ваше усмотрение. Это хотелка, которую в issue чтоб не забыть.

[2015-02-04 16:34] drupby commented on #34
Судя по ответу на вопрос http://dru.io/question/448 появилась подсветка кода, но как ее использовать?
Нашел в редакторе кнопку insert code, но она не имеет кнопок внутри формы добавления кода.

[2015-02-04 17:47] Niklan commented on #34
@drupby она и была)

http://dru.io/post/3 тут всё описано

[2015-02-04 22:17] adubovskoy opened #67 "SEO"
- Title у главной страницы "Drupal сообщество | dru.io"
- description/keywords прописать
- Title у вопросов сделать из тайтла ноды вопроса

[2015-02-05 01:18] drupby commented on #67
Ну тогда уж по теме, только SMM, открыть аккаунты сообщества в твиттере, фейсбуке, вк.

[2015-02-05 07:15] fortis commented on #67
+1

[2015-02-05 10:41] Niklan commented on #67
https://vk.com/druio
https://facebook.com/druio
https://twitter.com/dru_io - тут уже зареган без _ :(

[2015-02-05 11:38] semyondragunov opened #68 "Опросы в публикациях и вопросах"
А то делать через Гугл формс - костыль и не особо удобно.

[2015-02-07 11:13] adubovskoy commented on #67
еще надо линки все внешние сделать nofollow, чтоб не было соблазна публиковать статью/вопрос ради живой ссылки. Пока не актуально, но как рейтинг сайта подрастет - полезут.

[2015-02-09 06:51] orion76 opened #69 "Интеграция drupal-интернет-ресурсов."
Почитал заявки на функционал от сообщества.
Идей хороших, плохих, еще пока непонятно каких - море.
Обсуждение их полезности и утверждение на внесение в TODO dru.io - займет кучу времени и не факт, что к чему нибудь приведет.
А почему бы не дать каждому желающему возможность реализовать его идею на отдельном ресурсе и интегрировать его в основной?
"Взлетело" - отлично, нет - ну чтож, "опыт- сын оши

[2015-02-09 08:48] adubovskoy commented on #69
Что-то в этом есть, но пока не понимаю архитектуры.

По сути -- это просто openid сервер для друпалеров будет. Тогда чем он отличается от любой другой openid реализации или social auth варианта.

С другой стороны, можно подумать в сторону кросслогина и общих сессий... Но это очень большая дыра в безопасности, по сути если взломают один проект -- считайте что взломали все. Кто на это пойдет?

[2015-02-09 08:50] adubovskoy commented on #69
Но мы рано или поздно (а скорее рано) переедем на D8, а там можно будет просто организовать нормальные форки конфигураций и деплой. Хотите доработок - вот вам все архивы, вот соглашения по именованию новых разделов, вот политика модерации сообщества нововведений (ну там, посмотреть демку, проголосовать, проверить качество кода и запушить в основной).

[2015-02-09 08:50] semyondragunov commented on #69
Чо за изобретание велосипедов? Зачем городить там, где этого не надо?

Хочешь запилить функционал - форкай репу и делай, потом пул реквест. Затем встаиваем в сайт и смотрим взлетит или нет. Если нет, то откатываем.

[2015-02-09 08:51] adubovskoy commented on #69
ну, да, примерно. но пока так нельзя просто) d7, база, боль-деплой и т.п.) но на d8 надо переходить и полностью открытый код для легкости форков

[2015-02-09 08:52] semyondragunov commented on #69
Я имел ввиду не откат сайта, а тупо выключить новоиспеченный модуль и удалить)

[2015-02-09 08:55] adubovskoy commented on #69
Фичами. Ну, да, надо тогда почистить базу пользователей, профили и т.п., просто truncate, чтобы актуальную базу можно было выложить в открытую, с сохранением приватности пользователей..

[2015-02-09 09:26] Niklan commented on #69
Идея заманчивая, и даже, оригинальная, но есть косяк.

Т.е. основный смысл инициативы дать возможность каждому запилить что он хочет и подключить это как отдельный сайт. Но всегда есть одно НО. Вы пишете что можно таким образом принять участие большему количеству человек в развитии проекта, но ведь это подразумевает что человек сам сделает сайт, оформит (?) его и подключит единую авторизацию. Не с

[2015-02-09 10:32] orion76 commented on #69
Ни чем-)) Зато "свой", под полным контролем и ничем не ограниченный.
Ну в общем, дело даже не в общей регистрации-авторизации..
Это так - потренироваться, отладить технологию..

А в идеале, наладить систему обмена данными между связанными ресурсами..
Обыкновенными публичными данными: статьи, базы знаний, кармы-рейтинги пользователей и т.д.
Например, захочет кто-нибудь раздел с локализованным описа

[2015-02-09 11:08] semyondragunov commented on #69
А кто мешает? Репа открытая....

Зачем? Чтоб данные спёли?

... и пул реквест в репу.

ИМХО совершенно тупая затея в данном контексте.
Такой подход подошел бы к примеру для CRM-системы, группы компаний.

[2015-02-09 11:50] adubovskoy commented on #69
Ну, прятать надо только личные данные пользователей, все остальное не страшно, пусть используют, для того и пишем.

на самом деле это уже решено - почти все полезные ресурсы имеют rss/twitterfeed) т.е. забирать и делать что-то типа drupal planet русскоязычный можно. Но я могу показать чем это заканчивается - http://www.drupal.ru/aggregator .

[2015-02-09 12:08] Niklan commented on #69
Там много других данных которые надо вычищать помимо личных данных пользователей.
API ключи и доступы: к соц. сетям, mandrill и прочим сервисам которые подключены к сайту.

[2015-02-09 14:46] Niklan opened #70 "Множественный выбор лучшего ответа"
http://dru.io/question/486 собственно сабж. Надо найти дырочку. Та что была в комментах устранена давно, также имеем следующий код https://github.com/Niklan/Dru.io/blob/master/sites/all/modules/dlcommunity/dlcommunity.module#L29-L50

[2015-02-09 18:20] drupby commented on #70
Может это не баг, а фича? Почему не может быть 2 правильных ответа?вот пример https://toster.ru/q/88471

[2015-02-09 18:29] Niklan commented on #70
Тут вопрос  в том, как они были проставлены. Код получается не отработал.

[2015-02-09 18:34] drupby commented on #70
@Niklan так у пользователей же даже после отметки флагом одного ответа, флаги имеются напротив и остальных ответов, на данный момент пользователь может любой  ответ пометить флагом и может снять флаг, независимо от того отмечал ли он другие ответы

[2015-02-09 19:07] Niklan commented on #70
Так раньше так и было. Суть в том, что когда он помечает новый, старый снимается кодом. Это на случай если кто-то даст лучше ответ.

[2015-02-09 19:11] drupby commented on #70
@Niklan так в том то и дело, что правильных ответов может быть два и более, зачем ограничивать одним?

[2015-02-09 19:31] Niklan opened #71 "Количество "Лучших ответов" на вопрос."
Собственно сабж. #70 всё же баг или фича. Давайте подумаем и решим.

[2015-02-09 19:32] Niklan commented on #70
Вынес на обсуждение #71, от результата и прыгнем, удалять код или фиксить.

[2015-02-09 19:34] drupby commented on #71
Я за множественный выбор лучших (правильных ответов), как пример все тот же тостер привожу https://toster.ru/q/88471

[2015-02-09 19:46] Niklan commented on #71
Я пока занимаю нейтральную позицию) Оба варианты логичны. В случае множественного, придётся контролировать злоупотребление.

Можно сделать 1 лучший от автора, и лучший по мнению сообщества, например. Раз уж варианты рассматриваем.

[2015-02-10 02:54] semyondragunov commented on #71
ИХМО множественный правильный ответ не совсем то, что надо. Тут же имеется ввиду лучший ответ для автора. Так что я думаю, @Niklan подсказал правильную идею.
Как можно заметить, после "лучшего" ответа от автора, следует самый рейтинговый ответ. Можно его подписать (выбор сообщества и пр.).

[2015-02-10 07:59] drupby commented on #71
А почему ответ лучший собственно, а не  правильный? Drupal сам по себе предусматривает несколько вариантов решения той или иной задачи. Поэтому ответов правильных может быть несколько. Тем более, что пользователи сами иногда помечают правильными несколько ответов.

[2015-02-10 10:56] Niklan commented on #71
@drupby вот уже интересный агрумент, который, по крайней мере меня, склонил в сторону множественного выбора. Но придётся контролировать, иначе всем в подряд начнут развешивать.

[2015-02-10 20:10] adubovskoy opened #72 "Captcha"
Был наплыв спамботов, поставили быстрое решение, без особых обсуждений.

Пока стоит hidden captcha, должна помочь. Потом можно ручками вычистить спамботов, их там в принципе не очень много, по именам понятны, делов на 30 минут.

[2015-02-10 20:25] fortis opened #73 "Раздел модулей сообщества"
Идейка, пока на обсуждение просто.

Часто бывало требовался модуль который когда-то видел в форуме друру, но найти его по прошествии времени было не легко. Возможно стоит предусмотреть галочку в топике чтобы помечать его как содержащий модуль, или аттачить сущность-модуль к топику с полями описания модуля (версия, теги модуля прочее).

В конечном счете нужна возможность найти модуль в сообществе,

[2015-02-10 20:28] fortis commented on #73
может быть это должно быть близко к разделу с выставкой сайтов

[2015-02-10 22:46] drupby commented on #73
Если предполагается размещение модуля в публикации, то элементарно можно добавить категории к публикациям и сделать допустим термин "Modules "(или "Модули"), ну и понятно на странице публикаций сделать фильтрацию по категориям.

[2015-02-11 04:49] Niklan commented on #73
Проще в проект добавить галочку "Сделано сообществом" и всё :)

[2015-02-11 07:08] adubovskoy commented on #73
Есть мнение что таких быть не должно) У большинства самописа , выложенного на гитхаб, большие проблемы со стандартами и кодом, недавний пример - http://www.drupal.ru/node/115498 .
На drupal.org бы долго провисел в песочнице.

[2015-02-11 07:37] fortis commented on #73
так для того сообщество и нужно чтобы указать на стандарты)) бывают же и нормальные модули которые просто еще не дошли руки выложить на орг, как модуль с яндекс деньгами для оплаты картами, там вроде он только через пол года появился на орге. плохим модулям можно вешать значки

[2015-02-11 07:38] fortis commented on #73
категория модулей у обычного материала не слишком очевидно, галочка к публикации - хорошо и просто, но фильтровать потом как? будут модули и для 7ки и для 8ки, не только модули но и темы еще

[2015-02-11 07:57] Niklan commented on #73
@fortis смотри, раздел "Расширения" содержит как модули, дистрибутивы, так и темы. Мы же можем добавить в фасет галочку "Сделано сообществом", а дальше пусть уточняют. Как-то помечать их в общем списке, допустим, золотой рамочкой ненавязчивой.

Отдельный раздел считаю для этого ненужен, собственно как и модули не с орга, тут я полностью поддержу @adubovskoy. Автор того модуля уже вторую статью на

[2015-02-11 08:00] #72 closed, assigned to adubovskoy

[2015-02-11 08:05] Niklan commented on #69
Чтобы не висело, я закрываю данный ишью, ибо обсуждение сошло на нет, а вероятность того что такое будет реализовано, по крайней мере на 7-ке, стремится к нулю. Если будет что обсудить, открывайте текущий тикет, или, если нету такой кнопки у не владельцев репозитария, напишите коммент, я октрою.

[2015-02-11 08:05] #69 closed, assigned to nobody

[2015-02-11 08:06] Niklan commented on #65
#64

[2015-02-11 08:06] #65 closed, assigned to nobody

[2015-02-11 08:07] Niklan commented on #57
Давайте пока остановимся на варианте <Dru.io/>
Будут идеи, предложения, переоткрывайте ишью.

[2015-02-11 08:08] Niklan commented on #31
Ошибка так и не всплыла. Закрываю, если повторится, переоткроем.

[2015-02-11 08:08] #31 closed, assigned to Niklan

[2015-02-11 08:11] Niklan commented on #35
#44 откидываем туда.

[2015-02-11 08:11] #35 closed, assigned to adubovskoy

[2015-02-11 08:12] Niklan commented on #70
На время обсуждения закрываю.

[2015-02-11 08:12] #70 closed, assigned to Niklan

[2015-02-11 08:16] Niklan commented on #49
Давайте оживим ишью. Может всё же самое правильное решение дать возможность автору вопроса дать ответ на свой же вопрос? Это актуально, и даже на stackoverflow частенько человек сам находит ответ на свой вопрос. Почему бы его не оформить оветом и пометить как решение если оно таковым и является. Возможно это даже выльется в то, что кто-то специально будет публиковать вопрос-проблему и сам давать н

[2015-02-11 08:17] Niklan commented on #64
А этот тикет перекидываем на #32 чтобы не плодить дубли.

[2015-02-11 08:17] #64 closed, assigned to nobody

[2015-02-11 17:32] fortis commented on #73
я со всем согласный)

[2015-02-12 16:40] xandeadx opened #74 "Доработка категорий"
Нужно:
1. Сделать выбор категорий с помощью chosen
2. Добавить категорию Node API
3. Удалить категории PHP, Routings
4. Вывести категории на странице вопроса

[2015-02-12 16:49] xandeadx opened #75 "Добавить в меню ссылку на github issues"
Обозвать ссылку как-нибудь - "Обсуждение проекта" или просто "Github"

[2015-02-12 16:57] adubovskoy commented on #74
п.2, п.3 done.

[2015-02-12 17:55] Niklan commented on #75
#39 ага, в новой теме подкинем.

[2015-02-12 17:55] #75 closed, assigned to nobody

[2015-02-12 17:57] Niklan commented on #74
А чем собстевнно категория Routings не страивает? Актуально для 8-ки

[2015-02-12 18:02] xandeadx commented on #74
не представляю вопросов по этой теме

[2015-02-12 18:06] xandeadx commented on #74
есть Menu API

[2015-02-13 03:35] RedElephantDesign commented on #44
Есть возражения. Если решения по теме окончательного не принято, то мы готовы предложить свой вариант в течение 1-2 недель. Немного загружены работой, но очень хотим помочь развитию сообщества. Никита, у нас есть столько времени, что предоставить новый макет? Предложенный в самом начале вариант немного не подходит для лица Drupal сообщества. На наш взгляд сегодняшняя тема более подходящая, чем пре

[2015-02-13 05:16] RedElephantDesign commented on #71
Автор может выбрать один какой-то понравившийся ответ. Тогда он идет в самый верх списка ответов.
А сообщество может ставить +/- по остальным ответам и сортировка идет по ним. Так автор вытащил лучший ответ по его мнению наверх, а сообщество (общественное мнение) сортирует остальные ответы. По +/- для сообщества можно взять идею с хабра. Упал в минус - комментарий стал серым. Тогда не придется мен

[2015-02-13 06:51] RedElephantDesign commented on #57
Это пока первые наброски на скорую руку. Если актуальна еще тема, то позже выложим еще варианты поинтересней. А пока критикуйте))  Дан основной макет в черном цвете и вариант цветого решения (синий, как на сайте)

![logo-maket](https://cloud.githubusercontent.com/assets/10986896/6183397/a753aca2-b38f-11e4-9d61-9ad2f853c6f0.png)

[2015-02-13 06:58] RedElephantDesign commented on #44
Немного подумали над темой как она есть сейчас на сайте. Предложение такое: в header периоически загружать какую-то новость. Если не понятно, то смотрите картинку ниже (лучше открыть на полный экран). То есть в фоне новость и справа краткое описание события. Так можно выводить архиважные мероприятия локальные или международные - решать главреду.
В остальном думаю можно все оставить как есть. Дизай

[2015-02-13 07:08] RedElephantDesign commented on #57
Нам кажется сообществу не нужен отдельный логотип с каким-то особенным начертанием капли или русской атрибутикой. Важно подтчеркнуть, что это сообщество Dupal, поэтому капля обязательна, воторой важный момент - название проекта.
Поэтому появились такие варианты. Они очень простые, но думаю это правильно. Ведь главное - это содержание проекта и польза, которую он принесет.

[2015-02-13 07:09] RedElephantDesign commented on #57
собственно голосуйте из предложенных вариантов, если что-то понравится. Если сообщество нас не прогонит, то нарисуем еще варианты)

[2015-02-13 07:11] fortis commented on #57
здорово, мне больше нравится вариант-2 из-за друпликона в букве 'о'.
хотя вариант 1 и 4 тоже хороши, ближе к логотипу сообщества и в них больше акцент именно на друпал, и привычнее

[2015-02-13 07:17] fortis commented on #57
может быть лучше 'русскоязычное' ?

[2015-02-13 07:17] drupby commented on #57
@RedElephantDesign Русскоязычное сообщество Drupal

[2015-02-13 07:18] RedElephantDesign commented on #57
Да у них разница именно в акцентах, согласен. Тут все зависит от ощущения. Чего больше хочется:
1. показать Drupal - тогда название сайта возможно не запомнится
2. а вот если вписываем каплю в "О", тогда вроде как больше внимания самой надписи

[2015-02-13 07:19] RedElephantDesign commented on #57
@fortis
@drupby
Да, наверное, так корректней

[2015-02-13 07:54] fortis commented on #49
отвлекусь: может быть решенным вопросам стоит ставить префикс в заголовок [РЕШЕНО]? мне кажется в поисковой выдаче такие топики будут привлекать внимание

[2015-02-13 07:58] fortis commented on #49
чтобы автор помечал свой вопрос решенным его нужно как то к этому подтолкнуть, может быть присылать разок письмо: Ваш вопрос просмотрели N человек, оставлено X ответов, и K комментариев. Перейдите по ссылке если вы получили подходящий ответ ССЫЛКА.
При переходе по ссылке попадает к форме комментирования с кнопкой Пометить решенным. может оставить комментарий, а может просто нажать и отметить решен

[2015-02-13 08:02] fortis commented on #49
Решенные вопросы должны оставаться комментируемыми, но возможно при добавлении комментария к такому вопросу или ответу на него стоит предложить создать отдельную тему. Чтобы к ответам не задавали другие вопросы которые косвенно связаны, но требуют дополнения решения и напрямую к топику не относятся

[2015-02-13 08:03] adubovskoy commented on #57
3/6 нравятся.
Вообще все хороши.

[2015-02-13 08:21] Niklan commented on #71
@RedElephantDesign сейчас ровно так и реализовано. Но тут другая особенность, человек, зайдя из поиска, на подобных сервисах читает только то, что помечено галочкой зелёной, а как правило, внизу есть реально правильные ответы у которых рейтинг раз в 10 больше чем у верного. Поэтому, надо как-то это тоже учесть. Больше зеленых галок - больше прочитают)

[2015-02-13 08:26] Niklan commented on #44
Хм, интересно. Пока создание темы идёт очень не спешно и далеко не ушло. Пусть другие тоже выскажут своё мнение.

Тему всё равно, даже в случае небольшого редизайна придётся полностью переделать. Ибо сейчас там бардак полнейший, ибо делалось абы как, а потом и правилось так же.

P.s. иконки стоит использовать какие-нубидь векторные аля FontAwesome, ибо картинкам в текущих реалиях их просто нету см

[2015-02-13 08:29] RedElephantDesign commented on #71
@Niklan согласен, иначе упустить можно какое-то решение из обсуждения

[2015-02-13 08:29] Niklan commented on #57
3,4,6 понравились. Возможно имеет смысл скрестить 6 и 4 :) Но тогда там будет два друпликона и это черезчур. А вообще да, отличные варианты.

[2015-02-13 08:32] RedElephantDesign commented on #44
@Niklan а svg вставить можно? В редакторах графических можно в svg все загнать, там вам и код будет. Про особенности ретины не имею опыта, но масштабируемая графика должна идти хорошо.

[2015-02-13 08:35] RedElephantDesign commented on #44
@Niklan если svg пойдет, то мы можем вам все иконки и логотип там сделать. Только пока нет опыта встраивания в html, но разберемся я думаю.

[2015-02-13 08:37] RedElephantDesign commented on #57
ну раз еть положительные отзывы, тогда сегодня постараемся выложить еще варианты. Есть еще человек со свежим взглядом так сказать.

[2015-02-13 08:46] Niklan commented on #44
@RedElephantDesign svg пойдёт, его и в шрифты конвертировать дело пары минут.
В HTML можно прямо svg и ставить, его все понимают.

[2015-02-13 09:24] Niklan commented on #44
Хочу ещё заметить, что новый вариант дизайна более "уютный" что ли. В том смысле что там есть фон и границы. Такие пустые как сейчас создают впечатление пустоты. Может имеет смысл также в новом варианте пилить такие анонсы на главной. Просто сейчас же отрисованы только вопросы, а главной вообще нет.

Люди, ну-ка подключайтесь к обсуждению)

[2015-02-13 09:40] RedElephantDesign commented on #44
Сейчас взглянул на новый дизайн еще раз (тот что с фоном) - уже больше понравился. Понравилось расположение элементов. Элегантно все стоит на своих местах. Но с фоном надо что-то сделать. Немного серьезность весь проект может потерять (на мой взгляд), если фон гороховый будет. Попробуем что-то предложить в качестве альтернативы. Не обязательно получится лучше, но уже можно будет выбирать и обсужда

[2015-02-13 09:41] RedElephantDesign commented on #44
Думаю надо навигационную панель с нового дизайна взять, а главную страницу (структуру) так и оставить с фоновыми новостями.

[2015-02-13 10:00] Niklan commented on #44
"Гороховый фон" содержит в себе элементы сайта. Т.е. логотип друпала, значок помощи, значек вопросов и ответов, новостей, мероприятий. Т.е. по сути хоть как-то отсылается, другого не придумал, а больше и не предлагали) Я не дизайнер, на досуге рисовал, поэтому получилось как получилось.

[2015-02-13 10:05] RedElephantDesign commented on #44
Мы постараемся что-то для альтернативы дать. Если лучше в итоге не придумаем в этой ветке, то оставим "горох". Он хороший, имеет право быть)
Не обязательно, чтобы он ссылся на возможности и тематику сайта, главное чтобы дизайн был функционален. Как говорят: "если вы не заметили дизайн, значит он сделан хорошо".))))

[2015-02-13 10:10] fortis commented on #44
полностью согласен, горох ^^ ни к чему, это отчасти и придает сайту вид бложика

[2015-02-13 10:41] UksusoFF commented on #32
Еще материалы и вопросы пользователя не помешали бы. Как минимум хотя бы свои чтобы видно было.

[2015-02-13 10:55] Niklan commented on #32
Да, будут, в трекере. А общие может тоже будут, как было предложено в #64

[2015-02-14 23:51] drupby opened #76 "Не совсем корректная подсветка кода"
При таком объявлении массива (используя language-php)

[code]

незакомментированные элементы и закомментированные будут иметь один и тот же class="token comment", соответственно одинаковый color

[2015-02-15 04:55] RedElephantDesign commented on #57
Всем привет. Выкладываем обновление по логотипам. Есть хорошие варианты, есть плохие. Показываем все. Решили в поисках вдохновения посмотреть сайты сообществ дрюпаллеров других стран. Вдохновения там не обнаружили. В основном пихают флаги в каплю. Этого очень не хочется, если честно, но вариант сделали. В остальных старались минимизировать и упростить и без того простую капельку. Может повторюсь,

[2015-02-15 05:00] RedElephantDesign commented on #57
Особое внимание хотим уделить двум вариантам, которые на наш взгляд наиболее интересные:
![logo-nice](https://cloud.githubusercontent.com/assets/10986896/6202142/09741998-b512-11e4-95fe-68ff7403a739.png)
Вариант №11 и №16 показывают основную тематику сайта, не отвлекая внимания от названия.
При этом пользователи будут в голове дорисовывать недостающие элементы, что дополнительно заставит их разгля

[2015-02-15 05:02] RedElephantDesign commented on #57
Варианта №9 нет - так как думали, что там будет еще вариант с флагом. Но не придумали. Флаг на наш взгляд очень тревиальное решение, но зато, возможно, понятно и однозначно скажет о направлении портала.

[2015-02-15 05:04] drupby commented on #57
я за 9-ый вариант :+1:
а вообще хоть с флагом сама идея мне не нравится, но вот глядя на реализацию мне больше импонируют варианты 7  и 8

[2015-02-15 05:05] RedElephantDesign commented on #57
Да, вариант 9, пожалуй, самый лучший из предложенных. Максимально просто:)

[2015-02-15 05:09] RedElephantDesign commented on #57
По поводу 7 и 8 есть еще вариант, тут сразу несколько реализаций цветовых)
![2836_800px___1](https://cloud.githubusercontent.com/assets/10986896/6202163/cb4c0cf0-b513-11e4-9a03-1bb071e8e33d.jpg)

[2015-02-15 05:10] drupby commented on #57
варианты 12, 13, 14, 15 я бы вообще исключил

[2015-02-15 05:10] RedElephantDesign commented on #57
Можно правда подумать над таким вариантом, но боюсь не все сразу узнают храм, Москву и т.д.

[2015-02-15 05:11] RedElephantDesign commented on #57
то есть вместо цветов флага, сделать цвета одной из башен

[2015-02-15 05:13] drupby commented on #57
@RedElephantDesign наверное все таки цвета куполов?

[2015-02-15 05:49] Niklan commented on #76
Хм, да вообще странный какой-то у нас код для подсветки синтаксиса: https://github.com/Niklan/Dru.io/blob/master/sites/all/themes/dlcommunity_theme/js/prism.js

Поставил его потому что https://highlightjs.org/ не подсвечивал вообще ничего, одночто автодетект языка, а он даже код не видит, не то что язык определять. Надо будет в новой теме его потестить сного и отказываться от prism, хоть и мозилов

[2015-02-15 05:58] Niklan commented on #57
13, 14, 15 не совсем корректно изображены в круге. У друпала уже куча примеров как глаза изображаются якобы смотрящие прямо.
![druplicon](https://cloud.githubusercontent.com/assets/2356744/6202261/b577a7e4-b500-11e4-9343-8c324d7f6594.png)

Считаю что он немного некорректен, так как использовался до 2004 года, хотя кто об этом знает и вспомнит ;) Но в кругу, считаю, надо изображать его именно так.

[2015-02-15 06:25] RedElephantDesign commented on #57
Пишите еще комменты. На следующей неделе предложим третий набор, он будет очень маленький и включать то, что понравилось с первых двух + что-то новое, гибридное из предыдущих решений.
Таким образом, думаем, что сможем предложить в итоге вариант, который понравится большинству.
В крайнем случае оставим на сайте тот вариант, который есть сейчас.
По поводу других стран, думаю лучше от флагов отойти в

[2015-02-15 09:10] adubovskoy opened #77 "Разложить модули"
на
/sites/all/modules/custom
/sites/all/modules/contrib

[2015-02-15 17:37] Niklan commented on #19
На деве @adubovskoy сделал трекер. Так что данный ишью будем считать закрытым. Если что, уже будем перерабатывать то что сделано. Скорее всего вылетит на продакшен вместе с темой, ибо подвязали уже.

[2015-02-15 17:37] #19 closed, assigned to SemanticsPRO

[2015-02-16 22:26] xandeadx commented on #74
Я тут подумал, может удалить такие категории как Block API, Taxonomy API, Field API и т.п. и создать вместо них модули Drupal Block, Drupal Taxonomy и т.д.?
Т.е. все core модули вынести из категорий в проекты.

В категориях оставить именно общие API не имеющие модулей - Entity API, Form API, Database API, AJAX, File API и т.д.

Мне кажется так более правильно.

[2015-02-17 10:17] adubovskoy commented on #74
структурно правильно. Но непонятно - Field API понятнее чем Drupal Field, если будут адресный вопрос задавать - будут искать сочетание field api, наверное.

[2015-02-17 10:31] xandeadx commented on #74
я что-то не помню чтобы когда-нибудь искал по "field api" :) обычно "drupal field [вопрос]"
если проблема только в seo, то можно добавить синонимов

[2015-02-17 10:36] Niklan commented on #74
Тут вот в чем разинца, они оба воспринимаются по разному:
Field API - это чисто техническая категория. Т.е. сугубо вопросы связанные с написанием своих полей, их расширением в качестве виджетов и т.д.
Drupal Field - это общее, куда и влазит Field API, при этом тут же темизация полей, их создание, добавление, какие-то вопросы по конфигам.

Думаю стоит просто поменять название. То же самое и с блока

[2015-02-17 10:45] xandeadx commented on #74
по такой логике надо насоздавать категории views api, panels api, ctools
api :) имхо достаточно имя модуля

[2015-02-17 10:48] Niklan commented on #74
Да нет, просто как ты и предложил. Field API -> Drupal Field и всё. Только по ядру.
Вот категория кодинг скорее тоже нужна. Её опять же можно с модулем каким в фасете сделать и увидеть только вопросы кодинга под модуль

[2015-02-17 10:56] drupby commented on #74
Почему не сделать тег Fields?

[2015-02-17 20:04] xandeadx commented on #74
@drupby в моём понимании должен быть проект Fields, а не тег, ведь это модуль.

[2015-02-18 01:18] drupby commented on #74
@xandeadx на DA есть тег Fields (Description - "Fields are custom data that can be attached to Drupal entities.") http://drupal.stackexchange.com/questions/tagged/fields и там содержатся вопросы и по поводу Field API, и по модулю Field

[2015-02-18 01:24] xandeadx commented on #74
@drupby на DA нет разбивки вопросов по модулям, там вся категоризация на тегах

[2015-02-18 13:30] Niklan opened #78 "Автодобавление проектов"
Пф, пришла идейка.

Напишу фильтр, который при обнаружении ссылки на орг, парсил данный проект и автоматически добавлял на сайт сообщества.

P.s. В дальнейшем, если доведём до ума страницы с проектами, можно будет и подменять ссылки с орга на локальные проекты. Только чтобы так издеваться надо сделать страницу проектов куда круче и информативнее.

[2015-02-18 13:36] adubovskoy commented on #78
Катя (kalabro) недавно сказала что хотела бы, как мейнтейнер модулей, получать оповещения по вопросам к тем или иным модулям/подписываться соотв.

Соотв. предложенный вариант поможет эту страничку http://dru.io/project/views автоматом набивать. А при создании нового вопроса/ответа, мы также можем messages генерить для оповещения, или флаг.

[2015-02-18 13:39] semyondragunov commented on #78
Выборка модуля из селекта по локальным проектам.

[2015-02-18 13:40] Niklan commented on #78
Ну а что:
1. Делаем флаг на проект "Подписаться" или точечно "Подписаться на вопросы", "Подписаться на материалы". Ибо потом мы ведь можем и к гайдам и прочему цеплять их.
2. Далее хукаем добавление, допустим, вопроса, и всем кто подписан фигачим в трекер или ещё куда оповещение.

Сейчас, суть моего предложения. Ускорить наполнение базы. Т.е. даже упоминания модуля достаточно чтобы его добавить, з

[2015-02-18 13:42] Niklan commented on #78
Суть в том, что когда страницу проекта доведём до ума, мы сможем подменять ссылку на орг на нашу локальную. Где человек на русском языке получит намного больше информции. Тем самым удержав его в сообществе, и организовав какую-никакую экосистему. Разумеется, ссылка на орг будет на видном месте как сейчас.

Также можно ссылки типа https://www.drupal.org/project/path_breadcrumbs автоматически трансф

[2015-02-19 11:44] Niklan commented on #2
Тут что-то немного мне в голову пришло. В общем надо сразу предусмотреть что мероприятие может быть реальным и вирутальным. Мало ли сбор какой-то в хэнгаут, обучающией видеотренинг или ещё что.

[2015-02-28 14:26] UksusoFF opened #79 "Короткие заметки"
Столкнулся тут с проблемой что если в любое поле Drupal вставить emoji и попытаться сохранить, то вываливает ошибку работы с базой. Причем это даже на drupal.org
Решение в конвертировании базы в другую кодировку или установка [модуля](https://www.drupal.org/project/strip_utf8mb4) который их просто вырезает.
На публикацию эти пару строк вроде не тянут, а запостить можно было бы что бы потом другие

[2015-02-28 14:31] UksusoFF commented on #19
Скорее бы уже, люди вон на другие ресурсы уходят :)
https://toster.ru/q/194605

[2015-02-28 16:03] Niklan commented on #79
Emoji вообще бич какой-то мобильных телефонов. Он нигде нормально не отображается. Считаю что выводить такое точно не надо, максимум срубать фильтрами.

[2015-02-28 18:23] UksusoFF commented on #79
Вот этот модуль их как раз и выпиливает. ИМХО его хорошо бы поставить на все сайты где контент могут добавлять пользователи.

Вопрос в том нужно ли такие заметки размещать на сайте.

[2015-02-28 18:25] Niklan commented on #19
@UkusoFF да просто надеятся быстрее ответ получить. У меня сейчас завал, а тема готова на половину, как будет готово так сразу)

[2015-03-06 13:40] semyondragunov commented on #79
@UksusoFF Ну запости в публикации, думаю интересно будет.

[2015-03-07 18:23] adubovskoy commented on #57
М?)
![front](https://cloud.githubusercontent.com/assets/297623/6542648/2aae3ec8-c510-11e4-9a01-e7ed4f89716e.png)

[2015-03-07 19:11] Niklan commented on #57
Ола комраде

[2015-03-08 13:00] Niklan commented on #57
На отоспавшуюся голову глянул. Мну нравитцЦо) :cool:

[2015-03-15 00:25] drupby opened #80 "Schema.org - разметка Question/Answer"
Для вопросов/ответов  имеется разметка Schema.org http://help.yandex.ru/webmaster/supported-schemas/questions.xml, которую принимают и гугл, и яндекс. Можно на странице помечать вопросы, ответы, лучшие ответы, количество голосов за ответ, количество ответов и т.д. Пример такой разметки естественно имеется на http://drupal.stackexchange.com/
Это ишью к тому, кто занимается разработкой темы сайта, п

[2015-03-15 10:47] Niklan commented on #80
Да, будем делать.

[2015-03-16 08:57] adubovskoy commented on #80
ага, задачка есть, я помню)
https://github.com/Niklan/Dru.io/issues/35

[2015-03-17 09:14] vistar opened #81 "Форматы даты, времени"
Это на странице http://dru.io/question/851, например:
https://docs.google.com/file/d/0B-y7uZTTx536YzRTTlgxQ19jd1U/edit?usp=drivesdk
1. Разные форматы отображения даты, времени.
2. Не соответствие [стандартизованным](https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BB%D0%B5%D0%BD%D0%B4%D0%B0%D1%80%D0%BD%D0%B0%D1%8F_%D0%B4%D0%B0%D1%82%D0%B0) в РФ. У меня такие форматы (/admin/config/regional/date-time/

[2015-03-17 11:39] Niklan commented on #81
Спасибо, в новой теме учтём: http://dev.dru.io/question/441
Уже всё ок, приведём к формату нужному.

[2015-03-17 12:20] vistar commented on #81
Дефис между датой и временем остался пока…

[2015-03-17 20:24] Niklan commented on #81
Исправлено на деве.

[2015-03-17 20:24] #81 closed, assigned to Niklan

[2015-03-17 20:24] Niklan commented on #80
Закрываю, переходим на #35

[2015-03-17 20:24] #80 closed, assigned to nobody

[2015-03-17 22:39] xandeadx commented on #57
подвал прибить неплоха бы

[2015-03-17 22:43] xandeadx commented on #79
Попробовал на Drupal 7, никаких ошибок не вываливается, эмоджи отображаются нормально.
База в utf8_general_ci

[2015-03-17 23:30] adubovskoy commented on #57
Ток если так http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ .

[2015-03-18 18:59] dashiwa opened #83 "Фильтр по сложности вопроса"
Может подумать как организовать вопросы по уровню сложности?
Возможно решение не будет слишком обьективным, но поможет каждой группе пользователей.
Кому-то интересны вопросы для новичков,кому-то средние и тд...

[2015-03-18 19:12] Niklan commented on #83
А кто будет определять сложность вопроса. Это слишком субъективное восприятие. То что может для меня быть очень просто, для вас показаться слишком сложно, и наоборот.

Если такое реализовывать, то тут два варианта:
1. Четко продумываем, определяем все виды сложностей с четким описанием что в конкретно каждую категорию попадает.
2.  Какую-то школу измерения добавляем в вопрос. Каждый сам выбирает н

[2015-03-18 19:21] adubovskoy commented on #83
Имхо не нужно. Лишняя сущность.

Какие реальные проблемы мы решим этой фильтрацией?
Сделать "введение для новичков" так не получится. Простая сортировка -- ничего особо полезного не даст.

[2015-03-18 20:33] semyondragunov opened #84 "Апгрейд навигации на сайте"
Или на главной воткнуть ajax пагинатор для колонок **Последние вопросы** и **Последние публикации** или придумать что-то другое.
Так как конкретно запарило Главная->Вопросы->Пагинатор->Нужный вопрос.
И хотя бы на время вместо трекера в профиль поместить вьюшку с теми вопросами/публикациями, где ты участвовал.

[2015-03-23 11:45] adubovskoy opened #85 "Хакатон"
У меня тут локальное событие,
http://www.47hours.org/ . Думаю засесть писать раздел мероприятий для dru.io.
У кого есть возможность (удаленно можно), присоединяйтесь. Кидаю заранее, чтобы время можно было планировать)

[2015-03-26 13:03] adubovskoy opened #86 "Склейка однотипных вопросов"
Подумать что делать с:
http://dru.io/question/302
http://dru.io/question/932
такого рода дублями.

Варианты:
1. Сделать возможность пользователям помимо ответа указывать референс к старому вопросу. С рейтингом и комментариями.
2. Аналогично, но только для админов
3. Предлагать автоподборку из поиска (вопрос выявления ключевых слов, сложно).

[2015-03-26 13:37] Niklan commented on #86
Тоже думал о первых двух пунктах. Надо будет делать.

3 больше на #17 походит.

[2015-03-26 14:31] drupby commented on #86
К примеру на cyberforum.ru даются ссылки на похожие вопросы-топики (к примеру "Similar Посмотрите здесь:" http://www.cyberforum.ru/php-beginners/thread1404006.html), и если три похожих вопроса и делать ручной референс, то на какой вопрос они должны ссылаться?

[2015-03-26 14:59] Niklan commented on #86
Я думаю идея, которую предложил @adubovskoy немного иная. Я так понял добавляется связь на вопрос, который очень похож, но немного отличается.  Такая штука на stakoverflow имеется, но крайне редко используется.

Похожие вопросы мы вообще можем выводить вьюхой основываясь на категории или ещё чем то.

[2015-03-26 15:06] drupby commented on #86
@Niklan так потому на stakoverflow редко встречается, так как имеется много нюансов. При большом количестве вопросов сложно это все отслеживать, нужно как то автоматизировать, да и степень схожести вопросов оценивается весьма субъективно, вопросы по одной даже узкой тематике могут заключать в себя совершенно разный контекст. И как из 10 схожих вопросов выделить "главный"?

[2015-03-26 15:12] Niklan commented on #86
@drupby в этом и сложность. Нужен алгоритм.

[2015-03-27 01:45] xandeadx opened #87 "Подборка ссылок на статьи о модулях"
Сейчас у каждого модуля есть своя страница. На странице модуля можно помимо ссылок на вопросы выводить ссылки на статьи об этом модуле.

Например на странице модуля Search API будет что-то типа:

— Search API и поиск с морфологией (http://xandeadx.ru/blog/drupal/686)
— Intro To Search API (Part 1) - How To Create Search Pages (http://www.webwash.net/tutorials/intro-search-api-part-1-how-create-sea

[2015-03-27 11:05] Niklan commented on #87
Так проще сделать раздел для публикации ссылок на внешние статьи. А уже при публикации связывать с проектом. Тогда ложных срабатываний не будет. А для сохранности да, можно сохранять в peeep и хранить до тех пор пока ссылка не отвалится.

[2015-03-28 08:20] semyondragunov commented on #85
Немного не понял сути написанного. Что писать? Куда присоеденятся? Мероприйтий по Дру по пальцам...

[2015-03-28 08:22] semyondragunov commented on #87
@xandeadx Идея отличная. У меня есть txt шник со статьями по модулям. Классно бы было всё в одном месте.

[2015-03-28 11:31] Niklan commented on #85
Будет мероприятие в Ростове, будет предоставлено место и т.д. Александр будет там и зовет других, кто может физически, а кто удаленно.

[2015-03-29 07:27] semyondragunov opened #88 "Сам спросил, сам решил - кнопка"
Сабж в тайтле. Не понятно решена ли задача. Или дать возможность ответить создавшему топик 1 раз.

[2015-03-30 20:55] semyondragunov opened #89 "Вторая страница коментариев"
Когда начинается 2я страница комментов для ответа, то появляеться пагинатор. При переходе на 2ю страницу комментов вся страница обновляеться и делает логичный скролтоп.
Предлагаю использовать для данного пагинатора ajax.

[2015-03-30 21:08] Niklan commented on #89
Это да.  У кого есть опыт в аякс пагинации когда их много на странице отзовись

[2015-03-30 21:10] fortis commented on #89
нужен вьюшный аякс без скрола? тогда хватит и hook_views_ajax_data_alter в котором убираем скролтоп

[2015-03-30 21:23] semyondragunov commented on #89
Кстати ещё заметил, что при переключении пагинатора к примеру на 2ю страницу в каком-нибудь ответе, он переключает все ответы на 2ю страницу. Нужен полный ajax.

[2015-03-30 21:38] fortis commented on #89
наверно id пейджера совпадают у всех, там есть во вьюшке настройка

[2015-03-30 22:20] Niklan commented on #89
@fortis не понял про скрол. Надо просто пейджеры аяксовыми сделать, чтоюы на лету подменялись, без всяких скролов
Или делать как на stackoverflow, выводить последние 5 комментов, потом "Показать все (N)" и грузит все разом.

[2015-03-31 07:56] xandeadx commented on #89
Тут бы подошёл ajax-овый load more вместо пагинатора

[2015-03-31 10:33] AvivarK commented on #89
Мои пожелания:
1) Комментарии к ответам и вопросам скрыть при открытии вопроса.
 Если оставить как есть на dru.io, то получается к вопросу бывают много комментариев, которые мешают просмотреть существующие на вопрос ответы. Приходится пролистать их.  Добравшись до первого ответа, сразу видишь комментарии к нему, и приходится их снова пролистать, чтобы добраться до второго ответа  и т.д.
2) Если вы

[2015-03-31 12:47] semyondragunov commented on #89
@AvivarK 1 и 2й пункты: https://github.com/Niklan/Dru.io/issues/36

Кстати да, можно вообще убрать постраничность. И всё под кнопку убрать. И никаких извращений с ajax.

**UPD** А 4й пункт тоже обсуждали, но непомню к чему пришли.
**UPD2** Хотя опять же, с вариантом @xandeadx не надо будет открывать весь кат чтобы посмотреть последние комменты. Но я за вариант @AvivarK

[2015-03-31 12:56] drupby commented on #89
Уже вроде где то предлагалось сделать как на тостере (пример https://toster.ru/q/204792), изначально вообще не показывать комменты, а только список ответов. Возле каждого ответа/вопроса выводить кол-во комментов и по клику выводить их.

[2015-04-05 10:04] Attyla opened #90 "Свои публикации (вопросы+ответы+комментарии) + уведомления"
Добавьте возможность просмотра в профиле своих вопросов, ответов, комментариев+ уведомление о появлении новых ответов и комментариев. Спасибо.

[2015-04-06 03:32] Chi-teck opened #91 "Чат для сообщества"
Предлагаю замутить чат на https://gitter.im, либо через какой нибудь IM клиент
Skype, IRC, Viber, Telegramm и т.д.

[2015-04-06 09:43] drupby commented on #91
Есть skype-чат, но он скорее для обсуждения вопросов, касаемых относительно функционирования сайта. Если хотите вопросы по друпалу в чате задавать вместо сайта, то это мне кажется не самая лучшая идея.

[2015-04-06 09:46] drupby commented on #88
"Или дать возможность ответить создавшему топик 1 раз." - вполне логично было бы вынести в ответ решение вопроса/проблемы и помечать ответ лучшим/решенным. А нынче я так понимаю автор вопроса сам не может давать ответы?

[2015-04-06 09:48] Niklan commented on #91
Я думаю если и делать чат, то на сайте. Во-первых, сразу понятно с кем общаешься, ибо единый профиль. И универсальность. Во-вторых кто-то не пользуется скайпом, кто-то другими мессенджерами. В принципе я не думаю что сделать общий чатик проблематично, надо найти тех кто знает Node.JS

[2015-04-06 09:52] Niklan commented on #88
Да, не может. Тут вопрос в другом. На старте многие начали свои вопросы дополнять ответами - что вообще не хорошо.

[2015-04-06 10:09] drupby commented on #88
"На старте многие начали свои вопросы дополнять ответами - что вообще не хорошо."
Ну так ответ то в любом случае один можно написать, а для автора изменить в альтере поле Ответ на к примеру "Решение вопроса" (ну или как то так) и добавить description.

[2015-04-06 10:14] Chi-teck commented on #91
gitter.im привязывается к гитхаб аккаунту и имеет открытое апи и клиенты различные платформы. Я думаю можно сделать трансляцию сообщений на сайте. Для других IM в принципе наверное это тоже возможно.

[2015-04-06 10:24] SemanticsPRO commented on #91
Человек без скайпа - почти импосибль.
На пыхе чат делать не стоит

[2015-04-06 10:41] Niklan commented on #91
@SemanticsPRO потому им предложил на Node.JS и связать с друпалом. Примеры же есть.

У того же gitter ограничение в 25 человек на комнату, дальше $5/чел. Я  думаю мы лимит в 25 человек моментально израсходуем.

[2015-04-06 10:42] Niklan commented on #88
Окей, надо будет сделать.

Вроде такой issue уже был. Надо нарыть. Уже вроде с темой и трекером закончили на деве, думаю скоро надо переносить,а потом и этими улучшениями займемся.

[2015-04-06 10:53] Chi-teck commented on #91
Так ведь 25 человек это на **приватную** комнату? Для публичных чатов вроде нет ограничений.
Вот русский чат laravel https://gitter.im/LaravelRUS/chat.
Больше тысячи человек там.

[2015-04-06 13:43] xandeadx commented on #91
как оптимистично :D

[2015-04-06 14:12] Niklan commented on #91
@xandeadx да не, там просто все осядут, вкладки закрепят и будут висеть. Из эти 25 может быть 0 активных будет, но группу то збьет.

[2015-04-07 22:00] RuZniki opened #92 "Ссылка на ответ, вопрос в поисковой выдачи."
Воспользовался поиском http://dru.io/search?s=placeholder
![2015-04-08 00_57_59- _ dru io](https://cloud.githubusercontent.com/assets/1125080/7034579/5cb8e430-dd8a-11e4-989a-554700118298.png)
Нашел ответ, а как найти вопрос?
Перешел на страницу ответа (http://dru.io/answer/944) а там нет ни комментариев, ни вопроса.

[2015-04-07 22:19] drupby opened #93 "Несколько вопросов по новому функционалу/теме"
1. В чем функционал трекера, кроме сообщения "Нет свежих обновлений."?
2. На главной правый блок "Последние вопросы", а у левого блока заголовка нету почему то.
3. Зачем иконка вопроса напротив вывода каждого вопроса? (особенно на странице /question бросается в глаза)
4. На странице  /question  я бы заменил цвет иконок c черного на серый.
5. Не понятен смысл страниц расширений в нынешнем виде, хот

[2015-04-08 05:01] Niklan commented on #92
Надо результаты поисковой выдачи вообще изменить всем типам. Привести к единому стилю.

[2015-04-08 05:10] Niklan commented on #93
1.  /summon @adubovskoy
2.  Вернул, вообще странно почему пропало.
3.  Кто еще за убрать? Если еще кто-то выскажется против, уберу.
4.  :+1:
5.  Вообще страница расширений получилась болезненной. Не ясно как оформлять загрузки, и докатилось в том виде без загрузок) Чтобы не оттягивать из-за не очень значительного раздела еще на пару месяцев перенос. А сейчас, так как на продакшене, будет больше ст

[2015-04-08 05:12] Niklan commented on #93
Фавиконку вернул.

[2015-04-08 05:19] Niklan commented on #93
Сделал по 15 вопросов на странице с общим списком.

[2015-04-08 06:39] adubovskoy commented on #93
В трекере будет список ответов/комментов на твои вопросы. Надо бы туда еще activity log какой-нибудь, типа ленты всего где пользователь участвовал, это еще надо доделать.

[2015-04-08 07:26] adubovskoy commented on #90
В трекере есть уведомления при новых комментах/ответах, а вот истории своих - пока нет, надо делать. Либо в профиле, либо в трекере. Или и там и там) Взял задачку, может на след.неделе будет.

[2015-04-08 07:37] UksusoFF commented on #38
Посты в RSS после обновления кривые, не содержат текста, только единички, нолики и аватарка не нужная ![rss](https://cloud.githubusercontent.com/assets/1931442/7040756/7e9486b4-dde3-11e4-9284-6dfb4d079c91.png)

[2015-04-08 07:51] Niklan commented on #38
Починил

[2015-04-08 07:57] ghost opened #94 "Подсветка вопросов при наведении в блоке последних вопросов"
Думаю будет удобнее если в блоке "последние вопросы" сделать подсветку вопроса при наведении мышки. что то типа

[code]

[2015-04-08 08:00] KhabibullinMax opened #95 "Количество материалов в скобках при активном фильтре"
Чтоб было наглядно
При неактивном фильтре количество материалов отображается
![2015-04-08 12 58 18](https://cloud.githubusercontent.com/assets/5961634/7041052/3058b810-ddef-11e4-9a55-52b5b6438a01.png)
А при активном - нет
![2015-04-08 12 59 07](https://cloud.githubusercontent.com/assets/5961634/7041058/3bc2b8d6-ddef-11e4-95b7-d4fb21d8f15f.png)

Думаю, это не совсем логично

[2015-04-08 08:01] UksusoFF commented on #38
Хорошо! Осталось добавить в head (:

[2015-04-08 08:19] adubovskoy commented on #95
Тут спорный вопрос. Это фасеты, так уж у них заведено) Но настройки посмотрим, не помню уже - есть ли в UI галочка на такой случай. Переписывать -- слишком накладно.

[2015-04-08 08:22] vortex9 commented on #93
А почему сайт сейчас так адски тормозит? Любая страница грузиться около 30 секунд.
Кто такой dev.dru.io:35729?
![pic_3_1](https://cloud.githubusercontent.com/assets/5040287/7041386/903145f8-dde1-11e4-89d4-d739db752705.jpg)

[2015-04-08 08:35] Niklan commented on #93
Убран

[2015-04-08 08:53] vortex9 commented on #93
Теперь снова летает

[2015-04-08 09:19] drupby commented on #93
"Кто еще за убрать? Если еще кто-то выскажется против"
На главной в блоке со списком можно оставить, но на странице вопросов /question, где и так понятно, что здесь список вопросов, да и еще в совокупности с черным цветом всех остальных иконок, просто рябит в глазах.

[2015-04-08 09:31] Niklan commented on #93
Согласен пожалуй. Уберу.

[2015-04-08 09:37] xandeadx commented on #93
мои пять копеек:
1. Увеличить дефолтный line-height до 1.5
2. Ссылки вопросов не реагируют на ховер
3. В блоках с фасетами сделать цвет ссылок как обычный текст
4. Размер шрифта .question__bottom сделать на пиксель меньше - 13px
5. Убрать обрезание текста в блоке "Последние вопросы"
6. Задать марджины .form-item, а то сливаются
7. Аватары на странице с вопросами забирают на себя всё внимание, рань

[2015-04-08 11:07] adubovskoy opened #96 "Трекер не работает"
Пока текстом указал что в разработке. Печалька в том что у меня по работе цейтнот, а завтра я еду в Краснодар, там непонятно будет ли время.

[2015-04-08 12:21] RuZniki opened #97 "Typo in section.question__bottom"
На странице вопроса, который та задал в подвале:
Если вы желаете дополнить его, в таком случае **вопспользуйтесь** редактированием вопроса.

Должно быть:
Если вы желаете дополнить его, в таком случае воспользуйтесь редактированием вопроса.

[2015-04-08 12:24] drupby commented on #96
"Пока текстом указал что в разработке."
В разработке - это конечно хорошо, но нужно было бы и на github добавить модуль трекера, чтобы и остальные могли глянуть и поучаствовать.

[2015-04-08 12:39] Niklan commented on #96
А он и лежит)
https://github.com/Niklan/Dru.io/blob/master/sites/all/modules/custom/dlcommunity/dlcommunity_messages.inc

[2015-04-08 12:41] Niklan commented on #96
Думаю там ошибка в самой сущности, которая сделана на ECK.

@adubovskoy сущности делаются, вангаю проблема в views.

[2015-04-09 22:03] adubovskoy commented on #96
Починил, надо закоммитить изменения будет.

[2015-04-09 22:03] #96 closed, assigned to adubovskoy

[2015-04-10 12:48] drupby opened #98 "Добавить к вопросам флаг подписки"
Нынче я так понимаю в трекере отслеживаются вопросы, в которых пользователь давал ответы, но хотелось бы, чтобы в вопросе был флаг "подписаться" и соответственно в трекере отражались и эти вопросы

[2015-04-10 13:56] UksusoFF opened #99 "Редактирование ответа на вопрос."
Внизу написано: Вы уже дали ответ на данный вопрос. Воспользуйтесь редактированем, если желаете дополнить свой ответ.

Но кнопки править нигде нет (:

[2015-04-10 14:01] UksusoFF commented on #99
А и да, "редактированИем" вдогонку.

[2015-04-10 21:31] drupby opened #100 "В новой теме отсутствует маркер "лучшего" вопроса"
В новой теме на странице вопросов (http://dru.io/question) никак не маркируются вопросы решенные, помеченные как лучшие. Пример решенного вопроса http://dru.io/question/1098. Я бы заменил .question.teaser .question__right h2 a:before с иконки вопроса на иконку решенного вопроса, если такой имеется.

[2015-04-11 05:52] Niklan commented on #97
done

[2015-04-11 05:52] #97 closed, assigned to nobody

[2015-04-11 21:35] xandeadx opened #101 "В форме создания вопроса пропала кнопка добавления проекта"
сабж

[2015-04-11 21:40] xandeadx opened #102 "На странице с вопросами пропала отметка о лучшем ответе"
сабж

[2015-04-12 06:25] drupby commented on #102
https://github.com/Niklan/Dru.io/issues/100

[2015-04-12 06:26] #102 closed, assigned to nobody

[2015-04-12 17:15] Niklan commented on #100
Добавлен

[2015-04-12 17:15] #100 closed, assigned to nobody

[2015-04-12 19:32] #77 closed, assigned to Niklan

[2015-04-12 20:00] Niklan commented on #74
Пункт 1 тоже готов. Думаю ишью можно закрывать.

[2015-04-12 20:00] #74 closed, assigned to nobody

[2015-04-12 20:08] semyondragunov opened #103 "Подсветка кода не работает"
сабж

[2015-04-12 20:58] Niklan commented on #103
Где именно

[2015-04-12 21:49] semyondragunov commented on #103
Везде:
http://dru.io/question/1115
http://dru.io/question/1120

[2015-04-13 05:28] Niklan commented on #103
Ок, отключил сжатие js

[2015-04-13 05:41] Niklan commented on #99
![ex](https://cloud.githubusercontent.com/assets/2356744/7110392/98c4b7a4-e1c9-11e4-9401-1033d3357e65.png)

(скрин из под ..хера автора - он не модер, ни админ)

Опечатку поправил

[2015-04-13 05:45] Niklan commented on #95
Пока закрываю. Не критично, но как сказал @adubovskoy, может стать накладным.

Могу в случае фасетов заголовок менять на общий "Найдено N вопросо" но надо ли.

[2015-04-13 05:45] #95 closed, assigned to nobody

[2015-04-13 05:47] UksusoFF commented on #99
Неа, не вопроса. А ответа на вопрос:
![dru io](https://cloud.githubusercontent.com/assets/1931442/7110429/0dc7276a-e1c2-11e4-8ff6-cdb426cece67.png)

[2015-04-13 05:48] semyondragunov commented on #99
Наведи мышь на сообшение там шестеренка появиться, как у редактирования блоков и views. А если нет, то ...хер админ врубите простым смертным сию функцию.

[2015-04-13 05:49] UksusoFF commented on #99
Не появится:
![default](https://cloud.githubusercontent.com/assets/1931442/7110439/540c1ff0-e1c2-11e4-90d6-8134a338e41a.png)

[2015-04-13 05:51] Niklan commented on #99
Добавил доступ к шестеренке юзерам. Теперь у тебя при наведении тоже будет)

[2015-04-13 05:51] #99 closed, assigned to nobody

[2015-04-13 05:52] UksusoFF commented on #99
Да, теперь работает. Спасибо.

[2015-04-13 05:54] semyondragunov commented on #101
Она кстати везде пропала, не только там.

[2015-04-13 05:58] Niklan commented on #76
С темой перешли на higlightjs, он намного лучше подсвечивает.

[2015-04-13 05:58] #76 closed, assigned to nobody

[2015-04-13 05:58] Niklan commented on #39
Готово с новой темой.

[2015-04-13 05:58] #39 closed, assigned to nobody

[2015-04-13 05:59] Niklan commented on #44
Переехал на лайв.

[2015-04-13 05:59] #44 closed, assigned to nobody

[2015-04-13 06:00] Niklan commented on #46
#89 - дубль, но там оживленно пошло общение. Поэтому закрою этот.

[2015-04-13 06:00] #46 closed, assigned to nobody

[2015-04-13 08:21] drupby commented on #103
"Ок, отключил сжатие js"
Что же за подсветка кода, которая работает только при выключенной агрегации скриптов?

[2015-04-13 09:07] Niklan commented on #103
highlight.js (он кстати язык сам отлично понимает и не обязательно указывать language-php), надо заметить select2.js тоже отвалился при аггрегации. Мои подозрения падают на Advagg модуль

[2015-04-13 09:41] RuZniki opened #104 "Предпросмотр при редактирование вопроса?"
Не могу найти как это сделать.
Может кнопка в WYSIWYG есть, но я её не нашел.
![dru io-preview](https://cloud.githubusercontent.com/assets/1125080/7113217/3863ce20-e1da-11e4-8a91-a0bed5f876d8.png)

[2015-04-13 10:31] Niklan commented on #104
А вообще, её нет :( Надо бы к BUEditor подцепить её

[2015-04-13 12:50] vortex9 commented on #98
+1

[2015-04-13 17:59] xandeadx opened #105 "У комментариев к вопросу нет ссылок изменить/ответить/удалить"
сабж

[2015-04-13 18:01] xandeadx opened #106 "Скрыть vertical tabs в форме добавления ответа"
При создании ответа они не нужны, только при редактировании

![2015-04-13_210121](https://cloud.githubusercontent.com/assets/845389/7121879/421e9076-e220-11e4-90e4-ec1b24ecc684.png)

[2015-04-13 18:03] xandeadx opened #107 "Сменить виждет поля "Версия Drupal" на чекбоксы"
Select2 там совершенно не нужен, хватит обычных чекбоксов в линию

[2015-04-13 18:04] xandeadx commented on #106
И в форме добавления вопроса то же можно скрыть

[2015-04-13 18:07] xandeadx commented on #66
Ну что с картинками? One Click Upload 2 уже достаточно стабилен и поддерживает drag&drop на textarea.

[2015-04-13 20:25] xandeadx opened #108 "Сделать редирект на вопрос после редактирования комментария"
Сейчас идёт редирект на /answer/[id]

[2015-04-13 21:25] Niklan commented on #66
@xandeadx судя по всему он сливает все в папку sites/defaulte/files это не есть гуд. Или я не так понял.

[2015-04-13 21:26] Niklan commented on #106
Но это только же для модеров\админов, как это мешает обычным?)

Какой best practice по их "пряткам"? Не было необходимости раньше их прятать админам.

[2015-04-13 21:28] xandeadx commented on #66
куда он должен их сливать?

[2015-04-13 21:31] xandeadx commented on #106
[code]

[2015-04-14 08:57] Niklan commented on #66
Ну в идеале нам надо будет поле для аттачментов сделать и туда сливать, а там уже filefieldpaths подхватит.

[2015-04-14 08:58] Niklan commented on #106
@xandeadx спасибо, сделаю. И действительно же) Вечно забываю что табы эти - элементы формы.

[2015-04-14 09:22] xandeadx commented on #66
http://xandeadx.ru/blog/drupal/677
filefieldpaths зачем?

[2015-04-14 09:25] xandeadx commented on #107
Можно вообще сделать поле single-value, а виджет сменить на select. Смысла в нескольких версиях друпала особо не вижу.

[2015-04-14 10:19] Niklan commented on #66
@xandeadx чтобы по папочкам всё лежало, по сути не кретично, но все же всеравно лучше бы в филд всё, чтобы файлы трекались.

[2015-04-14 10:24] xandeadx commented on #66
One Click Upload сам умеет по папочкам расскладывать

[2015-04-14 18:39] xandeadx opened #109 "UI: перенести ссылки комментариев в шапку коммента"
Глаза мозолят. Плюс сделать их на пиксель меньше текста комментария. Можно даже их скрыть и показывать только при наведении.

Было:

![2015-04-14_213417](https://cloud.githubusercontent.com/assets/845389/7144491/9c98838a-e2ee-11e4-8a19-e193a01d3367.png)

Стало:

![2015-04-14_213740](https://cloud.githubusercontent.com/assets/845389/7144494/a175d376-e2ee-11e4-98b7-56b701b97729.png)

[2015-04-14 19:15] RuZniki commented on #105
![2015-04-14 22_13_03- - options _ _ dru io](https://cloud.githubusercontent.com/assets/1125080/7145273/c177e04c-e2f3-11e4-9e93-bfdd8a266678.png)
+1

[2015-04-15 01:09] semyondragunov commented on #109
ИМХО, лучше по наведению.

[2015-04-15 13:03] semyondragunov commented on #5
Подниму тему... Так как думаю, она уже начинает быть актуальной.
Предлагаю объединить данный функционал с https://github.com/Niklan/Dru.io/issues/4
Как это будет выглядеть:
Вариант 1) Мембер может нажать кнопку у себя в настройках. И появиться в разделе каталога фрилансеров. Если он от фирмы, то сделать галочку, которая выведет доп. поля для фирмы. В таком случае будет видно что этот человек от эт

[2015-04-15 16:19] adubovskoy commented on #5
Есть мысль сделать просто в профиле пользователя поля для описания и сделать ранжирование по рейтингу.

[2015-04-15 20:57] drupby opened #110 "Почему бы не сделать трекер в том виде, как и на stackexchange?"
Просто можно сделать на странице юзера вкладки или же блоком (можно совместить вкладки и блоки) выводим 2 вьюхи: вопросы и ответы пользователя. Вопросы - понятно выводить список вопросов пользователя. Ответы - выводить список вопросов, к которым пользователь давал ответы. Вьюхи изначально сортировать по дате вопросов, но можно сделать и сортировку по "активности" вопроса. И в таком случае можно ув

[2015-04-16 05:47] Niklan commented on #5
Ну можно еще сделать как на брейинстроадже. Чтобы юзер мог своё портфолио оформить в дальнейшем, какие-то базовые прайсы указать по-необходимости, описание.

[2015-04-16 06:04] semyondragunov commented on #5
@Niklan Ну моём варианте это тоже предусматривалось. Забыл указать.

[2015-04-17 16:54] tlito opened #111 "Материалы пользователя в профиле: вопросы, блоги"
Мне важны мои вопросы, на которые мне дали ответы. Я хочу видеть в своем профиле все мои вопросы. Поэтому предлагаю сделать все материалы в профиле видными по вкладкам: на главной странице профиля - вопросы, потом вкладка Блоги.

[2015-04-17 16:57] tlito opened #112 "Теги при добавлении вопроса"
Теги очень важны для поисковой  оптимизации и удобства попадания на нужную страницу ищущих в поисковиках посетителей. Добавьте еще одно поле в форму вопроса - теги, свои собственные теги, автодополняемая область ввода

[2015-04-17 17:01] tlito opened #113 "Обмен печеньками в веб"
Некоторые вопросы могут иметь стоимость решения. Спрашивающий может предложить какую-нибудь печеньку, в частности, размещение ссылки автора лучшего правильного ответа у себя или другие, например, бесплатный дизайн или вёрстку для нового проекта отвечающего по требованию. Возможно, это редкая функция, но продумайте как вопрошающие могут поощрять отвечающих  за ответы на свои вопросы.

[2015-04-18 00:18] adubovskoy commented on #113
тяжело реализовать. Вероятно придется отложить, пока не будет:
- проработанная концепция, как что и зачем (техзадание)
- дизайн

возьметесь продумать/сделать?)

[2015-04-18 06:49] Niklan commented on #113
В общем то нечто подобное обсуждалось уже. Все скатится к тому что те кто реально может помочь будут игнорить пока не будет назначена награда.

[2015-04-18 06:50] Niklan commented on #112
Ненеужно, отказались. Мы теги заменили категориями. Все что нужно содержится в воросе и ответе (ключевые слова). 90% не сможет грамотно заполнить теги, они будут состоять из: нужна помощь, помогите, не могу решить, как сделать ... и т.п. Смысла - 0.

Может тут есть другие мнения? Отписывайтесь.

[2015-04-18 08:57] SemanticsPRO opened #114 "Трекер для анонимов"
Считаю, что в целях улучшения индексации и всего такого нужно запилить трекер для анонимов.
Сейчас им показывается, что нет нефига.

[2015-04-18 08:59] SemanticsPRO opened #115 "Неотвеченные, новые и всякие разные вопросы на странице вопросов"
http://dru.io/question
Как на stackoverflow запилить бы

[2015-04-18 09:01] Niklan commented on #114
Надо писать либо доступа нет, либо редиректить на форуму авторизации. ТРекер для анонимов это бесполезная штука. У нас анонимы не спрашивать не отвечать не могут.

[2015-04-18 09:06] SemanticsPRO commented on #114
Д.ру через анонимный трекер только так и читается.
- Индексация

[2015-04-18 09:39] Niklan commented on #114
Может я чего не понял. Ну ладно)

[2015-04-18 12:44] xandeadx opened #116 "UI: выделить картинки в контенте"
надо добавить рамку и желательно тень, чтобы было понятно где текст, а где картинка

[2015-04-18 12:45] xandeadx commented on #112
Теги зло. Вы категорию то правильно с трудом можете выбрать, а что будет с тегами представить легко :)

[2015-04-18 14:20] SemanticsPRO commented on #112
все мы видели теги на д.ру.
Только в дру.ио нет Василия Пинчука, который готов их лопатить

[2015-04-18 14:21] SemanticsPRO commented on #47
таки шо? Никто не сделал?

[2015-04-18 14:23] #115 closed, assigned to nobody

[2015-04-18 14:23] SemanticsPRO commented on #28
ага.
А я дублируюсь в #115

[2015-04-18 14:37] greeneyesmi commented on #111
Может и сделают. Вьюсов накрошить на это дело не долго, просто заняты все, вероятно

[2015-04-18 14:40] greeneyesmi commented on #28
Людей и вопросов еще не так много, чтобы по вкладкам раскидывать, хотя идея хорошая.

[2015-04-18 14:41] SemanticsPRO commented on #28
Миш, а по-моему, уже вопросов достаточное количество

[2015-04-18 14:46] greeneyesmi commented on #28
Ну может быть. Я сам обычно по таким вкладкам не хожу, ленту читаю, но с точки зрения интерфейса это смотрится.

[2015-04-18 14:58] greeneyesmi commented on #28
если добавлять вкладку интересные, то или по колличеству комментов считать или дать это на право админа, как в жж, там кто то сидит отбором материалов занимается и добавляет его в категорию живой журнал и они выводятся даже с другим оформлением. смотрится красиво.

[2015-04-18 15:00] xandeadx commented on #28
Если не поднимать вопросы, то они умирают буквально за пару дней. Это я считаю неправильно.

[2015-04-18 15:02] xandeadx commented on #28
Можно держать вверху списка вопросы без ответов, заданные в течении дня (можно даже как-нибудь их выделить), а дальше по дате ответа/комментария.

[2015-04-18 15:06] greeneyesmi commented on #28
можно такие категории по сортировке
![exa](https://cloud.githubusercontent.com/assets/4700845/7215956/9627dd20-e5f5-11e4-9a8c-165ab1f7174b.jpg)

[2015-04-18 16:48] Niklan commented on #28
Добавить вьюхи question/unanswered question/answered и вверху у вьюхи просто сделать ссылки в виде табов. Делов то)

[2015-04-18 16:49] Niklan commented on #47
@SemanticsPRO , неа, а нужно бы. Если по палочком ложит, да хотябы файлы трекаются, вообще отлично. Надо только поле будет добавить в вопрос для "прицепки" файлов и скрыть от виду.

[2015-04-18 16:51] Niklan commented on #112
Ну тут всё ясно. Закрываем. Если есть реально дельные предложения, пишите, переоткроем. Хотя, как говорилось, уже обсуждалось, теги были, и обсуждение пришло к том что мы сейчас и имеем - категории. И всё отлично.

[2015-04-18 16:51] #112 closed, assigned to nobody

[2015-04-18 21:04] drupby commented on #114
Трекер для анонимов - http://dru.io/question

[2015-04-19 05:33] SemanticsPRO commented on #114
Трекер на то и трекер, что там не один вид контента должен присутствовать, да и обратной хронологической сортировки не вижу

[2015-04-19 07:25] SemanticsPRO opened #117 "Отправка по CTRL+Enter"
Хочу как на гитхабе

[2015-04-19 13:58] SemanticsPRO commented on #113
Честно говоря, я лично хотел бы получать заказы с dru.io, но сайт на данный момент никак к этому не приспособлен. Имхо.

Если пойти от обратного.
Запилить что-то типа статуса у разраба.
Дать возможность желающим указывать, что они могут оказывать платные услуги.
Например, вот так.
Миша, извини, ты под руку попался.
![png 908 x 493](https://cloud.githubusercontent.com/assets/1708410/7219704/4b57bbb

[2015-04-19 14:14] Niklan commented on #113
Интересная идея со статусом. Надо писать его как сказал Виктор, только на ответе. Отличная м мотивация появляется помогать. Только мне кажется это уже относится непосредственно к изюма о профилях.

[2015-04-19 14:16] Niklan commented on #117
Это как реализуется. На js ловим нажатие и .submit(), или есть более элегантный способ?

[2015-04-19 14:18] Niklan commented on #113
#32 может туда статус перекатимся обсуждать?

[2015-04-19 14:20] SemanticsPRO commented on #113
Ну, может.
Хотя, мне кажется, что вопрос "Статусов" довольно широкий и под него отдельный тикет надо завести.
Т.е. статус это или фиксированный набор и т.п.

[2015-04-19 14:22] Niklan commented on #113
Заведи с синим своим. А то с мобилы неудобно а этот ишью не в тему

[2015-04-19 14:24] SemanticsPRO commented on #113
Заведу попозже, уезжаю

[2015-04-19 14:44] SemanticsPRO opened #118 "Личка на dru.io"
Что за комунити без лички?!?!?!?77777

[2015-04-19 16:01] Niklan commented on #118
На нод.жэЭс надо сделать

[2015-04-19 16:18] SemanticsPRO commented on #118
Да уж какие-нить, потом и ноду на друпальные сверху накрутить можно

[2015-04-19 18:46] greeneyesmi commented on #118
Поддерживаю

[2015-04-20 05:34] adubovskoy commented on #118
а https://www.drupal.org/project/privatemsg dev ветку (2x) кто смотрел?

[2015-04-20 08:36] SemanticsPRO commented on #118
Потыкал, ни нашёл списка с киллер-фичами второй ветки

[2015-04-20 08:37] SemanticsPRO commented on #117
Да врядли что-то круче есть, ну кроме того, что 100 пудов есть какой-нить jq плагин

[2015-04-20 08:46] adubovskoy commented on #118
аналогично, вот интересно. надо будет развернуть обе, посмотреть

[2015-04-20 08:47] adubovskoy commented on #117
блин, там 1 строчка) какой плагин?)

[2015-04-20 08:47] SemanticsPRO commented on #117
это был сарказм

[2015-04-20 08:48] adubovskoy commented on #117
http://vanilla-js.com/ с гибкой системой плагинов)

[2015-04-20 10:03] SemanticsPRO opened #119 "Почтовая рассылка"
Аналогичный тикет не искал, но хорошо бы раз в 1-2 недели пулять почтовой рассылкой с самым интересным и изменениями на сайте.

[2015-04-20 10:35] Niklan commented on #119
Да, нужно.
Особо вопросом не занимался. Есть что-то достойное кроме Simplenews и Mass Sender? Не думаю что нам нужны сторонние сервисы рассылки, через мандрил на отличненько всё уйдет.

[2015-04-20 10:40] SemanticsPRO commented on #119
Людей мало, я бы через майлчимп бы слал

[2015-04-20 12:40] adubovskoy commented on #119
мейлчимп в общем при увеличении нагрузки -- сомнительное решение, если будет пара тысяч человек, лучше через себя.

[2015-04-20 12:41] SemanticsPRO commented on #119
Ты в пару тысяч человек в ближайшей перспективе веришь?
Когда придёт пора платить за мейлчимп - забираем базу и шлём другим способом

[2015-04-20 12:42] adubovskoy commented on #119
я верю, мы ж по всем зарегистрированным будем слать например, так что возможная цифра. Да и симплньюс быстрее в настройке. mass contact не пробовал.

[2015-04-20 12:48] SemanticsPRO commented on #119
Слать по всем зареганным - моветон

[2015-04-20 13:23] adubovskoy commented on #119
согласен. ну, можно через mandrill как сейчас, он сам очереди формирует и т.п.

[2015-04-20 13:58] semyondragunov commented on #116
Ещё бы загрузку картинок неплохо было б. И увеличение при клике на фронт-енде.

[2015-04-20 14:05] adubovskoy commented on #116
Есть варианты стороннего файлового хостинга для картинок? С друпалом что удобнее будет связать? Хранить на серваке - со временем разрастется, накладно очень будет.

[2015-04-20 14:06] SemanticsPRO commented on #116
Когда разрастётся - тогда и переносить, имхо

[2015-04-20 14:07] xandeadx commented on #116
вихтор прав

[2015-04-20 14:09] semyondragunov commented on #119
ИМХО mass contact тут в кассу. Просто и удобно. А чтобы не слать по всем, поставить галочку в профиле, не слать. В mass contact можно создавать группы рассылки.

[2015-04-20 14:35] Niklan commented on #119
Всем зареганым и новым ставить галку по умолчанию, но сделать отключаемой. Слать без отключения жесть какая-то.

[2015-04-20 14:47] adubovskoy opened #120 "Трекер не работает нормально ("
У меня по крайней мере он не пишет. Может что с кэшем, надо разобраться.

[2015-04-20 14:55] SemanticsPRO commented on #120
Брось его

[2015-04-20 15:02] adubovskoy commented on #120
у меня это.... гештальт не закрыт) в общем, пусть тикет пока висит, если там альтернативный не заработает, надо будет лезть.

[2015-04-20 15:26] drupby commented on #120
А зачем вообще нужна ссылка "Трекер", переходя по которой постоянно видишь надпись "Нет ответов в ваших материалах."?

[2015-04-20 20:39] xandeadx opened #121 "Совместная разработка dru.io"
Давайте подумаем, как нам организовать удобную совместную разработку dru.io. Кто работает в команде, делитесь опытом.

Так понимаю сейчас процесс выглядит так:
1. Создаётся локальная копия с продакшена (ftp/ssh)
2. Вместо /sites/all клонируется этот репозиторий
3. В локальную версию вносятся правки
4. Если всё готово, то оповещаются другие разработчики, что сейчас будет обновляться продакшен.
5. П

[2015-04-20 22:08] xandeadx commented on #118
я против лички.
имхо хватит формы обратной связи, а дальше общение по e-mail

[2015-04-20 22:09] xandeadx commented on #119
вам не кажется что рассылки давно моветон? есть же rss

[2015-04-21 00:12] adubovskoy opened #122 "Кросспостинг в твиттер и социалки"

[2015-04-21 00:13] adubovskoy commented on #119
В общем да, так многим удобнее. И в твиттер и социалки.
Сделал ишью, этот закрываю. https://github.com/Niklan/Dru.io/issues/122

[2015-04-21 00:13] #119 closed, assigned to nobody

[2015-04-21 08:05] Niklan commented on #122
Куда, на Dru.io акки? И что туда будет попадать?

[2015-04-21 08:08] Niklan commented on #121
Разве что кроме локальной был dev.dru.io, как понадобится сделаем опять. Или у кого есть доступы сами спокойно могут развернуть что угодно)

Вообще, реально очень неудобно семерку девелопить совместно. Может мы можем как-то вагрант задействовать или что-то подобное? @fortis может быть опытом поделится, я так понимаю он у него уже имеется.

[2015-04-21 10:25] Niklan commented on #2
Ввиду предстоящего хакатона #85, где @adubovskoy намеревается сделать этот раздел, ну или хотя бы начать делать. Предлагаю нам обсудить структуру и что мы будем хранить в сущности "мероприятие".

Пишу своё мнение а дальше давайте все вместе додумывать.

Считаю что там должны быть такие данные:
-  Название (title)
-  Описание
-  Дата проведения, с возможность задать дату окончания.
-  Место проведе

[2015-04-21 10:43] Niklan commented on #2
Моё примерное видение страницы мероприятий https://wireframe.cc/6Ae2j4

![_002](https://cloud.githubusercontent.com/assets/2356744/7250582/29b46ff6-e83d-11e4-913e-25ebf25721a3.png)

[2015-04-21 11:27] fortis commented on #121
да не особо он и поможет в совместной разработке, свою среду тут каждый поднять может, докер это или ламп на серваке не важно. гит и ветки, что еще нужно) а мерджить лучше Никите чтобы видеть код, или еще одному двум это доверить

[2015-04-21 11:29] SemanticsPRO commented on #121
Хаспада, я щитаю, что прежде всего надо в таком случае договориться об именовании веток, коммитов и т.п.
коммитить в мастер может каждый, конечно, но сие нехорошо, когда есть всякие труЪинтерпрайзные штуки типа git flow http://habrahabr.ru/post/106912/

[2015-04-21 11:30] fortis commented on #121
ветки именовать можно по номеру issue ref000121 например, каждый коммит начинать тоже с номера "1021: hack core"

[2015-04-21 11:34] xandeadx commented on #121
Чтобы что-то пушить в гит, надо для начала держать всю конфигурацию в файлах. Без фич похоже никак не обойтись. Или мучатся с hook_update_N().

[2015-04-21 11:34] fortis commented on #121
новые ветки создаются от develop.

дев версия сайта может показывать какую-нибудь актуальную ветку например ref0001021 для тестов или побочную в которую сливают несколько задач для приемки,

проверенные ветки мерджим с веткой develop и уже от нее будем новые последующие ветки создавать. а разработка в локальной среде

[2015-04-21 11:37] fortis commented on #121
нам ведь не придется менять название сайта кодом или другие конфигурации, только вьюшки проблема, но чем дальше тем меньше их будем трогать

[2015-04-21 11:38] xandeadx commented on #121
Вьюшки, поля, флаги, настройки отображения и много другого чего.

[2015-04-21 11:45] Niklan commented on #121
Еще не забывайте что все построено на Display Suite, а там кастомные поля и как сказал @xandeadx - "Управление отображением". Всё это дело не экспортируется у DS и хранится в базе.

[2015-04-21 15:13] adubovskoy commented on #121
http://habrahabr.ru/post/127213/ вот вполне рабочая схема.
Пара правил при ней:
никто не правит файлы на production, все через гит. 1 маленькое изменение испортит всем жизнь. А также надо внимательно пройтись по gitignore и вписать все места где могут быть генерируемые файлы (кэш, пользовательское файло, sass-cache и т.п.)

Базу забирать ручками (да хоть через вебморду bam-backup). Соответственно

[2015-04-21 15:20] adubovskoy commented on #121
@fortis тут вопрос в том что если изменения затрагивают накликанные изменения в админке, никто кроме автора смержить это не сможет.

[2015-04-21 15:21] xandeadx commented on #121
Кто с фичами активно работает, возможно ли такой подход, когда весь сайт упаковывается в одну большую фичи? Какие проблемы будут?

[2015-04-21 15:25] SemanticsPRO commented on #121
Ну сайт в одну большую это не айс, имхо.
Но вот фичи, как минимум, на что-то новое, альтернативный трекер, раздел мероприятий, ещё что-нить - вполне имеет право на жизнь

[2015-04-21 15:26] adubovskoy commented on #121
А не все получится упаковать. они потом разрастутся, будут скорее мешать. Тогда уж на https://www.drupal.org/project/configuration посмотреть, но я не пробовал его вживую.

[2015-04-21 15:28] xandeadx commented on #121
@adubovskoy какая разница — много маленьких фич или одна большая

[2015-04-21 15:30] SemanticsPRO commented on #121
да и вообще, проблема высосана из пальца, не такая и бурная разработка

[2015-04-21 15:32] xandeadx commented on #121
потому и не бурная

[2015-04-21 16:33] Niklan commented on #121
Я по опыту Drupalife Store могу сказать. Что когда кол-во фич разрастается, их становится поддерживать даже сложнее. Проблема в том, что они далеко не все экспортируют в себя. Как же нам тут 8-ки не хватает :(

[2015-04-21 16:36] Niklan commented on #121
При этом не всегда ясно что именно не "запаковалось". Так что я больше их не юзаю, ибо если что-то более-менее крупное на них переносить, это всеравно возвращение к мышкокликанью. Хоть и сохраняют время фичи на том что они забирают, зато потом вызывают путанницу, что они тащут за собой а что в коде или руками проделано.

В принципе мы можем их тут задействовать. Тут ничего неординарного нету, как

[2015-04-21 16:37] fortis commented on #121
нужно просто начать, а по ходу будем принимать решения, работа с нодами и полями программно не проблема, вручную создаем новый тип и поля, настраиваем, а в апдейте пишем хук с экспортированным массивом.

таким же образом можно будет и с вьюхами наработать подход, к примеру складывать в каталог экспорт вьюхи добавляя его в коммит и в имени файла используя номер апдейта, а в хуке апдейта импортить н

[2015-04-21 16:39] Niklan commented on #121
Вот ещё что нашел, по сути то же самое что тут и предлагали: http://drupal.stackexchange.com/a/34147

[2015-04-21 16:40] fortis commented on #121
не так часто мы будем добавлять новые типы и разделы на сайте =) уж для выката нового раздела в сообществе можно и накодить

[2015-04-21 16:41] Niklan commented on #121
Идея @fortis мне нравится. По крайней мере тем что там нету фич.

Да я не думаю что сейчас нам стоит так заморачиваться. Давайте базовые правила выработаем и начнем на них. У нас тут никогда навреное не бывает чтобы 2 человека сразу работали над сообществом. В основном я там ковыряюсь и Дубовской.

[2015-04-21 16:47] Niklan commented on #121
Кто что может сказать о следующем проекте: https://www.drupal.org/project/configuration
- вот что нашел https://shanetully.com/2014/04/drupal-and-the-holy-grail-of-workflows/

[2015-04-21 16:57] Niklan commented on #121
Потыкал configuration по сути полноценный бэкпорт из 8-ки. Только в .inc файлах хранит все.

Пример экспорта стандартных данных для друпала.
https://drive.google.com/file/d/0B1gk5NclOtkUVm5MMGlyRG9xRDQ/view?usp=sharing

[2015-04-21 17:05] adubovskoy commented on #121
Занятно. Тестнем?)

[2015-04-21 17:06] adubovskoy commented on #121
Все в конфигурации складывать, но сам импорт ручками производить. А потом, если будет все ок, написать на post-receive правило чтоб автоматом импортились.
Еще вопрос как их мержить при конфликтах, но не факт что нам понадобится такое.

[2015-04-21 17:08] xandeadx commented on #121
Интересно как он решает такие проблемы - я поставил модуль, модуль добавил таблицу в бд. Это же не конфигурация.

[2015-04-22 05:07] fortis commented on #121
This module is under active development.

[2015-04-22 05:43] Niklan commented on #121
Отлично же, разве нет.

[2015-04-22 09:41] SemanticsPRO opened #123 "Breadcrumbs на странице вопроса"
http://dru.io/question/1241
Главная » Вопросы » Создание материала Ответ

грешновато!

[2015-04-22 09:52] Niklan commented on #123
fixed

[2015-04-22 09:52] #123 closed, assigned to nobody

[2015-04-22 10:11] Niklan opened #124 "Статус юзера"
Как было предложено @SemanticsPRO в #113 можно добавить статусы и выводить их в ответах

![](https://cloud.githubusercontent.com/assets/1708410/7219704/4b57bbb0-e6b5-11e4-8864-55132cac8efa.png)

Отличная мотивация для ответов.

[2015-04-22 10:12] Niklan commented on #113
#124

[2015-04-22 10:12] #113 closed, assigned to nobody

[2015-04-22 10:14] Niklan commented on #105
Вернул, видимо забыл при переносе вытащить поле.

[2015-04-22 10:14] #105 closed, assigned to nobody

[2015-04-22 11:14] andreystrelkov commented on #98
+1

[2015-04-22 11:43] Niklan opened #125 "Небольшой рефакторинг и улучшения"
В общем назрела такая идея у меня и хочется её сделать.

Начнем с того что модуль dlcommunity надо рефакторнуть в druio, но это мелочи.

В общем сейчас у нас весь вывод построен на DisplaySuite, а также задействован DisplaySuite FIelds, который позвляет делать кастомные поля. И они активно используются, ибо это чертовски удобно и круто.

Вот текущий список всех наших полей
![_006](https://cloud.gi

[2015-04-22 11:45] Niklan commented on #125
Кстати, если у кого есть опыт как легко и безболезнено рефакторнуть модуль, готов выслушать. По сути функций вызываемых в иных местах кроме самого же модуля нет. Поэтому можно, как я считаю, копи-паст, переименовать всё, включать новый, выключить старый. Удалить dlcommunity.

[2015-04-22 12:58] drupby commented on #124
Информацию по пользователю также и неплохо было бы добавить и на страницу профиля. Контактную информацию: твиттер, скайп, сайт, d.org профиль, github профиль, email и т.д. Ну и плюс текстовое поле "О себе" ("Кратко о себе"). На данный момент страница юзера слишком уныла и пуста.

[2015-04-22 12:59] Niklan commented on #124
@drupby это уже отсюда #32

@SemanticsPRO предложил статус отделить в отдельный ишью.

[2015-04-22 13:00] drupby commented on #113
Информацию по пользователю также и неплохо было бы добавить и на страницу профиля. Контактную информацию: твиттер, скайп, сайт, d.org профиль, github профиль, email и т.д. Ну и плюс текстовое поле "О себе" ("Кратко о себе"). На данный момент страница юзера слишком уныла и пуста.

[2015-04-22 13:17] adubovskoy commented on #125
Может просто забьем на эту админку и опишем все в  field_create_field() /  field_create_instance() ? Будет понятней в коде.

[2015-04-22 13:21] Niklan commented on #125
@adubovskoy не слишком ли заморочено получится?

[2015-04-22 13:24] adubovskoy commented on #125
да будет то же поле, просто в нормальном коде.)

[2015-04-22 13:24] Niklan commented on #125
Погоди, но ведь оно будет доступно в редактировании ноды? Или им можно создать поля для DS?

[2015-04-22 13:35] adubovskoy commented on #125
https://ohthehugemanatee.org/blog/2014/04/02/how-to-create-a-custom-display-suite-field/

[2015-04-22 13:35] Niklan commented on #125
То что нужно!

Походу придется дев поднимать для такого уже.

[2015-04-23 14:22] adubovskoy commented on #121
1. На гитхаб залит dru.io целиком (кроме кэшей всяких и settings ессно).
2. Есть идея выложит и базу (https://docs.acquia.com/articles/scrubbing-drupal-database-environment).  и на pre-commit hook на серваке повесить создание актуальной базы.
3. Сам процесс сейчас происходит как - клоните с гитхаба, тянете ручками базу с dru.io. Работаете локально, пушите изменения на гитхаб, если есть права -- за

[2015-04-23 15:24] Niklan commented on #121
Не забывайте к git pull еще добавить `--author "Name <email@example.com>"` ибо иначе, пуш будет от моего имени.

[2015-04-23 15:36] SemanticsPRO commented on #121
Если локально прописано имя и мыло, то разве нужно дополнительно указывать?

[2015-04-23 15:55] xandeadx commented on #47
Добавил в One Click Upload возможность атачить файлы к полям. Только виджет поля нужно будет скрыть.

[2015-04-23 16:48] UksusoFF opened #126 "Адаптивный дизайн"
Вроде бы в первой версии новой темы было все нормально.
Я просто оставлю это здесь:
![screenshot_2015-04-23-00-02-52](https://cloud.githubusercontent.com/assets/1931442/7302373/05acd3aa-e9fa-11e4-8e9f-240837959116.png)

[2015-04-23 17:46] Niklan commented on #126
Тут похоже кеш или еще чего. Такого в принципе не может быть оно должно исчезать. Больше похоже что версия без кеша подгружается или меда квери не отрабатывают.

[2015-04-23 17:47] Niklan commented on #121
А, точно. Я подумал мало ли кто там прямо на серваке коммиты мутить соберется. Что-то не подумал.

[2015-04-23 18:39] UksusoFF commented on #126
Этот скрин был из Dolphin Browser, кэш чистил. В Firefox вроде все получше:
![screenshot_2015-04-23-22-09-50](https://cloud.githubusercontent.com/assets/1931442/7304593/880860c6-ea09-11e4-9430-48707629e9b6.png)

[2015-04-23 20:56] Niklan commented on #126
Тогда скорее вопросы к браузеру а не к нам) Там ничего "навороченного" нет, обычные меди квери. Попробуй обновить браузер, тут мы никак не поможем.

[2015-04-24 05:18] UksusoFF commented on #126
Ну не знаю, мой сайт на Zen. Нормально срабатывают все медиа квери... Версия браузера последняя, там вроде как обычный WebKit.

[2015-04-24 09:44] adubovskoy commented on #126
reopen issue, надо тестить. у меня на андроиде/хроме андроида аналогично.

[2015-04-24 09:53] UksusoFF commented on #126
Я бы еще добавил что поля с бекграундом можно вообще убрать на мобильных. Места много занимают полезного.

[2015-04-24 10:13] Niklan commented on #126
Надо бы переделать вообще адаптивный дизайн. Делался чтобы был) Хотя у меня на лисе и хрмое на андроиде всё ок.

[2015-04-24 23:48] tlito opened #127 "По умолчанию у всех 7 или я в профиле укажу преференции"
Предлагаю упростить форму отправки вопроса и сразу по умолчанию делать версию друпала 7, я сомневаюсь что много вопросов относятся к другим релизам.
или что не делается просто так а уже из области настроек виджета сайта для пользователя - сделать в профиле преференции пользователя и добавить поле:
В моих вопросах автоматически выбирать версию Друпал:
и всем поставить 7ку. ) или даже ставить тем кт

[2015-04-25 06:52] Niklan commented on #127
В 2 клика ставится 7-ая версия. Не вижу смысла в принудительном выборе. Это может сбить других с толку. Да и вопросы вы задаете на каждую минуту чтобы это начало быть уязвимым местом, да и вообще 1-2 секунды, которые требуются на это не сыграют роли. А когда человек захочет задавать вопрос для иной версии. Ему надо сначала убрать, а потом добавить нужню - что еще хуже. Новички могут впасть в ступо

[2015-04-25 08:21] Niklan commented on #125
[Сделал](https://github.com/Niklan/Dru.io/tree/Issue-%23125/sites/all/modules/custom/druio_ds_fields) на в ветке Issue-#125.  Вот думаю там же и рефакторнуть dlcommunity в druio или как.

[2015-04-25 08:58] semyondragunov commented on #127
Абсолютно не нужно этого делать.

[2015-04-25 09:00] semyondragunov commented on #120
Трекер работает, но не полностью. Если к примеру комментят твой ответ, он не работает.

[2015-04-25 09:53] Niklan commented on #88
Сделано в ходе #125. Автор вопроса может также дать 1 ответ.

[2015-04-25 09:53] #88 closed, assigned to nobody

[2015-04-25 09:54] #34 closed, assigned to fortis

[2015-04-25 09:55] Niklan commented on #66
#47 по сути об одном и том же. Так как тот более общий ишью, туда перекат.

[2015-04-25 09:55] #66 closed, assigned to nobody

[2015-04-25 09:56] Niklan commented on #87
#10 - сюда, это как раз про это. Добавим референц на проект и будем выводить.

[2015-04-25 09:56] #87 closed, assigned to nobody

[2015-04-25 11:54] SemanticsPRO commented on #127
Не имеет смысла

[2015-04-25 11:54] #127 closed, assigned to nobody

[2015-04-25 12:21] RuZniki commented on #85
Я готов удаленно.

[2015-04-25 16:53] Niklan opened #128 "Сокращения для ссылок"
Предлагаю написать фильтры для сокращений.

@username - линк на профиль пользователя.
#12345 - id ноды. Но тут есть проблема, что если нужно линкануть не на ноду, а комментарий, или же вообще иную сущность? Тут можно, как мне кажется, обойтись таким решением. По дефолту #000 - это для ноды, для других сущностей введем сокращения, например для коммментов можно сделать #c-444 или что-то подобное?

М

[2015-04-25 17:11] SemanticsPRO commented on #128
есть это уже готовое, ща найду

[2015-04-25 17:14] SemanticsPRO commented on #128
https://www.drupal.org/project/mentions

[2015-04-25 17:26] SemanticsPRO commented on #128
По поводу ноды.
Не такие и бурные обсуждения, пусть будет по номеру ответа, а не коммента

[2015-04-26 11:31] Niklan commented on #125
Осталось только включить ;) Сделаю в даунтайм или после, ишью готов, рефакторинг основного модуля будет отдельно.

[2015-04-26 11:31] #125 closed, assigned to Niklan

[2015-04-26 14:22] greeneyesmi commented on #126
У меня на андроиде нормально отображалось. Хотя менюшки для медиа-скрин можно спрятать по кнопки. но лучше тогда закосить их под визуализацию мобильного приложения, чтобы слева просто выезжала панелька с абсолютным позиционированием по кнопке. О! надо у себя такое замутить.

[2015-04-26 15:00] adubovskoy commented on #126
Мы пока отключили адаптивную для моб. Будем переделывать.

[2015-04-26 16:34] semyondragunov opened #132 "Галочка для "Вопрос решен""
Может сделать её более видной или как-то по другому выделить? А то в _не отмеченном_ состоянии можно и проморгать. Я думаю именно по этому многие не ставят **Вопрос решен.**

[2015-04-26 18:57] ialexandri opened #133 "Последние комментарии или популярные вопросы"
Добрый вечер уважаемые!
Писал вопрос на dru.io. Вот он http://dru.io/question/52

Но после его публикации небыло времени заниматся проектом. Были причины. Сейчас вернулся. Попробовал то что порекомендовали. Не работает. По крейней мери я с отсутствием опыа работы с хуками и в меру общего знакомства с PHP не смог разобратся.

Дописал комментарий к вопросу, но вопрос то так и остался лежать на после

[2015-04-26 20:34] SemanticsPRO commented on #133
Скажу, что закрыто, ждите альтернативного трекера(тм)

[2015-04-26 20:34] #133 closed, assigned to nobody

[2015-04-26 20:51] greeneyesmi commented on #126
вот здесь профили прикольно оформлены
http://www.materialup.com/

[2015-04-27 06:01] ttenz opened #134 "Фильтр "Вопросы без ответа""
Неплохо бы добавить фильтр "Вопросы без ответа", иногда хочется поотвечать, а найти без ответа вопросов нет возвожности.

[2015-04-27 08:57] semyondragunov commented on #132
Куда вообще делать отметка **Вопрос решен**?

[2015-04-27 09:34] SemanticsPRO commented on #134
Дубль не помню кого, но с трекером связано

[2015-04-27 09:34] #134 closed, assigned to nobody

[2015-04-27 09:58] adubovskoy commented on #134
Вот с этим https://github.com/Niklan/Dru.io/issues/28.

[2015-04-27 13:50] adubovskoy commented on #134
http://dru.io/question вообще просто в общем списке, все что без галочки -- скорее всего без ответа, а там где значок кол-ва ответов "0", те уж наверняка.

[2015-04-27 18:20] drupby opened #135 "Вывод автора и даты вопросов/ответов"
Как то необычно и непривычно выглядит отсутствие даты и авторов вопросов/ответов. Хотя у комментов выводится.

[2015-04-27 20:11] semyondragunov opened #136 "Длинна названий публикаций на главной странице"
Предлагаю обрезать так же, как и в блоке вопросов: 1 публикация = 1 строка.
А то выглядит криво.

[2015-04-28 00:43] xandeadx commented on #25
Что-то отвалился функционал — http://dru.io/question/1315

[2015-04-28 05:17] semyondragunov commented on #25
https://github.com/Niklan/Dru.io/issues/88

[2015-04-28 05:22] Niklan commented on #135
Вернул. Вчера тоже втыкал, думал странно что даты нет, не обратил что и автора тоже. ПОдумал что я уже устал и просто сам туплю, оказалось реально нету)

[2015-04-28 05:22] #135 closed, assigned to nobody

[2015-04-28 05:23] Niklan commented on #136
Скорее надо у вопросов убирать 1 строку. Уже было такое предложение.

[2015-04-28 05:23] #136 closed, assigned to nobody

[2015-04-28 05:24] Niklan commented on #25
@xandeadx вот именно поэтому автору и не давали даже 1 ответа давать. Такие ответы надо сносить кароче без предупреждения. Чтобы сразу отвыкали)

[2015-04-28 06:16] adubovskoy commented on #121
Кстати, configurations нормально не заработали, те же мероприятия переносил фичей (вручную очень уж долго выходило).

[2015-04-28 06:39] Niklan opened #137 "Рефакторинг модуля dlcommunity в druio"
Сабж для бранча.

[2015-04-28 07:19] drupby commented on #135
Ну хорошо, автор и дата выводятся, но так ведь у ответов rate отсутствует теперь.

[2015-04-28 07:23] Niklan commented on #137
Готово.

[2015-04-28 07:23] #137 closed, assigned to Niklan

[2015-04-28 07:32] Niklan commented on #135
@drupby уже поправил. Это из-за #138 как-то прокатилось что задело строчку кода, хотя я вообще не вьехал каким образом. Но уже починено.

Кэш видимо держит. Уже проверил.

[2015-04-28 19:18] Niklan commented on #107
Думаю вполне удобно покачто. Если что, кому не удобен селект2 там, тож пишите, открою.

[2015-04-28 19:18] #107 closed, assigned to nobody

[2015-04-28 19:20] Niklan commented on #93
Подавлющее большинство я так понимаю сделано. Если что можно другой ишью завести. Бегло пробежался, вроде всё есть крмое парочки моментов.

[2015-04-28 19:20] #93 closed, assigned to nobody

[2015-04-28 20:34] Niklan commented on #132
Поменял метку решенного вопроса в тизерах. В ответах не вижу смысла менять.

[2015-04-28 20:43] semyondragunov commented on #132
Я не про это. Где вообще нажать на кнопку что-бы пометить, что **Вопрос решен**. Куда кнопка пропала?

[2015-04-29 05:59] drupby opened #139 ""Обратите внимание! Вы являетесь автором вопроса."???"
На всех страницах вопросов перед формой ответа
"Обратите внимание! Вы являетесь автором вопроса. Данная форма может быть использована только если вы нашли решение самостоятельно и желаете поделиться им с остальными. Для этого напишите решение своего вопроса, а затем пометьте его как решение. При использовании "ответа" для дополнения своего вопроса воспользуйтесь комментарием или функцией редактиро

[2015-04-29 06:25] Niklan commented on #139
Ой я дурень, забыл условие написать. Ща пофикшу. Делал ночью)

[2015-04-29 06:29] Niklan commented on #139
Спасибо, исправил.

[2015-04-29 06:29] #139 closed, assigned to nobody

[2015-04-29 06:30] Niklan commented on #132
Действительно же.

[2015-04-29 06:33] drupby commented on #132
"Поменял метку решенного вопроса в тизерах."
Зачем?

[2015-04-29 06:42] #132 closed, assigned to nobody

[2015-04-29 08:18] adubovskoy opened #140 "Публикация по рейтингу"
Я сейчас в качестве теста поменял вывод главной, выводятся вопросы/публикации с рейтингом > -5. Есть предложение развить идею и депубликовать материалы с рейтингом >-10 . Будет такая общественная модерация, заодно всякий спам автоматом будет чистится (хотя его пока и нет особо).

Собственно, варианты что можно делать:
1. Не выводим посты с низким рейтингом в списках, выкидываем из индекса поиска,

[2015-04-29 08:24] Niklan commented on #140
1. metatags можно мешать на страницу "запрет для индексации", а он мета тег добавит запрещающий.

[2015-04-29 08:27] #67 closed, assigned to Niklan

[2015-04-29 08:28] adubovskoy opened #141 "Кросспостинг в твиттер."

[2015-04-29 08:30] #85 closed, assigned to nobody

[2015-04-29 08:30] Niklan commented on #141
#122

[2015-04-29 08:30] #141 closed, assigned to Niklan

[2015-04-29 11:24] Niklan commented on #2
Закрываю, так как раздел сделан. По доработкам давайте делать иные ишьюсы.

[2015-04-30 13:04] xandeadx commented on #25
Никто не пишет свои ответы, все пишут комменты в ответах - http://dru.io/question/1340
Давайте всё же запретим отвечать авторам. Ответ можно дописать в сам вопрос.

[2015-04-30 13:12] semyondragunov commented on #25
@xandeadx пишут ответы, пишут. Только ещё путаются, что и куда писать, так как все привыкли к формату обычного форума, а тут....

[2015-04-30 17:13] Niklan commented on #25
@xandeadx пусть, могут оставить ответ и пометить решением. Вдруг сами решат, такое часто бывает и повод будет.

А когда они юзают не по назначению, без угрызения совести удаляем. Текущего я снес. Над формой весит предупреждение, в котором ясно написано для чего использовать форму ответа автору вопроса и предупреждение об удалении. Так что всё ок. Они предупреждены.

[2015-05-04 22:10] RuZniki opened #143 "[Typo] Мероприятия -> я пойду"
http://i.imgur.com/pPNaOBb.png
Когда нажимаешь кнопку "Я пойду"
Должно быть "Спасибо! Ждем Вас на мероприятие."

[2015-05-06 10:11] deadddie opened #144 "Автообновление блоков "Последние публикации" и "Последние вопросы" на главной"
Интервал обновления, я думаю минут 3-5 должен быть.
https://www.drupal.org/project/views_autorefresh (если конечно эти блоки сделаны вьюсами)

[2015-05-06 10:33] Niklan commented on #144
Как мне кажется, у нас не достаточно часто появляется новый контент, так что надобность нулевая.

[2015-05-06 11:14] deadddie commented on #144
Дело же не в "надобности". Просто удобная фишечка.. Делов-то на копейку :)
Хм... ну может тогда продублировать ссылки из верхнего меню на "все вопросы", "все публикации" под блоками

[2015-05-07 02:53] semyondragunov opened #145 ""Решено" для своего ответа"
Нету иконки для отметки вопроса решенным, если ты сам ответил на свой вопрос.

[2015-05-13 07:31] UksusoFF commented on #19
Может быть хотя бы это подключить? :)
 https://www.drupal.org/project/comment_notify

[2015-05-13 07:50] Niklan commented on #19
Трекер хз починили или нет и альтернативный хотели делать.

[2015-05-13 07:50] UksusoFF commented on #19
Ну там в любом случае оповещения о комментах не отображаются

[2015-05-13 10:51] adubovskoy commented on #19
Не отображаются.
коммент нотифи не подойдет - ответы то не комментарии. Да и комменты могут быть не к вопросу, а к ответу чужому, а автору вопроса нужно тоже их получать.

[2015-05-13 10:53] UksusoFF commented on #19
Ну а https://www.drupal.org/project/notify ?

[2015-05-13 11:00] SemanticsPRO commented on #19
В очередной холиварный вопрос, ну нафига делали нодами, а не комменты?
Так же поля же добавить можно.
Да, альтернативный на мне.

С уведомлялкой, думаю, можно намутить рулезы + мандрилл, 100% же апи для создания очереди есть

[2015-05-13 11:03] adubovskoy commented on #19
Там даже проще, он все что получает через тот же drupal_mail (и соотв. через любой рулез), ставит в очередь. Ничего отдельно писать нельзя.

Может сконвертнем?) Правда переписывать придется много... прямо много. Проще текущую структуру в кастомный трекер.

[2015-05-13 11:06] SemanticsPRO commented on #19
Саш, тут насчёт очереди, что нельзя сразу передавать на 100500 получателей письма, долго будет, нужно их буферизировать и по крону ему скидывать.

[2015-05-13 11:08] xandeadx commented on #19
Предлагаю сделать как на гитхабе:
1. Для нод "Вопрос" создать флаг "Подписаться"
2. После добавления вопроса/ответа/комментария автоматически ставить автору флаг
3. После добавления ответа/комментария к вопросу отправлять письма всем у кого есть флаг (можно сделать даже без кодинга)

Пользователь в любой момент может подписаться/отписаться - просто добавив/убрав флаг.
С очередями и кроном пока зам

[2015-05-13 11:08] adubovskoy commented on #19
Так такого и не будет. Смотри, у тебя действие - это коммент в ветке, например. В большой ветке ответов у тебя человек 40 будет максимум. Вот 40 нотифи ушло в очередь мандрилла. А уж у него обычная queue по крону.

[2015-05-13 11:09] Niklan commented on #19
@SemanticsPRO
Затем что с ответом в виде ноды проще.

Как вопрос, так и ответ может иметь собственные комментарии, собственные настройки и т.д. и т.п. Меньше кастомных проверок, костылей и тому подобного.

[2015-05-13 11:11] SemanticsPRO commented on #19
@Niklan я всё равно не понимаю смысла.
@adubovskoy ну ежели через очереди, то рулезом собираем, нафиг эти notify модули.

[2015-05-13 11:13] UksusoFF commented on #90
Дубликат: https://github.com/Niklan/Dru.io/issues/111 https://github.com/Niklan/Dru.io/issues/32
И вьюхи со своими вопросами же правда несложно сдеалать в профиле?

[2015-05-13 11:14] Niklan commented on #19
Лучше бы кто потестил дампер базы. Не улетает ли там на лево чего лишнего? Он уже готов же. Так может больше подключится народу.

@SemanticsPRO
Смотри кейс.
Вопрос - нода, ответы - комментарии.
Я хочу прокомментировать вопрос, уточнить его или что ещё. Как я это сделаю? Ответом? Так это форум какой-то выходит. Далее. Получается каждый может писать сколь угодно ответов (комментов 0 уровня), тут пое

[2015-05-13 11:15] SemanticsPRO commented on #111
ну в общем, либо я, либо Саша, кто первый добежит до админки

[2015-05-13 11:17] Niklan commented on #19
Собственно я за тест https://github.com/Niklan/Dru.io/tree/livetodevdb/sites/all/modules/custom/druio_livetodev
Надо бы выкатывать его, но я боюсь что чего-то пропустил.

[2015-05-13 11:18] SemanticsPRO commented on #19
Принудительный трекер, это ты круто загнул.
Вообще, сложность там совершенно не в флагах, которые андед предложил, более того, они вообще из другой оперы.
У меня практически такая же система, с трекерными флагами, у андеда с почтовыми.

[2015-05-13 11:20] Niklan commented on #19
Не, ну нам и на сайте нужно будет обновленные материалы на которые подписан юзер выводить. Заодно эта "подписка" может служить как закладка.

[2015-05-13 11:22] SemanticsPRO commented on #19
я уже спрашивал в чятике, ответа не помню.
У нас редис есть на серванте?
Я хочу трекер через него промутить, концепт

[2015-05-13 11:23] Niklan commented on #19
Нету. Если надо поставлю.

[2015-05-13 11:25] Niklan commented on #19
Проще говорю, тестануть модуль для дампа базы. И каждый у себя на локалке что угодно сможет тестить. А потом, если всё ок, на сервак поставить всё необходимое не проблема.

[2015-05-13 18:34] drupby opened #148 "Беда-печаль..Все пропало...Сломалась страница event-ов."
На страницах мероприятий флаг выводится дважды и без стилей и формы комментов нет под "Добавить комментарий". Ну и на странице вывода мероприятий http://dru.io/events Saunacamp Helsinki 2015 выводится дважды.

[2015-05-13 20:53] adubovskoy commented on #148
фичу кто-то выключал или ревертил. тип материала удален.

[2015-05-13 20:57] adubovskoy commented on #148
выключил пока меню и модуль. все эксперименты на локальных копиях.

[2015-05-13 21:03] drupby commented on #148
"фичу кто-то выключал или ревертил. тип материала удален."
ну так фича не коммит - кто что менял неизвестно

[2015-05-14 05:45] Niklan commented on #148
Эт. не я. Я давно на продакшн не лазил. И еще раз предлагаю всем или хоть кому-то со стороны потестить как работает дампер базы. Чтобы каждый у себя на локалке смог потыкаться и посмотреть что угодно а не на лайве.

[2015-05-14 09:17] drupby commented on #148
"И еще раз предлагаю всем или хоть кому-то со стороны потестить как работает дампер базы."
давай дамп

[2015-05-14 10:14] Niklan commented on #148
@drupby https://drive.google.com/file/d/0B1gk5NclOtkUUHp2Qm1nWlVIOGc/view?usp=sharing

[2015-05-14 12:31] drupby commented on #148
@Niklan ты походу битый архив дампа выложил на гугл драйв, я в начале ловил ошибки при импорте бд, а потом попробывал его разархивировать и не распаковывается не через файловый менеджер, не через консоль, файл несколько раз скачивал заново - не помогает

[2015-05-18 13:27] drupby opened #152 "Отсутствуют социальные контакты"
В новом шаблоне нигде нету контактов сообщества в социалках. Хотя бы в подвале можно было воткнуть ссылки на социальные профили.

[2015-05-19 13:43] adubovskoy opened #154 "Дублирование "войдите или зарегистрируйтесь""
По мотивам http://www.drupal.ru/node/123588#comment-642987 .

[2015-05-22 00:35] adubovskoy commented on #148
Вылечилось пересозданием типа материала.

[2015-05-22 00:35] #148 closed, assigned to nobody

[2015-05-22 04:44] Niklan opened #159 "Сломались комменты"
Сабж, кто чего наломал сразу на продакшене?

[2015-05-22 04:51] Niklan commented on #159
Слетели везде:
- Вопросы
- Ответы
- Публикации

Должно быть
![](http://i.imgur.com/9Wx3s3s.png)

Сейчас:
![](http://i.imgur.com/JI7NxwI.png)

[2015-05-22 07:12] fortis commented on #159
@Niklan вернул посмотри визуально на сайте ок?

[2015-05-22 07:13] fortis commented on #159
стиль аватара там разный в отображениях

[2015-05-22 07:44] Niklan commented on #159
да там фиксы надо накатывать. Врапперам классы добавить обратно

[2015-05-22 07:46] fortis commented on #159
это отдельный таск тут закрываем?

[2015-05-22 10:13] #159 closed, assigned to fortis

[2015-05-22 15:17] vistar opened #161 "Вёрстко поехало"
Chromium Версия 42.0.2311.90 on Linux

http://i.imgur.com/vpFvAoQ.png

Отловил только, когда страница открывается в фоне. Может и у меня какой плагин ломает - пока не понял.

http://dru.io/question/1815

С другими такого не было.

[2015-05-22 16:17] kala4ek opened #162 "Логины всех пользователей"
По этому адресу (с посрщью перебора) можно получить логины всех пользователей: http://dru.io/user/autocomplete/kala4ek
Я думаю стоить заальтерить аксес на этот урл. Также по возможности закрыть прочие дефолтные страницы, например /node.

[2015-05-22 16:18] SemanticsPRO commented on #162
пфф.
И профили юзеров закрыть.
И сайт в интернет не выкладывать

[2015-05-22 16:23] fortis commented on #162
access callback => FALSE =)
зачем подбирать? можно спарсить интернет
да и проблемы по сути нет: https://www.drupal.org/search/user/a

[2015-05-22 16:34] kala4ek commented on #162
Тогда вопросов нет :)

[2015-05-22 16:34] #162 closed, assigned to nobody

[2015-05-22 17:12] vistar commented on #161
Ага, плагин какой-то в браузере.

[2015-05-22 17:12] #161 closed, assigned to nobody

[2015-05-22 17:52] vistar opened #163 "Непонятки (неполадки) с поиском"
На запрос http://dru.io/search?s=workbench ничего не выдаётся, хотя перед этим читал http://dru.io/question/1709 - не индексировалось ещё?

Потом: http://dru.io/search?s=%D1%85%D0%BE%D1%81%D1%82%D0%B8%D0%BD%D0%B3 - нет подсветки запроса в результатах, а главное, что результаты все в кучу лежат - некрасиво, неудобно

А ведь обычно в поиск посылаются дубли вопросов…

[2015-05-22 20:22] adubovskoy commented on #163
1. надо комменты добавить в индекс.
2. при нахождении в комменте/ответе к вопросу, надо показывать результаты в формате заголовка ответа + подсвеченной области текста

[2015-05-25 15:34] i-amdroid commented on #126
отключили адаптив, отключите и

[code]

совершенно невозможно читать с телефона

[2015-05-25 17:13] xandeadx commented on #25
Мне уже надоело удалять комментарии авторов из ответов. Никто не пишет туда свои же решения.
http://dru.io/question/1840

[2015-05-25 19:40] adubovskoy opened #165 "Форму ответа спрятать за кнопкой"

[2015-05-25 19:40] adubovskoy commented on #25
ага, в чатике аналогичное предложение,

https://github.com/Niklan/Dru.io/issues/165 сделал отдельную задачку.

[2015-05-25 19:42] adubovskoy commented on #165
У кого есть возможность в ближайшие пару дней это запилить? По сути кнопку с slideDown всего-то.

[2015-05-25 19:45] semyondragunov commented on #25
Сам раз 10 так путал ссылки: ответа и комментария.

[2015-05-25 19:46] semyondragunov commented on #165
А что делать если сам нашёл ответ?

[2015-05-25 20:06] adubovskoy commented on #165
Сам отвечаешь. Надо чтоб не путали ответ с комментом.

[2015-05-26 06:15] ghost opened #166 "Убрать shortlink"
Я советую убрать тег shortlink, т.к. он может привести к фильтру от поисковой системы Яндекс. На практике было все проверено, поэтому предлагаю просто убрать. Если будут вопросы, то более подробно смогу пояснить, пишите.

[2015-05-26 07:03] ghost opened #167 "Убрать element-invisible"
В исходном коде встречается такая конструкция http://joxi.ru/12M7jQ7sdZLvrJ
</code></pre> она не семантична, лучше всего убрать, чтобы не путать поисковые системы.

[2015-05-26 07:10] fortis commented on #167
эти элементы используются друпалом для скрин-ридеров, озвучивающих содержимое страницы слабовидящим людям. получается что это вполне семантическая конструкция, используют ее довольно часто

[2015-05-26 07:12] fortis commented on #167
что есть у поисковых систем касательно скрин-ридеров? кажется аттрибуты у хтмл5 есть под это

[2015-05-26 07:18] ghost commented on #167
Выпиливаю у всех проектов, тут нужно подумать конечно (на слабовидящих никогда не ориентировался). А выпиливал потому, что поисковая система скачивает разметку, часть выбрасывает, анализирует заголовки, вот тут и не понятно, почему это в h2 всякие "вы здесь", "страницы". Это противоречит логике формирования заголовков и у ПС от этого нарушается логика оценки страницы при ранжировании. Это особо ду

[2015-05-26 07:23] fortis commented on #167
думаю решать правильно надо по-другому, поискать в schema.org как обозначать такие элементы без вреда индексатору. кажется через role="..."
применяемые для сео подходы не должны отсеивать посетителей))

[2015-05-26 07:26] ghost commented on #167
как вариант да, лучше обойтись микроразметкой.

[2015-05-26 07:35] adubovskoy opened #168 "Все вопросы о проекте"
http://dru.io/project/drush тут выводятся только 7 последних вопросов. Имхо удобнее выводить все с ajax-пагинацией. Начинающим тогда это будет подспорье.

[2015-05-26 07:45] adubovskoy commented on #165
Не нравятся кнопки http://www.awesomescreenshot.com/image/261937/b29861c0deae88a97fae91c414c88eeb . их надо как раньше, пометил себе, надо допилить.

[2015-05-26 09:37] fortis commented on #166
шортлинк по идее для соц сетей, твиттера и прочих, но действительно много плохих отзывов о нем, возьму на себя, изучу еще.

в коде имеем
<code>
<.link rel="shortlink" href="/node/1865" />
<.link rel="canonical" href="/question/1865" />
</code>
пока что и обычный урл достаточно короткий