[2015-12-01 08:29] adubovskoy commented on #395
пока оформил pr на откат изменений. https://github.com/dru-io/Dru.io/pull/400 .

[2015-12-02 00:06] adubovskoy commented on #397
mollom имхо не универсален и в неанглоязычном контексте не очень корректно себя иногда ведет.
Но в целом я посмотрел логи, проблем со входом у народа вроде сейчас нет, закрываю пока.

[2015-12-02 00:06] #395 closed, assigned to adubovskoy

[2015-12-02 03:52] Niklan commented on #395
Надо у менюшки тоже поправить "Трекер, GitHub". Тоже отступ остался, также нужно 40px.

[2015-12-02 11:39] Niklan commented on #399
http://webvisor.com/inpage/click_map?url=http%253A%252F%252Fdru.io%252F&id=33842429

А вы гляньте. Эти самые популярные особо никому и не интересны выходит. Народ всё равно скролит до последних публикаций. Смысл тогда какой? Может оно и не надо вовсе? Может лучше ближайшие мероприятия выводить и последние заказы, также в два столбца с минимизированым тизером

[2015-12-02 11:40] Niklan commented on #399
![image](https://cloud.githubusercontent.com/assets/2356744/11530094/7dbe40e0-9913-11e5-90e3-8622435e59dc.png)
![image](https://cloud.githubusercontent.com/assets/2356744/11530100/89215ce2-9913-11e5-81b9-8514eedd5d5c.png)

[2015-12-02 11:42] Niklan commented on #399
Также из скринов видно, что заказы реально интересуют больше людей чем "популярное содержимое". Я вообще предлагаю пункт заказов в таком случае поставить сразу после "Вопросы".

[2015-12-02 12:03] adubovskoy commented on #399
И блок на главной. Я начал вчера, не доделал. http://druio.examplesite.ru . И мероприятия вывести 4ми. Может на выходных покажу.

[2015-12-02 12:10] adubovskoy commented on #213
https://github.com/dru-io/Dru.io/issues/399 связан

[2015-12-02 20:48] tlito opened #402 "ау, включите сервер"

[2015-12-02 20:51] adubovskoy commented on #402
упал, да, надеюсь скоро будет ок.

[2015-12-02 20:54] adubovskoy commented on #402
есть.

[2015-12-02 20:54] #402 closed, assigned to nobody

[2015-12-03 12:09] Niklan commented on #399
Хотел идеей поделиться, а глянув на тестовый сайт @adubovskoy увидел там тоже самое.

Суть в том, что коль уж мы поставили метрику — надо ей пользоваться, не для красоты же. Полезная штука там имеется для нашего сайта — карта кликов, о чем я выше упоминал.

Так вот, эти блоки: Последние вопрос, Последние заказы и Последние публикации стоит расположить в порядке слева-направо, сверху-вниз, учитывая

[2015-12-05 00:17] adubovskoy opened #403 "Пагинация для малых экранов лезет"
https://i.imgur.com/dSeAXp8.png

[2015-12-05 19:13] adubovskoy commented on #399
Уже в продакшне. Исправления если будут - открываем отдельные ишью.

[2015-12-05 19:13] #399 closed, assigned to adubovskoy

[2015-12-05 19:13] #213 closed, assigned to Niklan

[2015-12-05 19:14] adubovskoy commented on #84
Закрываем за давностью. Это уже реализовано в профиле (история участия) и сильно переработана главная.

[2015-12-05 19:14] #84 closed, assigned to nobody

[2015-12-09 06:56] adubovskoy opened #406 "Формулировки заголовков"
Issue родился из этого обсуждения. https://twitter.com/xandeadx/status/674473236839710720 .

Есть мнение что у нас можно сделать заголовки лучше)

Я правда не очень понял, вот например: http://dru.io/question/5011 . Как должен звучать идеализированный вопрос?

[2015-12-09 07:41] drupby commented on #406
На заголовки типа: "Срочно нужна помощь", "HELP!!!" и тд нужно реагировать и  они могут неизбежно появиться, но в данном примере по ссылке заголовок вроде понятен и  вопрос задан вполне ясно.

[2015-12-09 07:44] Niklan commented on #406
В правилах при добавлении вроде есть про это. Сносить безжалостно такие вопросы вот и всё.

[2015-12-09 07:59] evgeniypiter commented on #406
правила никто не читает, слишком дофига текста имхо. надо сократить и визуально подать, чтобы внимание зацепилось.

[2015-12-09 08:28] xandeadx commented on #406
это я его исправил

[2015-12-09 09:21] adubovskoy commented on #406
https://github.com/DrupalRu/drupal.ru/issues/177 тут есть на эту тему мысль. Валидировать заголовок на "help, sos, срочно, помощь, азазаза")

[2015-12-09 19:38] UksusoFF commented on #397
Зачем вообще капча на логине?

[2015-12-09 20:29] adubovskoy commented on #397
боты пришли умные однажды. пришлось повесить.

[2015-12-09 20:32] UksusoFF commented on #397
Вообще все юзабилити ломает. Менеджеры паролей не используешь теперь.
И все же какой смысл ставить именно на логин? Оставить на регистрацию и все. Если уж они на реге прошли, то и на логине пройдут.

[2015-12-09 21:01] adubovskoy commented on #397
На вход поставил hidden captcha. Проверь не спотыкаются ли на ней твои менеджеры паролей. А я помониторю что там с ботами будет.

[2015-12-09 21:02] adubovskoy commented on #397
там был вопрос что имена вполне релевантные были, как и почта. т.е. я не мог вычленить кто живой пользователь кто бот и прибить ботов. это когда они уже зарегились скопом.

[2015-12-10 07:00] roman-yakimkin commented on #170
Скажите, а сейчас работают уведомления об ответах на вопросы через pushbullet ?
Я установил себе pushbullet, но на этом проекте не нахожу, куда вписать свой API ключ.

[2015-12-10 07:22] Niklan commented on #170
Нет, пока pushbullet тут нет.
Да и ключ вводить не нужно, можно по email слать пуши на него ;)

[2015-12-10 07:27] Niklan commented on #406
Нет, лучше сносить не думая и всё.

Вопросов может быть уйма, какова вероятность что "sos", "срочно" не является частью вопроса? А мы будет фильтровать.

Допустим вопрос "Как добавить статус "срочно" для help desk" — сразу под два "запрещенных слова" и в итоге вопрос уже будет задан исковеркано.

В общем стоп-слова явно не выход из ситуации. Проще удалить. Предупреждены теперь все — никакой обиды

[2015-12-10 09:52] UksusoFF commented on #397
Да, все ок.

[2015-12-10 10:14] adubovskoy opened #407 "После регистрации нет status messages"
Идет редирект на главную, но нигде не показывается что письмо отправлено почтой.

[2015-12-11 07:26] xandeadx commented on #406
Я в отдельной теме уже предлагал такой вариант:
1. Пользователь пишет вопрос без понятного заголовка
2. Модератор снимает с публикации вопрос и пишет в поле причину
3. Пользователь заходит на сайт и видит вместо вопроса причину снятия с публикации (как на тостере)
4. Пользователь исправляет заголовок
5. Модератору приходит уведомление
6. Модератор публикует вопрос

[2015-12-11 07:54] Niklan commented on #406
Хорошая идея

[2015-12-11 07:55] adubovskoy commented on #406
++

[2015-12-11 08:16] xandeadx opened #409 "Проблемы с формой редактирования вопроса из-за ajax"
После добавления ajax поиска схожих вопросов в форме редактирования вопроса всплыли несколько проблем:
1. Если изменить заголовок и попытаться отправить форму с помощью мышки, то после потери фокуса в форму добавиться новый элемент и кнопка прыгнет вниз. Т.е. с первой попытки попасть в "Сохранить" очень тяжело.
2. Если всё же успеешь попасть мышкой в "сохранить", то заголовок не изменится, так как

[2015-12-11 08:21] xandeadx commented on #341
up

[2015-12-11 09:01] adubovskoy commented on #341
Еще бы дать возможность модераторам(или тем у кого рейтинг выше) их добавлять к постам. Для упрощения поиска -- так и библиотека полезностей появится.

[2015-12-11 09:58] Niklan commented on #341
Тегов у нас нет.
Есть версия друпал, категория вопроса, связь с проектами

[2015-12-11 09:58] Niklan commented on #409
+

[2015-12-11 10:02] xandeadx commented on #341
и это тоже не выводится

[2015-12-11 10:10] Niklan commented on #341
Это да

[2015-12-11 15:22] adubovskoy opened #410 "Метка new у комментария"
Сделать вывод. Проще ds полем видимо.

[2015-12-13 09:56] xandeadx commented on #213
У yiiframework неплохой дизайн - https://github.com/eshill/yiiframework.com/blob/master/png/Index.png
- Краткое описание
- Последние новости
- Книги
- Вопросы

[2015-12-13 12:33] adubovskoy commented on #213
Никита вроде взялся для следующей итерации главной (на D8 уже) прорисовать, с учетом всех пожеланий и поведения народа по вебвизору. Но это январь только, вероятно.

[2015-12-13 12:34] fortis commented on #213
имхо лучше заказать или подобрать готовый дизайн, у нас все-таки не очень хорошо получается)

[2015-12-13 12:34] fortis commented on #213
лучше прототипированием заняться

[2015-12-13 12:35] adubovskoy commented on #213
Ну, это лучше чем ничего)

[2015-12-13 12:35] fortis commented on #213
как вариант ближе к запуску попробовать на конкурсной основе найти дизайнера

[2015-12-13 12:37] xandeadx commented on #213
а платить кто будет?)

[2015-12-13 12:41] fortis commented on #213
готовых psd много, тем более на техническую тематику, можно купить и адаптировать, там цены небольшие. я имею ввиду psd от фрилансеров дизайнеров, не тм и прочий шлак))
а платить.. ну домен мы как-то оплатили и продлили я и на диз не против скинуться

[2015-12-14 04:23] Niklan commented on #213
Ну я сказал я попробую что-то накидать, учитывая что за это время все понаписали, пожелали. Я примерную картинку имею что хотят и просят. Но я не гарантирую что это лучше текущего будет и вообще получится :D

[2015-12-15 14:37] isaenkov opened #411 "Не видно больше 10 комментариев под самим вопросом."
Если коментов под самим вопросом больше 10, то не появлется пагинация, т.е. видно только первые 10 коментариев, остальных не видно.
Для примера, здесь (http://dru.io/question/5122) я оставил уже два коментария, а их не видно.

[2015-12-15 15:16] adubovskoy commented on #411
Ошибка была в http://dru.io/admin/structure/views/view/comments/edit/comments_to_question . Исправлено, спасибо!

[2015-12-15 15:16] #411 closed, assigned to nobody

[2015-12-16 16:42] UksusoFF opened #412 "Трекер и GitHub на мобильной версии"
Этих ссылок нигде нет в мобильном отображении.

[2015-12-17 07:21] Nikit commented on #335
Запушил orders rss, имхо мыло не нужно, кому надо могут оттуда гнать на мыло http://mailchimp.com/features/rss-to-email/

[2015-12-18 21:17] xandeadx opened #414 "Выводить число непрочитанных материалов в меню"
Сабж. Как нибудь так:

![untitled-1](https://cloud.githubusercontent.com/assets/845389/11907550/d1bc09aa-a5e5-11e5-85b4-ae2f68ec5686.png)

Повысит время проведённое на сайте.

[2015-12-20 08:14] roman-yakimkin opened #415 "Предложение по расширению проекта в сторону обсуждения организационных вопросов"
Добрый день.
Возникла такая мысль. Если, конечно, этот проект изначально не задумывался только как проект для программистов, то, может быть, его стоит как-то расширить в направлении освещения и обсуждения организационных вопросов.
Например, обсуждать нюансы взаимодействия с клиентами, вопросы по организации веб-студий, всякие юридические, бухгалтерские вопросы и т.д.
Тем более, в сайтостроении на

[2015-12-21 11:10] Niklan commented on #414
+

[2015-12-21 11:13] adubovskoy opened #416 "Vagrant сборка для разработки"
Общий смысл - моментальное получение полной среды разработки. С gulp/sass и т.п. Сделать на базе того же vlad или vdd. Чтобы новый разработчик (не важно, под win он, mac или linux) мог запустить vagrant, у него автоматом бы развернулась свежая база и все окружение. Чтоб "вхождение" занимало 20  минут (и то в основном на загрузку).

Предложено уже дважды, @duozersk и @fortis

[2015-12-21 11:14] Niklan commented on #416
+

[2015-12-21 13:21] drupby commented on #414
Как вариант реализуется модулем https://www.drupal.org/project/menu_badges

[2015-12-21 14:17] Niklan commented on #414
Ой там своё то написать раз-два)

[2015-12-21 14:45] #335 closed, assigned to nobody

[2015-12-23 07:39] adubovskoy opened #418 "Миграция мероприятий D7->D8"

[2015-12-23 07:39] adubovskoy opened #419 "Миграция заказов D7->D8"

[2015-12-23 07:39] adubovskoy opened #420 "Миграция постов D7->D8"

[2015-12-23 07:58] adubovskoy opened #421 "Поправить историю, учесть авторство по PR"
https://github.com/dru-io/Dru.io/pull/413

[2015-12-23 08:20] fortis commented on #416
имхо докер в разы проще новичку

[2015-12-23 08:21] fortis commented on #416
у меня есть https://hub.docker.com/r/fortis/drupal-dockerized/
но хочу еще допилить и проверить на виндовс и линуксе, и потом уже можно будет форкнуть конкретно под dru.io

[2015-12-23 08:37] adubovskoy commented on #416
в принципе не важно что именно, если принцип "20 минут и простой набор действий для полноценного окружения" выполняется

[2015-12-23 11:49] levmyshkin opened #422 "Документация по Drupal на русском языке"
Здравствуйте, я по поводу руководства друпал на русском языке на сайте drupal.org. На  DrupalSib Camp была идея сделать общими усилиями руководство и сделать инициативу на
drupal.org, чтобы разместить на русском языке статьи.
Нам нужна площадка для совместной работы, если есть желание то можно сделать такую
площадку на dru.io .Пока я начал делать мануал у себя на сайте, но если есть желание работа

[2015-12-23 11:50] fortis commented on #422
Идея сделать видеоматериал?

[2015-12-23 11:54] levmyshkin commented on #422
Да и видео тоже, я делал по 7ому друпалу:
https://www.youtube.com/channel/UCkzEoCBcOFx2HK0_IDxSMZQ

Но основная идея все же в том чтобы перевести документацию с drupal.org на русский язык и опубликовать ее там же на drupal.org. Для этого уже есть функционал на drupal.org, нужно только скооперироваться, подготовить документации и с готовой документацией создавать инициативу.

[2015-12-23 11:55] fortis commented on #422
добавил в скайп, обсудить в чате будет продуктивнее

[2015-12-23 11:59] andypost commented on #422
Нам даже подсказывают, куда для начала копать https://www.drupal.org/node/363896#comment-10687502

[2015-12-23 12:25] fortis commented on #422
#9

[2015-12-23 17:50] Chi-teck commented on #415
https://github.com/dru-io/Dru.io/issues/261

[2015-12-23 20:48] fortis commented on #261
это должно быть в milestone d8

[2015-12-23 20:58] fortis opened #423 "Вычистить спам-ботов"
около 500 пользователей которые никогда не входили, можно чекнуть с spambot и остальное руками добить

[2015-12-23 21:04] adubovskoy opened #425 "Установка google капчи"

[2015-12-23 21:04] #425 closed, assigned to adubovskoy

[2015-12-25 07:49] Niklan commented on #261
Надо раздел обсуждений делать. Что-то типа лайт форума.

[2015-12-25 07:59] adubovskoy commented on #261
или чатик. еще на кэмпе была рекомендация сделать на главной блок со ссылками на все известные региональные чатики (как на drupal.ua)

[2015-12-25 08:12] Niklan commented on #261
Слаку бы нам, с разделами рыжных чатов типа Южный и т.д.
Все же скайп не очень удонбный. Чатй разрастаются, пользоваться становится нереально

[2015-12-25 08:28] Niklan commented on #261
@Niklan test ответа через телеграм

[2015-12-25 09:26] fortis commented on #261
у нас гиттер уже был и все сидели в скайпе, если заводить слак то нужно распускать скайп чаты, а никто на это не пойдет

[2015-12-25 09:27] Niklan commented on #261
@fortis Гиттер не очень удобен. Слак поинтереснее. Понятно что из скайпа никто не уйдет. Но у нас в скайпе много точечных разедлов, но нету одного глобального для всех.

[2015-12-25 09:30] fortis commented on #261
зачем кому-то региональные комнаты если есть скайп?

если объединять все сообщества в одном месте, ивенты, фото-отчеты с кафешек и других локальных мероприятий, тогда можно делать единый чат, тогда может и имеет смысл слак, но пока не дозрели до этого, дальше посмотрим

[2015-12-25 09:31] Niklan commented on #261
@fortis Согласен что не дозрели. Просто надо думать. В принципе можно мини-форум сделать на сайте для общения. Какие-то разделы и свободное создание топика и комментарии как ответы. Т.е. для обсуждения каких-то более глобальных тем.

[2015-12-26 07:07] Chi-teck commented on #261
А что значит не дозрели? Создать чат займет пару минут. Комнаты не особо нужны (имхо). Нужен один глобальный чат. С правилами и модерацией. К примеру, из нескольких десятков [друпальных IRC каналов](https://www.drupal.org/irc), активность происходит только в трёх. В остальных новые сообщения могут отсутствовать неделями. Чтобы чат был стал популярным, его надо продвигать (ссылки с сайта, блок с тр

[2015-12-26 07:18] adubovskoy commented on #261
у нас просто он уже был недавно. И на gitter'е и на slack'е. Там было пусто. Народ не заходит в места, которые не надоедают нотификацией) Скайп только живее всех живых.

[2015-12-26 07:24] Chi-teck commented on #261
Про них мало кто знал.

[2015-12-26 07:26] Chi-teck commented on #261
Всё таки могут быть полезными для каких то локальных мероприятий (кампы, спринты и т.д.).

[2015-12-26 07:30] adubovskoy commented on #261
Что, пришла пора опять попробовать slack?) или, кстати, как вариант -- http://www.ryver.com/

[2015-12-26 08:34] Niklan commented on #261
Я за слак, он крут, там можно и комнату для разработки, комнату-флудилку и т.д.

[2015-12-26 08:39] adubovskoy commented on #261
почитай описание ryver) http://www.ryver.com/ryver-vs-slack/
слак чем хорош - он знаком уже всем

[2015-12-26 09:03] Niklan commented on #261
Прикольно, можно попробовать

[2015-12-26 12:33] fortis commented on #261
можно попробовать, есть инициатива по переводам ее можно туда перенести и распустить группу в скайпе, нужны какие то события что б затаскивать туда это верно

[2015-12-29 13:57] adubovskoy commented on #2
reopen https://github.com/dru-io/Dru.io/issues/2#issuecomment-70081113 пусть висит

[2015-12-29 14:32] xandeadx commented on #406
@drupby зачем удаляешь мои замечания?

[2015-12-29 14:38] adubovskoy commented on #406
где?

[2015-12-29 14:40] drupby commented on #406
@xandeadx я комментарии просто подчистил о замечаниях о неправильно составленных заголовках - автор топика увидел, зачем оставлять навсегда и плодить такие комменты?

[2015-12-29 14:42] xandeadx commented on #406
@drupby как ты узнал что он увидел?

[2015-12-29 14:49] drupby commented on #406
@xandeadx за полдня должен был увидеть, а вообще такие комменты должен видеть только автор топика и в идеале соответственно они должны посылаться оповещением на почту или private message - в самом вопросе эта информация лишняя для посетителей сайта.

[2015-12-30 10:00] Niklan commented on #406
@drupby не нужно убирать. Пусть будут. Другие тоже увидят. Хорошие и правильные замечания же.

[2015-12-30 15:54] Chi-teck commented on #261
У слака есть интеграция с Github, Jenkins и т.д. Если ryver тоже это поддерживает то можно попробовать.

[2015-12-30 20:48] adubovskoy opened #426 "Ссылки на новые статьи"
**Вводная**: есть большое кол-во ресурсов по друпалу, которые почитываю. Прямо "вау" статей там не так много, но бывают. Хочется быстрее такой контент находить и читать в одном месте.
**Как решаю сейчас**: да как все, твиттер, дайджест, некоторые блоги.
**Как можно сделать**: на dru.io тип материала "ссылка на публикацию". Там собственно линк (с nofollow) и краткий пояснительный текст что там (или

[2015-12-30 20:48] adubovskoy commented on #261
Обсуждение натолкнуло на мысль https://github.com/dru-io/Dru.io/issues/426 , привяжу ишью.

[2015-12-30 21:06] fortis commented on #426
этому нужно хорошее видное место на главной

[2015-12-30 21:07] andypost commented on #426
можно просто шоткатсервис сделать и его содержимое выводить

[2015-12-30 21:10] fortis commented on #426
репостить в твиттер и другие соц сети хорошие материалы стоит, в момент когда материал наберет 10 баллов можно программно делать репост в нашем аккаунте. назревает порт vkxp на 8ку, бекпорт я уже делал на 6ку =) вк может в твиттер сам слать так что достаточно только с ним связать, про фб подумать надо

[2015-12-30 21:12] adubovskoy opened #427 "Репост лучших материалов"
Репостить в твиттер и другие соц сети хорошие материалы, в момент когда материал наберет 10 баллов можно программно делать репост в нашем аккаунте. Идея @fortis

[2015-12-30 21:13] adubovskoy commented on #426
tnx, сделал https://github.com/dru-io/Dru.io/issues/427 дабы отдельно вести.

[2015-12-30 21:13] fortis commented on #427
зашибись ввязался ))) ок

[2015-12-31 07:55] vistar commented on #426
**Как решаю сейчас:** rss + feedly

[2015-12-31 09:10] Niklan commented on #426
А в чём разница от: https://github.com/dru-io/Dru.io/issues/10 ?

[2015-12-31 09:56] fortis commented on #426
там видимо это тип материала для того чтобы пользователи публиковали, тут функционал который сам такие материалы делает

[2015-12-31 10:13] Chi-teck commented on #426
Статьи русские?

[2015-12-31 13:06] adubovskoy commented on #426
ни в чем, дубль. сорри, не увидел вовремя. этот закрываем. дальше в #10

[2015-12-31 13:06] #426 closed, assigned to adubovskoy

[2015-12-31 13:06] adubovskoy commented on #426
не только. Но если английские - то больше шансов что читателям не понравится. Надо будет оч привередливо выбирать

[2015-12-31 14:37] fortis commented on #426
имхо их (англ) нужно выносить из общей ленты, в сайдбар например и делать более кратким списком

[2016-01-01 10:38] UksusoFF commented on #397
Опять вылезла :(

[2016-01-01 12:42] adubovskoy commented on #397
А какая? Там гугловская капча должна быть (галочка). И это норм по юзабилити по идее.

[2016-01-01 14:20] UksusoFF commented on #397
Ну да. Только кейс с менеджерами паролей все равно сломан. Ибо он заполняет логин и пасс и пытается сабмит формы сделать.

[2016-01-01 15:45] adubovskoy commented on #397
Ок, уберем и закроем как будет решена https://github.com/dru-io/Dru.io/issues/423 .

[2016-01-03 12:16] fortis commented on #423
заблокировано порядка 500 пользователей, проверил вручную все ок, позже пересмотрю и удалю аккаунты.

проблема:  есть боты которые зарегались и вошли 2 недели назад и ранее. выходит текущая капча не помогает, возможно стоит оставить спамбот для проверки емейла по базе стопфорумспам при регистрации (пока выключено)

[2016-01-03 12:17] fortis commented on #397
по 423:
есть боты которые зарегались и вошли 2 недели назад и ранее. выходит текущая капча не помогает, возможно стоит оставить спамбот для проверки емейла по базе стопфорумспам при регистрации (пока выключено) ну и посмотреть что у нас с капчами, может что-то недокрутили, но сначала нужно избавиться от того что мешает нормальным пользователям (автозаполнение сломано)

[2016-01-04 10:54] adubovskoy commented on #261
https://gist.github.com/listochkin/c81c198a2b7b044a0dc5#%D0%9F%D0%BE%D1%87%D0%B5%D0%BC%D1%83-gitter

[2016-01-04 12:02] adubovskoy opened #428 "Интеграция с gitter"
Давать ссылку на новые материалы:
1. Вопросы
2. Заказы
3. Мероприятия
4. Публикции

Под вопросом: Ответы.

[2016-01-04 12:34] adubovskoy opened #429 "Gitter test issue"

[2016-01-04 12:34] #429 closed, assigned to nobody

[2016-01-04 12:50] adubovskoy commented on #261
Закрываю, пока тестим чат) https://gitter.im/dru-io/Drupal

[2016-01-04 12:50] #261 closed, assigned to fortis

[2016-01-04 19:32] fortis commented on #397
при копировании и вставке вручную в поля тоже сообщение красное появляется "Обнаружена атака ввиде подбора CAPTCHA"

[2016-01-06 11:00] fortis commented on #428
тест активити от репо

[2016-01-08 11:56] #428 closed, assigned to Chi-teck

[2016-01-08 12:16] adubovskoy opened #431 "Предпросмотр материалов перед публикацией"
Пожелание из коммента http://dru.io/question/5327 . В целом разумно.
Там нет никаких подводных камней почему сейчас нет? На dev-копии просмотрел, вроде все ок. Если не будет возражений, скоро включу.

[2016-01-08 12:16] Niklan commented on #431
@adubovskoy Там вроде оформление в превью едет?

[2016-01-08 12:17] adubovskoy commented on #431
У вопросов не едет, остальное еще не тестил. Отступы может кое-где подправить, но там мелочи.

[2016-01-08 19:45] webremake commented on #423
Очень хорошо помогает от регистрации ботов https://www.drupal.org/project/google_recaptcha
На одном из сайтов было по 30 - 50 регистраций в день. После установки модуля уже три недели ни один бот не зарегистрировался. И авто заполнение не ломается с этим модулем (по крайней мере в хроме, в других браузерах не проверял).

[2016-01-08 21:51] adubovskoy commented on #423
уже стоит)

[2016-01-10 11:52] icanall10 opened #432 "Возможность написать текст при отклике на заказ"
Почти каждый клиент пишет "Оставляйте ваши предложения, указывайте цену" и подобное.
Был даже случай, когда у заказчика не были указаны контакты, чтобы это самое предложение написать.
Нужно либо поле для ввода текста, либо поля для ввода цены и срока.
Чтобы это не превращалось в срач, как на д.ру (насколько я понимаю, именно по этой причине это не было сделано изначально), можно просто не показыва

[2016-01-10 21:16] adubovskoy commented on #432
Пока показываются контактные данные из профиля.
Коротенькую заметку в стиле "Почему я подойду для этого проекта" имхо не помешает, да.
Пометил пока на D8. Если кто возьмется сделать раньше - было бы неплохо.

[2016-01-10 21:36] fortis commented on #432
нужно раньше, до д8 пол года прикидываем, а заказы идут

[2016-01-10 21:36] fortis commented on #432
я вроде посвободнее сейчас, попробую

[2016-01-12 02:48] als-studio commented on #419
Взяли в работу.

[2016-01-12 02:59] als-studio commented on #396
Кажется, имеет смысл привязать к #419

[2016-01-12 05:56] als-studio opened #433 "Возможность отмечать (или скрывать) заказы, по которым найден исполнитель"
Сейчас на http://dru.io/orders много старых заказов, некоторые висят по 3 месяца. Это вызывает некоторое неудобство - не понятно, на какие заказы реагировать, а на какие уже поздно.
Мне кажется, старые заказы нужно каким-то образом помечать, как неактивные, либо вовсе скрывать.
На мой взгляд, самый лучший вариант- скажем, через 10 дней отправлять на email автору ноды ссылку для "освежения" заказа.

[2016-01-12 09:03] adubovskoy commented on #433
Поддерживаю.

[2016-01-12 09:56] isaenkov commented on #207
А то что хлебные крошки открываются на отдельной странице это баг или фитча?

[2016-01-12 09:57] Niklan commented on #207
@isaenkov Больше считаем что баг, ибо тут есть ишьюс где предлагают это пофиксить. Так что да, баг.

[2016-01-12 13:24] fortis commented on #207
крошки пофиксю в выходные)

[2016-01-13 07:50] dmitrysusloparov opened #434 "Создание блога по Друпал"
Ребята, привет!

Я работаю на компанию Vardot (https://www.vardot.com/), которая сотрудничает с Acquia, занимается разработкой сайтов, пишет общедоступные модули и спонсирует Друпал на Ближем Востоке. Мы хотим сделать на базе сайта блог (он уже есть, но не очень хороший), где будем писать течнические и не очень тексты и ищем людей, которым бы было интересно делать это. Я предложил участие некоторы

[2016-01-13 09:01] adubovskoy commented on #434
Привет)
Ишью они по доработкам самого сайта dru.io. Все разработчики ваше ишью увидели, но чтобы рабочему процессу оно не мешало и не было в ленте, я его закрою.
Вы можете продублировать объявление на http://dru.io/orders , там и аудитория больше и висеть активным будет на главной долго.

[2016-01-13 09:01] #434 closed, assigned to nobody

[2016-01-14 21:31] #431 closed, assigned to adubovskoy

[2016-01-14 21:34] adubovskoy commented on #194
issue еще для старого дизайна.

[2016-01-14 21:34] #194 closed, assigned to nobody

[2016-01-14 21:35] #140 closed, assigned to adubovskoy

[2016-01-15 20:07] roman-yakimkin opened #436 "Добавление в список категорий понятий, связанных с Drupal 8"
Добрый день.
Небольшое пожелание - добавить в список категорий понятия, связанные с Drupal 8.
Помню, когда задавал вопросы по Drupal 8, не смог подвести их под нужную категорию.

[2016-01-16 14:26] adubovskoy commented on #436
А можно набросок вариантов?

[2016-01-16 14:35] roman-yakimkin commented on #436
Попробую ...

Рутинг
Контроллеры
Шаблоны twig
Плагины
Система конфигурирования (yaml)

Я с D8 практически не работал, может быть, здесь поучаствуют те, кто имеет более-менее опыт работы ...

[2016-01-16 17:51] SemanticsPRO opened #437 "Правила/описания для разделов"
Господа, преведствую.

В общем, хочу накидать публикаций, но:
1. Нет правил для публикаций, непонятно, можно урлы, нельзя, что вообще разрешено, что нет.
2. Непонятно насчёт уникальности теста в публикациях
3. Непонятно вообще для чего раздел. Ссылки на свои блоги/статьи, для полноценных статей и т.п.

Ваши мысли? Накопирайтить правила готов

[2016-01-16 18:56] adubovskoy commented on #436
Да, давайте набьем небольшой список и внесем термины.

[2016-01-16 18:59] adubovskoy opened #438 "Кнопки добавления материалов на главной?"
![ok35](https://cloud.githubusercontent.com/assets/297623/12373917/25e30a02-bc9c-11e5-8bf1-b7e7b9e887f1.png)

Или в виде +, при наведении подпись выезжает.

[2016-01-16 18:59] adubovskoy commented on #295
https://github.com/dru-io/Dru.io/issues/438

[2016-01-16 18:59] #295 closed, assigned to Niklan

[2016-01-16 19:00] adubovskoy commented on #437
В общем, хочу накидать публикаций, но:
1. Нет правил для публикаций, непонятно, можно урлы, нельзя, что вообще разрешено, что нет.
урлы можно, они все равно парсятся с nofollow.
1. Непонятно насчёт уникальности теста в публикациях
   мне тоже непонятно, тут вопрос к сеошникам.
2. Непонятно вообще для чего раздел. Ссылки на свои блоги/статьи, для полноценных статей
   для полноценных статей. Для сс

[2016-01-17 06:10] roman-yakimkin opened #439 "Неполный список вопросов"
Добрый день.
Задавал на днях вопросы, сегодня смотрю, их почему-то в списке нет
http://dru.io/question

Хотя на моей личной странице они остались ?

Вы провели какую-то модернизацию сайта, чтобы список вопросов каким-то образом фильтровался ?

[2016-01-17 08:46] adubovskoy commented on #439
Нет, это баг. Что-то с индексом солра, ребилд запустил.

[2016-01-17 23:26] adubovskoy opened #440 "Убрать Drupal8 из меню, добавить Чат"
на https://gitter.im/dru-io/Drupal , предложение @xandeadx

[2016-01-18 04:29] Niklan commented on #440
@adubovskoy Чат лучше к гитхабу и трекеру.  Ему там самое место, в основном слишком жирно.

[2016-01-18 05:14] Niklan commented on #440
Я уже писал в гиттере. И ссылка должна вести не на чат гиттер на кастомную страницу /chat

Там будут какие-то простенькие правила, зачем чат, для кого чат и почему туда стоит зайти и т.д. А ниже айферймом реалтайм чат.

[2016-01-18 08:14] xandeadx opened #441 "Не добавляются проекты в базу"
При попытке добавить проект в базу из формы создания вопроса получаю:

Пытаюсь добавить модуль Data ( https://www.drupal.org/project/data )

[2016-01-18 09:46] #440 closed, assigned to nobody

[2016-01-18 12:42] adubovskoy opened #445 "Снижение порога рейтинга для голосования"
Вопрос поднят в чате.

Есть предложения снизить с 20 до 10 рейтинг пользователя, после чего он сможет голосовать сам.

[2016-01-18 12:43] Niklan commented on #445
+, пока пул с пользователями 20+ мало, до 20 по сути нереально добраться.

[2016-01-18 12:47] adubovskoy commented on #445
сделал табличку для анализа http://druio.examplesite.ru/users

[2016-01-18 12:48] #445 closed, assigned to nobody

[2016-01-18 13:00] Niklan commented on #445
@adubovskoy Думаю как миниму 2 страницы надо чтобы были с 20+.

[2016-01-18 13:09] als-studio opened #446 "Сообщение о невозможности голосовать за ответ"
Про голосовалку еще один непонятный момент. Допустим, я не знаю, что голосовалка зависит от рейтинга. Захожу на страницу вопроса, кликаю "плюсик" на одном из ответов - страница перезагружается, однако никакого сообщения или изменения рейтинга не видно.
Т.е. нужно вывести сообщение о том, что человек не может пока голосовать (желательно со ссылкой на страницу, где написано, что такое рейтинг и как

[2016-01-18 13:30] Niklan commented on #446
@als-studio Сообщение должно быть, в коде есть. Но не первый раз уже об этом пишут, надо тестить.

[2016-01-21 07:37] als-studio commented on #432
+1 в поддержку возможности оставлять комментарий при отзыве на заказ.
Конкретный пример: есть заказ http://dru.io/order/5523, контакты заказчик не оставил. То есть единственный способ связаться - нажать "отозваться". При этом просит "Сразу присылайте, пожалуйста, примеры своих интернет-магазинов на drupal."

[2016-01-21 11:02] adubovskoy commented on #432
Можно полем к флагу сделать http://dru.io/admin/structure/flags/manage/ready2work/fields .

[2016-01-22 12:06] fortis commented on #57
@RedElephantDesign ваши наработки есть в исходниках?

[2016-01-23 14:37] RedElephantDesign commented on #57
Есть. Напомните завтра, пожалуйста.--Red Elephant DigitalRussian Digital Agency (China, Beijing)http://redelephant.proTel: +86 010 5912 1130E-mail: info@redelephant.pro22.01.2016, 20:06, "Alan Bondarchuk" notifications@github.com:@RedElephantDesign ваши наработки есть в исходниках?—Reply to this email directly or view it on GitHub.￼

[2016-01-23 22:15] anton-staroverov opened #449 "Объединение с drupal.ru"
На тему http://www.drupal.ru/node/126549.

Проект drupal.ru уже реанимируется, в связи с чем возникает закономерный вопрос — почему бы не объединить усилия и не сделать один супер-сайт о Drupal на русском?

Цели проектов общие, аудитория общая, контент тоже во многом пересекается. Слоган dru.io звучит как "русскоязычное сообщество Drupal". Домен drupal.ru как никакой другой лучше всего подходит по

[2016-01-23 22:23] Niklan commented on #449
Уже обсуждалось. Совершенно разные проекты. Dru.io точно вливаться в drupal.ru не будет. И возможность вливания drupal.ru в dru.io также обсуждалось. Только как архив на поддомене.

Пока что ничего не ясно. Обновление на 7-ку и пару фиксов верстки это не реанимация. Пока это больше похоже на начало конца.

Общая цель - да, но подходы совершенно разные.

Не совсем. ЦА - да, но контингент совершенно

[2016-01-24 02:20] adubovskoy commented on #449
было бы неплохо) Но есть несколько но, основные тут перечислены http://dru.io/post/4637 .

Если сократить:
1. Это будет возможным только если drupal.ru будет открытым. Сейчас только Егор имеет права принимать-не-принимать пулреквесты. У нас много человек этим занимаются и пулят в продакшн) Зачастую без внимания Никиты (представляю моменты когда он после отсутствия заглядывает - а уже другая главна

[2016-01-24 05:48] fortis commented on #57
@RedElephantDesign напоминаю)

[2016-01-24 06:29] Niklan commented on #57
@fortis У них там в Китае новый год вроде как.

[2016-01-24 06:34] RedElephantDesign commented on #57
Ага, скоро Китай будет весь греметь. Лого выслал)

-- 
Red Elephant Digital
Russian Digital Agency (China, Beijing)
http://redelephant.pro
Tel: +86 010 5912 1130
E-mail: info@redelephant.pro

24.01.2016, 14:29, "Nikita Malyshev" notifications@github.com:

[2016-01-24 09:38] adubovskoy commented on #57
@fortis сюда не забыть положить https://github.com/dru-io/promo

[2016-01-24 16:01] #449 closed, assigned to nobody

[2016-01-29 17:00] IvanAmosov opened #450 "Не нашел возможности удалить свой аккаунт"
Не нашел возможности удалить свой аккаунт

[2016-01-29 17:02] fortis commented on #450
такой возможности нет, чтобы избежать неприятностей на случай если кто-нибудь подберет чужой простой пароль. рядовому пользователю такой функционал не нужен

[2016-01-29 17:03] adubovskoy commented on #450
аккаунт был пустой. я удалил.

[2016-01-29 17:03] #450 closed, assigned to nobody

[2016-02-04 19:35] webremake commented on #432
Очень нужная функция. Свежий пример - заказ http://dru.io/order/5759.
У меня в портфеле есть сайт на commerce с тем функционалом, который нужен заказчику - сделать возможность добавлять товары зарегистрированным пользователям в свой собственный магазин .
Как мне об этом сказать заказчику и дать ссылку? Ни контактов заказчика ни ссылки на его профиль в заказе нет.

[2016-02-06 07:19] dgastudio commented on #44
как по мне, идеал форума = https://geekbrains.ru/topics

в идеале, сделать frontend и backend разными.

по сути, то что является frontend можно сделать на оcнове http://themeforest.net/category/site-templates/admin-templates

[2016-02-08 06:45] adubovskoy commented on #44
В целом да, сейчас http://dru.io/question уже приближено .

не совсем понятно. раскройте идею)

[2016-02-27 07:58] fortis commented on #57
@RedElephantDesign таак, а куда?))

[2016-02-27 08:00] fortis commented on #57
@RedElephantDesign наверно просто на письмо ответили, а это гитхаб уведомления) если не трудно вот сюда imacoda@gmail.com продублируйте

[2016-03-01 08:39] adubovskoy opened #451 "Нужен ли promoted регион"
https://qsnapnet.com/snaps/0ovudc7wy8ir7ld

Собственно, есть мысль откатить эти изменения и оставить как раньше только блок публикаций.

Почему:
Контент там редко меняется. Соответственно на втором рефреше эта инфа уже не интересна. Чаще всего меняются вопросы и вакансии - они самые интересные при рефреше главной и должны быть вверху.

Аргументы против: "вузальное разнообразие" главной. Но имхо эт

[2016-03-01 10:13] fortis commented on #451
заголовков очень много и их просматривать не удобно, там даже даты публикации нет и отметок что из этого новое или обновилось (коменты)

промотед это отобранный контент который рекомендуют прочитать, убирать бы не хотелось, но вниз сместить стоит

[2016-03-02 08:10] the69 opened #452 "Закладки + Добавить в закладки или функционал - Подписаться"
Всем добрый день, может быть стоит подумать о реализации функционала "Закладки" или "Подписаться"?

Допустим пользователь нашел ответ на вопрос который будет ему полезен через какое-то время. Чтобы не потерять этот ответ было бы удобно добавить вопрос к себе в закладки. Ну или появился интересующий пользователя вопрос пока еще без ответа, но он хотел бы посмотреть на ответы которые появятся позже.

[2016-03-02 08:34] the69 commented on #452
Нашел похожие Issue
https://github.com/dru-io/Dru.io/issues/253
https://github.com/dru-io/Dru.io/issues/169
https://github.com/dru-io/Dru.io/issues/98

[2016-03-02 21:12] adubovskoy commented on #452
делать надо.)

[2016-03-04 16:11] adubovskoy opened #453 "Баннер для кэмпа"
http://camp16.drupal.ua/en

[2016-03-04 19:24] kovtunos opened #454 "Некорректные ссылки в RSS ленте раздела «Заказы»"
Заметил некорректное формирование ссылок в заголовках RSS ленты раздела «Заказы».
http://dru.io/rss/orders

`http://dru.io/<a href="/node/XXX">Заголовок</a>`

При переходе, естественно, получаем 404.

[2016-03-04 21:57] fortis commented on #454
поправил, проверьте

[2016-03-05 05:37] kovtunos commented on #454
Теперь все нормально.

[2016-03-05 05:37] #454 closed, assigned to fortis

[2016-03-28 23:01] vkapas opened #455 "Уведомления на email об откликах на заказ"
Похоже, сейчас нет возможности получать на почту отклики на созданный заказ, как это делается на фриланс-биржах.

Сам недавно создавал заказ, и получил отклик, а узнал о нём случайно и только через несколько дней, уже после того, как исполнитель сам на меня вышел и даже успел сделать проект. Честно говоря, при создании заказа даже и не подумал, что придётся постоянно проверять — а не откликнулся л

[2016-03-29 03:55] Niklan commented on #455
@vkapas Согласен

[2016-03-31 11:14] sandrig commented on #451
Убирать нельзя, т.к. будет в ущерб, лучше да, спустить вниз

[2016-04-01 09:16] Niklan commented on #451
Оформление надо однозначно менять. Заголовков хватит, не дуамю что такие сдоровые тизеры там уместны.

[2016-04-01 09:19] fortis commented on #451
имхо сплошные заголовки это для раздела форума или вопросов хорошо, но на главную же со всех разделов вывод и там должен быть отобранный контент, а у нас просто по 10 штук из каждого в виде заголовков

[2016-04-01 09:20] Niklan commented on #451
@fortis Тоже верно. Надо искать баланс. Как минимум надо его в колонку закинуть. На всю шириную как-то диковато смотрится

[2016-04-01 09:21] fortis commented on #451
не нужно придумывать и изобретать) надо взять за пример один из ресурсов и делать как там

[2016-04-01 09:22] Niklan commented on #451
@fortis Найти бы эти примеры)

[2016-04-29 13:24] petrovnn opened #456 "Запилить раздел "Вакансии" и перенести существующие вакансии туда"
Заметил что в разделе Заказы публикуются вакансии.

Тут надо либо делать раздел "Вакансии", либо переименовать раздел "Заказы" в "Работа".

Что скажете?

Например сейчас на странице "Заказы" самих заказов только 4, и 6 вакансий.

[2016-04-29 13:24] Niklan commented on #456
@petrovnn Думаю по вакансиям нужна отдельная страница и материал чтобы не мешать их

[2016-04-29 13:25] fortis commented on #456
я скорее за отдельный раздел работы, вакансии могут быть долго открыты, а заказы часто мелкое и быстро уходящее

[2016-04-29 13:27] petrovnn commented on #456
Как вариант можно поставить галочку "Это вакансия", и показывать их на странице вакансий. Это самое простое технически решение, тем более что поля "Заказа" мало чем отличаются от полей "Вакансии"

[2016-04-29 13:29] Niklan commented on #456
@petrovnn не стоит мешать вакансии и заказы. Пока вот так, но если решать это, то вакансии нужно отделять в свой раздел. Как фортис написал, есть проблемы и ньансы. А это лишь вершина айсберга. Разные задачи.

[2016-04-29 14:43] Chi-teck commented on #456
По факту, сейчас в этом разделе находятся и заказы и вакансии.

[2016-05-06 10:29] Chi-teck commented on #192
Пример, как это сделано у венгров.
https://www.drupal.hu/planet

[2016-05-10 06:48] Niklan opened #457 "Отправка почты"
Собственно почта раньше шла через Mandrill, его закрыли. Переключил пока на стандартный метод отправки который у нас в спам уходил частенько, хотя может сейчас поменьше будет.

В общем вопрос такой. Переходим на SMTP и шлем через яндекс (ограничение 500 писем сутки), либо на sparkpost.com или аналогичные.

[2016-05-10 22:47] fortis commented on #457
я б оставил родной и прописал spf и dkim и по итогам уже решать

[2016-05-10 22:48] fortis commented on #457
посмотрю что там в настройках домена

[2016-05-11 05:02] Niklan commented on #457
@fortis Ок. И напиши как spf dkim для своего домена ставить

[2016-05-11 05:02] Niklan commented on #457
@Niklan Ну в смысле что в DNS прописывать)

[2016-05-11 10:42] fortis commented on #457
к до у меня нет доступа, но настроить dkim и spf с яндексом проще, 500 писем в день считаю нам пока более чем достаточно

https://yandex.ru/support/pdd/set-mail/spf.xml
https://yandex.ru/support/pdd/set-mail/dkim.xml

@Niklan настрой ты

[2016-05-11 10:43] Niklan commented on #457
@fortis Ну так получается через Яндекс слать будем?

[2016-05-11 10:43] fortis commented on #457
да, это сейчас проще всего и в лимиты мы впишемся, скинь в скайп скрины потом того что получится по записям

[2016-05-25 11:57] Niklan commented on #457
Проблема решена.

[2016-05-25 11:57] #457 closed, assigned to Niklan

[2016-07-05 09:40] isaenkov commented on #341
Up
Да, хотелось бы увидеть теги **Версии друпал** и **Связанные проекты** в полном виде вопроса, а то бывает не удобно ориентироваться о какой версии друпала идет речь.

[2016-07-05 09:43] isaenkov opened #459 "Личные сообщения"
Хотелось бы увидеть функционал **_Личного сообщения_**, порой хочется задать вопрос кому-то из участников лично.

[2016-07-05 09:44] fortis commented on #459
общаться можно в https://gitter.im/dru-io/Drupal
если автор считает нужным то в профиле скорее всего укажет способы связи

[2016-07-05 09:45] fortis commented on #459
не все хотят чтобы им задавали вопросы :)

[2016-07-05 09:45] #459 closed, assigned to nobody

[2016-07-05 09:55] isaenkov commented on #459
А если автора нет в гиттере? :-)

[2016-07-05 09:55] Niklan commented on #459
@isaenkov В профиле есть возможность указать данные для связи. Если человек их не указывает, возможно он не желает чтобы с ним связывались, по той же причине он может отсутствовать в gitter.

[2016-07-05 10:03] isaenkov commented on #459
Ясно, спасибо.

[2016-07-16 13:10] bardachev opened #460 "Текст http://dru.io/drupal-8.0 утарел."
Особенно первое предложение.

[2016-07-18 16:38] sashagar commented on #438
В виде плюсика с подписью!

[2016-07-21 16:55] sashagar commented on #403
Хотел вместо пейджера поставить https://www.drupal.org/project/views_load_more. Не работает ajax в теме.
Переключил на бартик там ajax работает.
Значит дело в теме.

[2016-07-22 05:05] Niklan commented on #460
Ок, верно. Надо ещё страницу drupal-8.1 сделать. Есть желающие?) Там тупо всё на темплейтах.
https://github.com/dru-io/Dru.io/blob/master/sites/all/modules/custom/druio_pages/theme/drupal-8-0.tpl.php

[2016-07-22 05:07] Niklan commented on #403
Думаю нам не нужно views_load_more. Не совсем очевидная штука и ссылку не дать на страницу, что бывает очень полезно. Надо просто убирать часть кнопок на мобилке и всё

[2016-07-22 05:09] sashagar commented on #403
А тогда такой вариант. Создать 2 пейджера один в виде кнопок. Второй в виде селекта с выпадающими значениями. И для определенной ширины экрана показывать тот или иной пейджер.

[2016-07-24 17:19] vkapas opened #463 "Скрывать поле Статус при создании заказа"
Сейчас на странице создания заказа есть поле Статус, где зачем-то можно выбрать статус, отличный от Активного.

Думаю, показывать это после имеет смысл только для уже созданных заказов — зачем  может понадобиться создавать заказ со статусом _Выполнен_ или _Архив_?

[2016-07-28 19:19] bardachev opened #464 "Поломалась авторизация через фейсбук."
Вот такая ошибка:
Невозможно загрузить URL: Домен этого URL не включен в список доменов приложения. Чтобы загрузить этот URL, добавьте все домены и поддомены своего приложения в поле «Домены приложения» в настройках вашего приложения.

[2016-08-08 11:43] pselfin commented on #119
Апну тему.
А не думали о рассылках про мероприятия например?
Конечно, при согласии пользователей, чтоб не посчитали это дело спамом.

[2016-08-08 15:00] fortis commented on #119
надо опрос создать и по итогам всем разослать

[2016-09-27 08:24] als-studio opened #466 "RSS-поток http://dru.io/rss/orders не соответствует стандарту"
Неверный формат даты.
pubDate must be an RFC-822 date-time

Сейчас:
`<pubDate>27/09/2016 - 18:26</pubDate>`
Нужно:
`<pubDate>Tue, 27 Sep 2016 18:26:57 +0000</pubDate>`

[2016-09-29 12:40] tlito commented on #120
в Трекере висят активными оповещения о комментариях в удаленной теме, и Трекер в статусе "Есть новое" постоянно
![_078](https://cloud.githubusercontent.com/assets/11997227/18954315/192f8ffe-865b-11e6-8d4b-6f912fa53b71.png)

[2016-10-08 00:17] #453 closed, assigned to Niklan

[2016-10-08 00:31] #466 closed, assigned to nobody

[2016-10-09 23:20] tlito commented on #120
пустой трекер - иконка "есть новые".
![_079](https://cloud.githubusercontent.com/assets/11997227/19224501/1d238e5c-8e90-11e6-905f-072f6da4b1a0.png)

[2016-10-10 13:10] adubovskoy commented on #120
ага. @tlito спасибо!

[2016-10-18 02:20] als-studio commented on #341
UP
В связи с появлением большого количества вопросов по D8 все более актуально :)

[2016-10-18 10:56] adubovskoy commented on #341
Я доберусь к выходным. Если кто раньше сможет - берите ишью.

[2016-10-27 22:04] #341 closed, assigned to nobody

[2016-10-27 22:34] #464 closed, assigned to nobody

[2016-10-27 22:34] adubovskoy commented on #464
проблема с www.
сделал редирект с www на без.

[2016-11-25 18:37] RuZniki commented on #455
Не нашел где хранятся настройки полей.
Планирую создать новое поле (Получать уведомление о новых откликах на почту) и новый рулс, который будет отправлять уведомление заказчику.

Описание поля:
- Получать уведомление о новых откликах на почту
- field_order_notify_email
- Логическое
- Одиночный флаг вкл./выкл.
- вкл по-умолчанию.

[2016-11-25 19:47] RuZniki commented on #455
**Тема**: Получен новый отзыв.
**Текст**: На ваш заказ [flagged-node:url] получен новый отзыв.

Экспорт фичи
[code]

[2016-11-25 19:57] #455 closed, assigned to nobody

[2016-11-30 08:16] adubovskoy opened #468 "Сайдбар при ресайзе"
Не работает при ресайзе девайса http://pix.toile-libre.org/upload/original/1480491047.png

Источник: http://dru.io/question/7512

[2016-12-06 17:46] roman-yakimkin opened #469 "Невозможность отказаться от выбора версии Drupal при добавлении вопроса"
Добрый день.

При добавлении данного поста (http://dru.io/question/7557) поначалу выбрал версию Drupal, но потом решил, что пост ни к какой версии не относится. Но, к сожалению, возможности отказаться от выбора версии Drupal нет - список с версиями не содержит пустого элемента.

Возможно ли это устранить ?

[2016-12-07 06:45] Niklan commented on #469
Ну андеад правильно подметил. Там вопросы непосредственно по Drupal, а не по проекту. Обсуждение проекта ведется здесь. Если уж хочется обсуждения - можно написать публикацию и вынести обсуждение в комментарии к ней. Так делалось на начальных этапах, вполне жизнеспособное решение для обсуждения проекта.

[2016-12-07 06:48] roman-yakimkin commented on #469
Думаю, мой вышеуказанный топик на публикацию явно не тянет, это просто рацпредложение. Поэтому не хочу засорять список публикаций.

[2016-12-07 06:53] Niklan commented on #469
Ну это я так обозвал, по факту же, там и публикации в 1 предложение имеются. Вот например такой публикации: http://dru.io/post/104

У нас по сути реально GitHub - место где каждый может задвинуть идею, ещё что-то, вынести на обсуждение. Просто тут сидят и мониторят те кто может это сделать и кто реально в этом всё заинтересован.

То что вы предложили в вопросу (добавить поле для LinkedIN) даже на

[2016-12-10 19:52] roman-yakimkin opened #470 "Проблемы со спамом"
Добрый вечер.
Парни, что-то спамить стали проект довольно сурово в последнее время.
Может быть, имеет смысл mollom подключить ?
Или он не поможет ?

[2016-12-11 14:49] adubovskoy commented on #470
mollom не поможет. он похуже чем google captcha, которая стоит. Тут вопрос - выбирать между удобством (галочка на логине, это все-таки удобно) и надежностью.

[2016-12-23 08:03] roman-yakimkin opened #471 "Предложение по устранению спама."
Хочу внести предложение по устранению спама.

А именно, добавить на странице спамовой сущности ссылку с надписью "Это спам", которая бы показывалась определенным пользователям (например, с определенной ролью, с определенным рейтингом, не ниже, чем какой-то, и т.д.).
И по нажатию на ссылку происходило бы какое-то действие, например, удаление данной сущности с её автором.  Может быть, как-то завязат

[2016-12-28 15:12] RuZniki opened #472 "Добавить в wysiwyg Разрыв страницы."
не работает. Как добавить разрыв?

[2017-01-03 17:52] alexd73 commented on #471
У меня spambot+honeypot убрали на 99.99% левые регистрации и, как следствие, спам.

[2017-01-06 17:49] alexd73 opened #473 "Нет кнопки Предпосмотр в комментариях"
Сабж, собственно ![Предпосмотр в комментариях](http://i.imgur.com/UkIMazv.jpg)

[2017-01-06 17:54] alexd73 opened #474 "Сортировка в комментария"
Привет! В комментариях (как минимум в ответах на комментрии) сортировка по обновлению, что приводит к нарушению хронологии, если юзер исправит свой комментарий, на который уже ответили, то тот упадет вниз списка и ответ будет выше.

[2017-02-04 10:19] UksusoFF opened #475 "Не работает авторизация через ВКонтакте"
![image](https://cloud.githubusercontent.com/assets/1931442/22617702/df40a6ae-eae4-11e6-828b-cc67076f9143.png)

[2017-02-04 11:05] fortis commented on #475
и не только вк, гибриду или пхп плохо

[2017-02-04 16:39] Niklan commented on #475
У меня пока нет возможности в выходные что-то сделать.

Вот что в логах: `Hybrid_Exception: Endpoint: Error while trying to init Hybrid_Auth: You cannot access this page directly. в функции Hybrid_Endpoint->authInit() (строка 217 в файле /home/community/web/dru.io/public_html/sites/all/libraries/hybridauth/hybridauth/Hybrid/Endpoint.php).`

P.s. обновлений нет.

[2017-03-11 11:38] adubovskoy opened #476 "JS attach error"
![screen_2017-03-11_011615](https://cloud.githubusercontent.com/assets/297623/23822939/58c1fb10-0668-11e7-844d-1087ae8923c3.png)

На страницах вопросов, http://dru.io/question/8054 .

[2017-03-14 10:32] roman-yakimkin commented on #476
Да, а при попытке нажатия кнопки "ответить на вопрос" ничего не происходит.

[2017-03-14 21:29] #476 closed, assigned to adubovskoy

[2017-03-28 08:49] adubovskoy opened #477 "HTTPS->HTTP редирект"

[2017-04-12 16:21] roman-yakimkin opened #478 "Ошибка при добавлении вопроса."
Добрый день.

Пытаюсь задать вопрос. При попытке сохранения обнуляет значение поля "Вопрос", а потом пишет, что поле "Вопрос" обязательно для заполнения.

Это ошибка или какие-то новые особенности проекта ?

[2017-04-12 16:22] Niklan commented on #478
@roman-yakimkin Можно скрин и как воспроизвести, просто задать вопрос и всё?

[2017-04-12 16:24] roman-yakimkin commented on #478
Знаете, несколько раз такое было.
Потом написал в поле заголовка "123" и вопрос записался.
Ну и после этого также изменил заголовок на нужный.

[2017-04-12 16:35] Niklan commented on #478
Вообще это очень странное поведение. Я сейчас обновлю ядро и модули и локально попробую вопросы позадавать.

[2017-04-12 16:49] Niklan commented on #478
К сожалению, ошибку я не смог воспроизвести. В следующий раз когда повторится, пожалуйста, запишите время (чтобы примерно по логам посмотреть), и какие теги были выбраны, проекты и версия ядра, есть подозрение на это. Там просто особо и багать нечему.

[2017-04-12 16:49] #478 closed, assigned to nobody

[2017-05-22 21:57] adubovskoy opened #479 "Промо-страница. (перенесено в соотв. репозиторий)"

[2017-05-22 22:12] #479 closed, assigned to nobody

[2017-05-22 22:12] adubovskoy commented on #479
https://github.com/dru-io/promo/issues/1

[2017-05-22 23:11] adubovskoy commented on #475
https://github.com/hybridauth/hybridauth/issues/771

[2017-05-22 23:22] adubovskoy commented on #475
Похоже проблема у вендора. Отключил пока иконку входа через вконтакте, остальные работают корректно.

[2017-05-27 13:49] adubovskoy opened #480 "Документация как разворачивать Dru.io на Drupal 8"
Подготовить переход на composer + документацию по разворачиванию для контрибьюторов

[2017-07-30 13:59] SemanticsPRO commented on #477
Помощь нужна?
Почему с https редирект на обычную версию?

[2017-07-30 14:05] Niklan commented on #477
Не понимаю зОчем. Давайте я HTTPS включу и редирект на него жесткий? Что выдумывать то.

**UPD**
Я раньше HTTPS не ставил так как была проблема с конфигами nginx, у меня уже наверное год так все пашет без проблем и автоматически продлевается LetsEncrypt. Я считаю что надо делать HTTPS.

[2017-07-30 16:13] SemanticsPRO commented on #477
Никит, перевод сайта на https, чтобы позиции не потерять, немного отличается от просто включил и забыл.
Я могу осуществить, крупные сайты я уже переводил.

[2017-07-30 16:19] Niklan commented on #477
Так я могу включить HTTPS но не делать жестокого редиректа. Пропишем там где надо уже на новые сайтмапы роботсы и постепенно зафорсим.

Нам что терять то. Весь трафик прямой или рефералы.

[2017-07-30 16:38] Niklan commented on #477
А нет, чекнул с поиска прут больше всего. Ну плавно сделаем. Подключу SSL дальше скажешь что делать или сам сделаешь.

[2017-08-04 14:35] pselfin commented on #1
http://drupal-tv.ru/ - за 2015 последний залив.
Нужен раздел, нужен...

[2017-08-15 16:15] Niklan commented on #480
Репо обновлен, смерджен с репо @politsin и все оттуда вычещено, только кастом + composer.json

[2017-08-15 16:20] #388 closed, assigned to nobody

[2017-08-15 16:23] #342 closed, assigned to fortis

[2017-08-16 00:16] adubovskoy opened #481 "Разделение проектов на гитхабе"
Есть мнение что для активной разработки проще будет:
1. текущий dru.io репо переименовать в d7.dru.io
2. сделать новый dru.io репо, где будет только d8, issue связанные с d8 и т.п.

Т.к. сейчас master и d8 ветки текущего репозитория не имеют общего родителя, выглядит неудобно.

вопрос дискуссионный, с другой стороны issue и история тоже важны. как удобней? или потом просто ветку 8.x переименовать

[2017-08-16 03:49] Niklan commented on #481
С одной стороны да, надо бы их отдельять но с другой стороны тут история и контрибуция. Ядро также пилят в куче веток и ничего :) Это одна из их задач.

Как по мне, так лучше просто закрыть все старые ишьюсы массово, и открывать только те что касаются 8-ки так как на 7-ке я так понял мы проект уже заморозили. Я сам хотел это вчера предложить. Те ишьюсы уже никто разбирать не будет, а если кому-то

[2017-08-16 05:48] Niklan commented on #391
Вопрос вроде как решен. Ещё раз недавно обсудили в чатике, у вопросов и ответов будет два типа комментариев: комментарий — ответ и самый обычный.

[2017-08-16 05:48] #391 closed, assigned to nobody

[2017-08-16 05:51] Niklan opened #482 "Тема для Drupal 8"
Верстку беру на себя.

Что касается макета и дизайна, на данный момент всё остается как и ранее. Тем не менее нам вызвались нарисовать дизайн в КлипСайт @andlevashov, так что если что, то тут будем обсуждать и макет для 8-ки.

[2017-08-16 10:12] #292 closed, assigned to nobody

[2017-08-18 16:15] andlevashov commented on #482
Реализация дизайна с учетом пожеланий "Нам так нравился старый ламповый Друпал.ру"
![dru-io-2 9](https://user-images.githubusercontent.com/15849842/29467514-e2ef3cf0-8451-11e7-9fc9-18d34f6d57e1.jpg)

[2017-08-18 16:20] Niklan commented on #482
Думаю поиск надо позаметнее как-то, в целом круто!

[2017-08-18 16:46] Niklan opened #483 "Миграция проектов D7->D8"
node type `project`

[2017-08-18 16:49] enemis commented on #482
Синий цвет верните. Выглядит если честно как дешевый темплейт монстр.

[2017-08-18 16:50] enemis commented on #482
Лента на главной :-1:  Сделайте календарь, важные ссылки только не лента это мрак

[2017-08-18 16:53] Niklan commented on #482
А вы знаете, что-то в этом есть. Если побродить по крупным сообществам, не только разработчиков, у многих видно что главная служит путеводителем. Да, там обычно есть пару последних новостей в легкой доступности, а все остальное что-то типа ссылок, но оформленых понятно и крупно. Типа как с кратким описанием раздела и т.д.

[2017-08-18 19:13] adubovskoy commented on #482
Цвета вполне нормальные, хотя имхо вопрос не принципиальный. Все равно это будет пяток scss-переменных, легко можно менять, хоть раз в неделю. Если @andlevashov и клипсайт не найдут время на цвета - будет psd исходник и каждый может поиграться предложить варианты. Понравится - решается сменой 5 строчек в коде.

По мелочам:
1. Кол-во тегов вопросов, не продумано если их будет много
2. Заказы - неко

[2017-08-18 19:37] adubovskoy commented on #482
А почему нет? Ради вопросов и заходят. Авторизованным сразу ленту надо показывать.

Да! Кстати, совсем забыл. Кнопочки добавить вопрос, добавить пост/заказ надо, гденть рядом с заголовком соответствующим

[2017-08-19 05:50] Niklan commented on #482
Добавить поле "Промо-картинка", и если пользователь не заполнил, а материал метит на главную, заполнять за него, если что сам дольет что хочет.

[2017-08-19 08:06] Niklan commented on #483
Done in [ef2c9b6](https://github.com/dru-io/Dru.io/commit/ef2c9b6f471d4c54ee7ea9be6e0aa1e2d3a77618)

[2017-08-19 08:06] #483 closed, assigned to Niklan

[2017-08-19 08:39] adubovskoy commented on #481
ok

[2017-08-19 08:39] #481 closed, assigned to nobody

[2017-08-19 09:56] adubovskoy opened #484 "Работа почты"
не уходит почта при регистрации

[2017-08-19 14:07] vistar commented on #482
Тоже по цветам возражение - в духе одного дизайнера, если глянуть его работы :)
Не друпальные какие-то.

Попробую своего дизайнера подключить.

[2017-08-20 19:27] adubovskoy commented on #484
upd: уходит корректно на яндекс-гугл. с кастомными доменами иногда проблемы. непонятно

[2017-08-21 14:45] andlevashov commented on #482
Версия главной для анонима без промо-новости, но с путеводителем.

![dru-io-2 13-ano](https://user-images.githubusercontent.com/15849842/29524416-cfb5b49c-86a0-11e7-9324-fa99d1d921e8.jpg)

[2017-08-21 14:47] andlevashov commented on #482
Версия главной для авторизованного пользователя:

![dru-io-2 13-auth](https://user-images.githubusercontent.com/15849842/29524510-102ee584-86a1-11e7-901c-d7fc4e6d06e1.jpg)

[2017-08-21 14:48] andlevashov commented on #482
Мы пока останавливаемся - до полноценного набора правок/голосования/принятия решения

[2017-08-21 14:49] Niklan commented on #482
Мне нравится. Хотя версия для авторизованых смотрится пустовато.

А то что цвет желтый, так мы это, как и было написано, эту идею подняли с воспоминания старого дизайна drupal.ru. В целом не критично, но желтый отлично вписывается.

[2017-08-21 14:58] adubovskoy commented on #482
И мне нравится.

Предлагаю следующий вариант: у нас еще уйдет наверное пара недель на миграции/каркас, перед самой версткой.

@andlevashov - выложите исходники гденть. Если кто-то предложить вариант с другой расцветкой или изменениями - будем обсуждать/выбирать. Если нет - примем текущий вариант и концепт (т.к. он сильно лучше текущего).

[2017-08-21 15:03] andlevashov commented on #482
Мои комментарии по некоторым моментам:

1) Цвет - изначальная задумка (старый д.ру) + сейчас вокруг ВСЁ СИНЕЕ (d.org, FB, VK. Twitter, тысячи их!)
2) Пустая главная для авторизованных - взяли с текущей главной dru.io - готовы выслушать предложения, что там могло бы быть. Если не будет вариантов - предложим "полушапку".
3) Лента на главной - её сейчас заменить нечем - пару событий в год не спасают.

[2017-08-21 17:43] adubovskoy commented on #2
Помечу на себя, надо добить в d8 версии.

[2017-08-22 12:41] enemis commented on #482
1. Не могу отрицать что синий везде. Но желтый объективно ( после черных экранов шторма) глаза режет, по крайней мере мне.
2 ленту замените путеводителем по разделам в духе старого Д.ру. с разделами\категориями\тегами. Может облако тегов хз.

[2017-08-22 12:58] vistar commented on #482
Так что - голосование будет? Или решаем в пару человек?

И исходник дизайна есть тут, чтобы "поиграться шрифтами/цветами"?

[2017-08-22 12:59] Niklan commented on #482
@vistar на данный момент выслушиваются пожелания и правки будут вноситься. А потом уже и поголосуем. За это время может больше народу подключится.

Пока что до верстки ещё далеко, поэтому всё очень свободно.

[2017-08-22 13:23] andlevashov commented on #482
@vistar - Виталий, решать в пару человек - плохой путь, конечно надо голосовать, но я бы хотел, чтобы была какая-то аргументация отстаиваемой позиции. Пока я вижу только два пункта для голосования: желтый/синий и лента/не лента.

@enemis - Андрей, смотри, какя штука - при переключении с "выворотки" (белым по черному) на обычный макет (черным по белому) по глазам бьет именно белый. Вспомогательные

[2017-08-22 13:25] andlevashov commented on #482
@vistar - наведем порядок и выложим )

[2017-08-22 14:40] vistar commented on #482
@andlevashov, лады. А то конкурса на дизайн не было объявлено (или пропустил?). Мы тоже хотели поучаствовать в сотворчестве. Может покритикуем хоть :)

[2017-08-22 14:43] andlevashov commented on #482
@vistar - тут исключительно наша инициатива. В чате началось обсуждение переезда на д8, и мы просто между делом сказали, мол, а давайте мы, нам ответили - а давайте )

[2017-08-22 14:43] Niklan commented on #482
@vistar всё это произошло спонтанно в чате разработчиков.

- Можно ради прикола сделать дизайн как на drupal.ru раньше желтый был, лишь осовременив.
- А давайте

И @andlevashov предложил что они нарисуют. Никто ничего пока ещё не принял. Это единственный на данный момент вариант, он лучше текущего, так что выбирать пока даже не из чего в общем-то. Если можете что-то своё предложить, пожалуйста, а

[2017-08-22 20:59] enemis commented on #482
@andlevashov Набросал улучшения на мой взгляд. Больше наверно проблема не в цвете. А очень слабый контраст сайта. Подумайте допустим о солнечном дне и грязном экране(мой случай) текст 'последний ответ' реально виден очень плохо.
![Image](http://pix.toile-libre.org/upload/original/1503435318.jpg)

[2017-08-23 05:52] Niklan commented on #482
@enemis заливка цветов у ответов считаю нужно оставить как в текущем варианте. Данное поле заливается в случае если на вопрос дан ответ с решением.

[2017-08-23 12:44] adubovskoy opened #485 "Общий Telegram-канал"
https://web.telegram.org/#/im?p=@niklannet как хороший прототип)

Сделать канал, раздать права на публикацию (именно нотифи-канал, чата там не будет).

Что публиковать:
- Вопросы/посты/заказы с dru.io
- Всякие полезняшки из мира drupal, ссылки (не обязательно на русском, что сочтем полезным)
- Объявления о кафе (всем организаторы кафе дать права)
- все что сочтут нужным)

Ботика написать, который

[2017-08-23 12:46] Niklan commented on #485
Канал есть, права выдам разрабам и голосованием тем кто попросит
https://t.me/druio

Думаю развивать его нужно после 8-ки, если кто хочет раньше заняться, то пожалуйста.

[2017-08-23 13:04] adubovskoy commented on #485
В ручном режиме публикаций можно и раньше . Через недельку попробую что-то начать.

[2017-08-25 04:21] Niklan commented on #420
done

[2017-08-25 04:21] #420 closed, assigned to Niklan

[2017-08-25 04:29] Niklan opened #486 "Миграция вопросов и ответов D7 -> D8"
Вопрос - нода
Ответ - тип комментария "комментарий ответ"
Комментарии к вопросу и ответу, самые обычные.

[2017-08-25 04:32] Niklan commented on #480
Поправил заголовок так как всё на композере уже.

Там лежит внутри профайл `config_installer`, который, к слову, надо убрать из репо, .gitignore его не покрыл. Он в зависимости композера и может установить абсолютно чистую версию сайта, с полноценным функционалом но без контента. Считаю его надо оставлять, особенно, пока базы 8-ки не появится в свободном доступе. Это удобно по многим причинам. Во-

[2017-08-25 04:40] Niklan commented on #480
config_installer удалил из репо и в игнор добавил `profiles/contrib/*`

[2017-08-25 09:39] andlevashov commented on #482
По поводу пустоватости версии для авторизованных - вариант с шапкой:

![dru-io-2 19](https://user-images.githubusercontent.com/15849842/29708695-a25dee86-899a-11e7-847a-8ebe21dfdc44.jpg)

и вариант с полушапкой:

![dru-io-2 20](https://user-images.githubusercontent.com/15849842/29708714-bc2395d2-899a-11e7-91a9-7bf10cb18195.jpg)

[2017-08-25 10:32] adubovskoy commented on #482
++ за полушапку.

[2017-08-25 12:07] Niklan commented on #482
Тоже нравится полушапка.

[2017-08-25 12:13] andlevashov commented on #482
Выкладывем исходники. Далее мы приостанавливаемся до решения сообщества, максимум что делаем - участвуем в обсуждениях и голосованиях

https://yadi.sk/d/8mesiVIA3MKZUj

[2017-08-25 14:59] Niklan commented on #418
done

[2017-08-25 14:59] #418 closed, assigned to Niklan

[2017-08-25 15:24] Niklan commented on #480
[Написал](https://github.com/dru-io/Dru.io/blob/8.x-migrations/README.md) в ветке миграций черновой вариант. Дальше уже дорабатывать будем по необходимости.

[2017-08-25 15:24] #480 closed, assigned to adubovskoy

[2017-08-26 08:04] Niklan commented on #396
Done

[2017-08-26 08:04] #396 closed, assigned to Niklan

[2017-08-26 08:06] Niklan commented on #2
@adubovskoy ты это будешь делать ДО релиза на 8ке, или после?

Я хочу разделить Milestones на Drupal 8 — всё что касается конкретно переноса и до самого запуска. И сделать Release 8.x-1.1 и будем собирать туда что сделать в каких итерациях.

[2017-08-26 12:18] adubovskoy commented on #2
думаю примерно на этапе сборки дизайна. вообще можно уже начинать, просто не знаю как со временем на эту неделю.

[2017-08-31 13:26] #416 closed, assigned to nobody

[2017-08-31 13:39] adubovskoy commented on #423
удалил пользователей с совокупностью признаков: со статусом заблокировано, которые 2 года не заходили и у которых нет материалов.

[2017-08-31 13:39] #423 closed, assigned to fortis

[2017-08-31 14:39] Niklan commented on #419
done

[2017-08-31 14:39] #419 closed, assigned to Niklan

[2017-09-02 07:30] Niklan commented on #436
Routing или Routing API
Plugin API (уже есть).
Controllers
Config API
Services (Не в смысле услуги а именно Services объектов).

У нас для этого есть Theming. Это его часть.

У нас также есть Import, и в 8-ке есть Migration API, не ясно. Отделять, переименовывать или не трогать. С одной стороны они пересекаются но импорт далеко не всегда мигерйт апи, фидсы, кастом, вообще вливание данных каким-либ

[2017-09-11 09:09] adubovskoy opened #492 "Защита от скликивания рейтинга"
Сейчас есть потенциальная возможность 1 человеку пройтись по хистори "неприятеля" и скликать рейтинг если у того много постов.

Требуется: сделать так чтобы пользователь конкретного человека мог минусовать не более 3 раз в день.

Ну а пока авторы если заметят такое - пусть пишут тут или в чат.

[2017-09-11 11:46] adubovskoy opened #493 "Batch падает"
upstream timed out (110: Connection timed out) while reading response header from upstream

[2017-09-25 15:33] Niklan commented on #493
Напомните а чо за батч вообще падает и куда копать?

[2017-09-25 15:37] Niklan commented on #486
Осталось - комменты ответу

[2017-09-26 14:45] Niklan commented on #486
:sunglasses: доделаны

[2017-09-26 14:45] #486 closed, assigned to Niklan

[2017-10-04 09:37] Niklan opened #496 "Страница с вопросом 1247 падает"
http://dru.io/answer/1247

На некоторых девайсах эта страница расыспается. Сбросил кэш на сайте, лично мне на мобилке помогло, на десктопе и не было проблемы, и не появилось.

Жалуются что есть и на десктопах и кэш не помог.

[Начало дискуссии](https://t.me/drupal_rus/29509)

[2017-10-04 09:39] Niklan commented on #496
![image](https://user-images.githubusercontent.com/2356744/31169374-d49db4e4-a911-11e7-98f4-339b1fdfe977.png)
Очень любопытная разметка.

[2017-10-04 09:53] Niklan commented on #496
Говорят починилось, выходит помогло `drush cc all`

[2017-10-04 09:53] #496 closed, assigned to nobody

[2017-11-12 17:06] kossmokvin opened #497 "Трекер вечно звенит"
Приветствую!
Проблема уже более полугода, а может и больше. Дошли руки.

Трекер в шапке постоянно "звенит" колокольчиком - захожу, а там пусто, нет новых оповещений.  Проблема началась с того момента, как я создал вопрос, который был удалён администратором. Видно по тому вопросу был ответ, который я не успел просмотреть, а так как вопрос удалён - то и не могу просмотреть.

![image](https://user-im

[2017-11-23 08:56] Niklan opened #498 "DrupalCamp Краснодар 2017"
Попросили сделать рекламку кэмпу.

Предлагаю сделать как это было с DrupalSib, сделаем растяжку на главной.  Тут можно взять фон и логотип: http://2017.drupalyug.ru/

Напишем название, пару слов и кнопки перехода на сайт кэмпа. Если никто не возьмет на себя задачу, сделаю сам на днях.

[2017-11-23 15:05] Niklan commented on #498
Сделал

[2018-01-09 04:41] imyaro opened #500 "Раздел "Расширения""
привет
Простенький вопрос:
Зачем нужен раздел расширения?
Проблемы, которые я увидел:

- Описания на русском нет
- Некоторые модуля выглядят, как минимум, неприятно. Пример: http://dru.io/project/static
- Невозможно добавить какой-либо модуль в список. Хотя бы с премодерацией.

Кажется, от раздела надо избавляться или же переделывать его полностью

[2018-01-09 09:13] Niklan commented on #500
В процессе добавления вопроса вроде же можно.

[2018-01-09 09:26] imyaro commented on #500
не очевидно :(
да и вопрос я задавать не хочу особо

[2018-01-09 09:28] Niklan commented on #500
Не обязательно его задавать. Просто там есть возможность добавить проект, и он появится сразу без добавления вопроса. В чем смысл добавлять проект просто так? На данный момент в этом нет смысла поэтому и standalone формы нет. Возможно подумаем в 8-ке над разделом получше.

[2018-01-20 08:46] Niklan commented on #484
Настроил SPF, DKIM и PTR запись. Теперь письма отправленные сервером 100% будут уходить как минимум в спам. Проблема должна быть решена.

[2018-01-20 08:46] #484 closed, assigned to Niklan

[2018-01-20 08:47] Niklan commented on #477
У нас уже примерно с того времени работет https и http паралельно. Думаю пора форсить уже https?

[2018-01-21 08:08] Niklan commented on #498
Код был убран.

[2018-01-21 08:08] #498 closed, assigned to nobody

[2018-01-23 14:25] Niklan opened #501 "Рейтинг в Drupal 8"
Собственно в 7-ке у нас используется [Voting API](https://www.drupal.org/project/votingapi). На 8-ке он походу заброшен, последний коммит был 16 июня 2016 года.

Что же будем делать:

- Берем Voting API и если что патчим и высылаем патчи пока там не появится меинтейнер.
- Пишем свой простой аналог под задачу.
- Ищем аналоги, может где-то уже пилится?

Надо мигрировать рейтинг, а мигрировать его не

[2018-01-23 14:27] adubovskoy commented on #501
Первый вариант ок, он может в процессе перерасти во второй (свое), и имхо ничего плохого в этом не будет. По ситуации.

Аналогов не знаю.

[2018-01-23 17:06] Niklan commented on #501
Окей, ставлю Voting API. Будем набивать шишки и помогать патчами если что.

[2018-01-23 17:06] #501 closed, assigned to Niklan

[2018-01-23 17:07] Niklan commented on #460
Думаю ишью больше не актуально с релизом промосайта эти страницы просто не нужны.

[2018-01-23 17:07] #460 closed, assigned to nobody

[2018-01-31 08:09] RuZniki opened #502 "В meta description попадает странный текст"
https://dru.io/event/9044
`<meta name="description" content="Привет, друзья! Приглашаем всех желающих на Drupal Meetup **10 февраля в Ростове-на-Дону**. На нашей встрече мы обсудим особенности Drupal, послушаем выступающих с докладами. Вечером идем все вместе на афтерпати! Ссылка на регистрацию: https://drupalyug.ru/meetup/rostov **Количество мест ограничено, участие в митапе бесплатное**! Если вы

[2018-02-15 23:50] adubovskoy opened #503 "Верстка подвала"
Задача по верстке, https://github.com/dru-io/Dru.io/issues/482 .

[2018-02-16 00:26] adubovskoy opened #504 "Блок "Что такое Drupal""
Верстка главной, по https://github.com/dru-io/Dru.io/issues/482

[2018-02-16 00:32] #503 closed, assigned to adubovskoy

[2018-02-16 00:32] #504 closed, assigned to adubovskoy

[2018-02-16 12:19] Niklan commented on #482
https://github.com/dru-io/Dru.io/projects/4#card-7471192 тест линковки на карточки

[2018-02-21 13:28] Niklan commented on #469
Такое теперь возможно в 8 ветке.

[2018-02-21 13:28] #469 closed, assigned to nobody

[2018-02-21 13:29] Niklan opened #505 "Написать миграцию комментариев для публикаций"
Как-то забыл про них вообще.

[2018-02-21 13:30] Niklan opened #506 "Обновить все миграции в соответствии с предстоящими изменениями в 8.6.0"
https://www.drupal.org/node/2944527

[2018-02-21 13:35] Niklan opened #507 "Проверить миграцию вопросов"
По каким-то причинам стали вылезать странные материалы при миграции

![screenshot_20180221_183443](https://user-images.githubusercontent.com/2356744/36482676-e4dca166-1735-11e8-8c25-7a41a53ad831.png)

По всей видимости это не опубликованные материалы или ещё чего. В общем надо найти и починить. Они всегда идут последними.

[2018-02-21 13:38] #506 closed, assigned to Niklan

[2018-02-21 14:02] #507 closed, assigned to Niklan

[2018-03-05 14:13] #505 closed, assigned to Niklan

[2018-03-14 14:17] Niklan opened #510 "Установка из конфигураций завершается с ошибкой"
![screenshot_20180314_191657](https://user-images.githubusercontent.com/2356744/37407764-45219b80-27bc-11e8-9f37-9bd78900065a.png)

[2018-03-14 14:17] Niklan commented on #510
После этого сразу крашится.

![screenshot_20180314_191724](https://user-images.githubusercontent.com/2356744/37407786-54fe35a4-27bc-11e8-82da-bcd1238a7e80.png)

[2018-03-14 14:27] Niklan commented on #510
Кажется проблему решил. Сейчас буду оформлять соответствующе.

[2018-03-14 14:37] Niklan commented on #510
https://www.drupal.org/project/snippet_manager/issues/2952920

Ждём ответа, потом пишу патч, патч или новый релиз уже цепляем в зависимости.

На данный момент чтобы установка прошла без ошибки надо в конфигах `snippet_manager.snippet.footer_copyright.yml` и `snippet_manager.snippet.footer_logo.yml` заменить `dependencies: { }` на

[code]

[2018-03-15 14:08] Niklan commented on #510
Закрываю на данный момент так как пока что проблема решена через патч.

[2018-03-15 14:08] #510 closed, assigned to Niklan

[2018-03-15 14:16] Niklan opened #511 "Утечка памяти при импорте переводов"
После импорта переводов drupal происходит утечка памяти в браузере, как FireFox, так и Chrome.

Мне нужно чтобы хоть кто-то подтвердил или опроверг данный баг. Именно с профилем config installer, так как в других утечка отсутствует. Если проявляется, я сделаю баг репорт и попробуем пропатчить.

[2018-03-16 00:41] adubovskoy commented on #511
Есть такое. Он начинает сыпать отладочную информацию. Через консоль ставится корректно (поправил инструкции чтобы легко было поставить через консоль)

[2018-03-16 03:16] Niklan commented on #511
А где ты это увидел? У меня консоль пустая, страница тоже.

[2018-03-16 13:00] Niklan commented on #511
https://www.drupal.org/project/config_installer/issues/2953585 может поможет или направит автор проекта.

[2018-06-04 08:06] alexd73 opened #516 "Добавить дату размещения в Заказ."
Привет!
При просмотре заказа нет даты размещения. Было бы не плохо видеть, когда размещен заказ.

[2018-07-11 09:41] pselfin opened #517 "Эмоджи в комментариях - 500 error"
Если в комменты вставить эмоджи, то при отправлении получаем 500 ошибку.
отловил скопировав коммент из соцсетей.

[2019-03-18 15:58] ivnish opened #518 "Проблемы при развёртывании локальной копии"
1) Не применяется патч к snippet_manager

![Screenshot at 2019-03-18 20-55-41](https://user-images.githubusercontent.com/29428813/54543867-3d269d00-49c0-11e9-97b5-13e200c6dd06.png)

2) Невозможно установить друио через drush

![Screenshot at 2019-03-18 20-56-39](https://user-images.githubusercontent.com/29428813/54543979-6cd5a500-49c0-11e9-96c7-b6edc4716c72.png)

3) Ну и собственно валится и импор

[2019-03-19 03:50] Niklan commented on #518
Патч для сниппет менеджера больше не нужен. Все чо я раньше патчил тебе не требуется.

Первым делом надо обновить ядро и все модули до актуальной версии, там много было исправление у configuration_installer.

[2019-04-29 13:06] ivnish commented on #518
Проблема решается использованием

https://gitlab.com/drupal.ru/dev_docker/tree/8.x

[2019-04-29 13:06] #518 closed, assigned to nobody

[2020-11-17 05:03] #233 closed, assigned to fortis

[2021-01-18 12:03] #439 closed, assigned to nobody

[2021-01-18 12:03] #441 closed, assigned to nobody

[2021-01-18 12:03] #446 closed, assigned to nobody

[2021-01-18 12:03] #451 closed, assigned to nobody

[2021-01-18 12:03] #452 closed, assigned to nobody

[2021-01-18 12:03] #456 closed, assigned to nobody

[2021-01-18 12:03] #463 closed, assigned to nobody

[2021-01-18 12:03] #468 closed, assigned to nobody

[2021-01-18 12:03] #470 closed, assigned to nobody

[2021-01-18 12:03] #471 closed, assigned to nobody

[2021-01-18 12:03] #472 closed, assigned to nobody

[2021-01-18 12:03] #473 closed, assigned to nobody

[2021-01-18 12:03] #474 closed, assigned to nobody

[2021-01-18 12:03] #475 closed, assigned to nobody

[2021-01-18 12:03] #477 closed, assigned to nobody

[2021-01-18 12:03] #482 closed, assigned to nobody

[2021-01-18 12:03] #485 closed, assigned to nobody

[2021-01-18 12:03] #492 closed, assigned to nobody

[2021-01-18 12:03] #493 closed, assigned to nobody

[2021-01-18 12:03] #497 closed, assigned to nobody

[2021-01-18 12:03] #500 closed, assigned to nobody

[2021-01-18 12:03] #502 closed, assigned to nobody

[2021-01-18 12:03] #511 closed, assigned to adubovskoy

[2021-01-18 12:03] #516 closed, assigned to nobody

[2021-01-18 12:03] #517 closed, assigned to nobody

[2021-01-18 12:04] #358 closed, assigned to nobody

[2021-01-18 12:04] #359 closed, assigned to nobody

[2021-01-18 12:04] #360 closed, assigned to nobody

[2021-01-18 12:04] #379 closed, assigned to nobody

[2021-01-18 12:04] #380 closed, assigned to nobody

[2021-01-18 12:04] #381 closed, assigned to fortis

[2021-01-18 12:04] #386 closed, assigned to nobody

[2021-01-18 12:04] #390 closed, assigned to nobody

[2021-01-18 12:04] #397 closed, assigned to nobody

[2021-01-18 12:04] #403 closed, assigned to nobody

[2021-01-18 12:04] #406 closed, assigned to nobody

[2021-01-18 12:04] #407 closed, assigned to adubovskoy

[2021-01-18 12:04] #409 closed, assigned to nobody

[2021-01-18 12:04] #410 closed, assigned to nobody

[2021-01-18 12:04] #412 closed, assigned to nobody

[2021-01-18 12:04] #414 closed, assigned to nobody

[2021-01-18 12:04] #415 closed, assigned to nobody

[2021-01-18 12:04] #421 closed, assigned to adubovskoy

[2021-01-18 12:04] #422 closed, assigned to fortis

[2021-01-18 12:04] #427 closed, assigned to fortis

[2021-01-18 12:04] #432 closed, assigned to fortis

[2021-01-18 12:04] #433 closed, assigned to nobody

[2021-01-18 12:04] #436 closed, assigned to nobody

[2021-01-18 12:04] #437 closed, assigned to nobody

[2021-01-18 12:04] #438 closed, assigned to nobody

[2021-01-18 12:04] #270 closed, assigned to fortis

[2021-01-18 12:04] #271 closed, assigned to fortis

[2021-01-18 12:04] #272 closed, assigned to fortis

[2021-01-18 12:04] #273 closed, assigned to fortis

[2021-01-18 12:04] #296 closed, assigned to nobody

[2021-01-18 12:04] #298 closed, assigned to nobody

[2021-01-18 12:04] #299 closed, assigned to nobody

[2021-01-18 12:04] #311 closed, assigned to nobody

[2021-01-18 12:04] #316 closed, assigned to adubovskoy

[2021-01-18 12:04] #318 closed, assigned to nobody

[2021-01-18 12:04] #319 closed, assigned to nobody

[2021-01-18 12:04] #322 closed, assigned to nobody

[2021-01-18 12:04] #323 closed, assigned to SemanticsPRO

[2021-01-18 12:04] #327 closed, assigned to fortis

[2021-01-18 12:04] #330 closed, assigned to nobody

[2021-01-18 12:04] #333 closed, assigned to nobody

[2021-01-18 12:04] #336 closed, assigned to nobody

[2021-01-18 12:04] #337 closed, assigned to fortis

[2021-01-18 12:04] #345 closed, assigned to nobody

[2021-01-18 12:04] #348 closed, assigned to nobody

[2021-01-18 12:04] #353 closed, assigned to nobody

[2021-01-18 12:04] #354 closed, assigned to nobody

[2021-01-18 12:04] #355 closed, assigned to nobody

[2021-01-18 12:04] #356 closed, assigned to adubovskoy

[2021-01-18 12:04] #357 closed, assigned to nobody

[2021-01-18 12:04] #152 closed, assigned to fortis

[2021-01-18 12:04] #163 closed, assigned to adubovskoy

[2021-01-18 12:04] #168 closed, assigned to nobody

[2021-01-18 12:04] #169 closed, assigned to nobody

[2021-01-18 12:04] #170 closed, assigned to nobody

[2021-01-18 12:04] #190 closed, assigned to fortis

[2021-01-18 12:04] #191 closed, assigned to nobody

[2021-01-18 12:04] #197 closed, assigned to nobody

[2021-01-18 12:04] #203 closed, assigned to fortis

[2021-01-18 12:04] #204 closed, assigned to nobody

[2021-01-18 12:04] #207 closed, assigned to nobody

[2021-01-18 12:04] #208 closed, assigned to fortis

[2021-01-18 12:04] #226 closed, assigned to nobody

[2021-01-18 12:04] #230 closed, assigned to fortis

[2021-01-18 12:04] #231 closed, assigned to nobody

[2021-01-18 12:04] #235 closed, assigned to nobody

[2021-01-18 12:04] #236 closed, assigned to fortis

[2021-01-18 12:04] #238 closed, assigned to adubovskoy

[2021-01-18 12:04] #243 closed, assigned to adubovskoy

[2021-01-18 12:04] #249 closed, assigned to nobody

[2021-01-18 12:04] #250 closed, assigned to fortis

[2021-01-18 12:04] #251 closed, assigned to nobody

[2021-01-18 12:04] #253 closed, assigned to nobody

[2021-01-18 12:04] #259 closed, assigned to fortis

[2021-01-18 12:04] #260 closed, assigned to fortis

[2021-01-18 12:04] #10 closed, assigned to nobody

[2021-01-18 12:04] #11 closed, assigned to nobody

[2021-01-18 12:04] #12 closed, assigned to nobody

[2021-01-18 12:04] #13 closed, assigned to nobody

[2021-01-18 12:04] #28 closed, assigned to SemanticsPRO

[2021-01-18 12:04] #54 closed, assigned to nobody

[2021-01-18 12:04] #57 closed, assigned to fortis

[2021-01-18 12:04] #73 closed, assigned to nobody

[2021-01-18 12:04] #78 closed, assigned to nobody

[2021-01-18 12:04] #79 closed, assigned to nobody

[2021-01-18 12:04] #86 closed, assigned to nobody

[2021-01-18 12:04] #89 closed, assigned to nobody

[2021-01-18 12:04] #92 closed, assigned to nobody

[2021-01-18 12:04] #98 closed, assigned to adubovskoy

[2021-01-18 12:04] #104 closed, assigned to nobody

[2021-01-18 12:04] #106 closed, assigned to nobody

[2021-01-18 12:04] #110 closed, assigned to nobody

[2021-01-18 12:04] #114 closed, assigned to SemanticsPRO

[2021-01-18 12:04] #116 closed, assigned to nobody

[2021-01-18 12:04] #117 closed, assigned to nobody

[2021-01-18 12:04] #120 closed, assigned to adubovskoy

[2021-01-18 12:04] #122 closed, assigned to nobody

[2021-01-18 12:04] #124 closed, assigned to nobody

[2021-01-18 12:04] #128 closed, assigned to nobody

[2021-01-18 12:04] #144 closed, assigned to nobody

[2021-01-18 12:04] #1 closed, assigned to nobody

[2021-01-18 12:04] #2 closed, assigned to adubovskoy

[2021-01-18 12:04] #4 closed, assigned to nobody

[2021-01-18 12:04] #5 closed, assigned to nobody

[2021-01-18 12:04] #7 closed, assigned to nobody

[2021-01-18 12:04] #8 closed, assigned to nobody

[2021-01-18 12:04] #9 closed, assigned to fortis

[2021-01-18 12:21] Niklan opened #519 "Судьба проекта"
Привет всем кто читает, пришло время что-то делать с проектом. 👋

Проект создавался Just for Fun и ему уже более 6 лет. Как видно из репозитория, никто за ним больше не следит.

Проект создавался как попытка оживить и встряхнуть русскоязычное сообщество во времена, когда drupal.ru был совершенно заброшен, как сейчас, заброшен и сам dru.io. Время шло, сейчас у сообщества есть возможность заниматься

[2021-01-18 13:26] adubovskoy commented on #519
Как контрибьютор я не против любого решения на твоё усмотрение.
На мой взгляд особого смысла в продлении нет. Делать дамп и расшарить его команде drupal.ru, чтобы когда дошли руки до миграций, контент вытянули в обновленный сайт.

[2021-01-18 13:32] avakorin commented on #519
Предлагаю обсудить этот вопрос 29-31 января в рамках Global Contribution Weekend.

[2021-01-19 05:08] Niklan commented on #519
Я могу поучаствовать если это не займёт слишком много времени. Я не знаком с тем как это мероприятие проходит, но было бы неплохо в пятницу :)

[2021-01-21 13:49] avakorin commented on #519
Это трехдневный марафон с пятницы до воскресенья.

Значит в пятницу будем обсуждать судьбу dru.io (: